/*! * Font Awesome 3.2.1 * the iconic font designed for Bootstrap * ------------------------------------------------------------------------------ * The full suite of pictographic icons, examples, and documentation can be * found at http://fontawesome.io. Stay up to date on Twitter at * http://twitter.com/fontawesome. * * License * ------------------------------------------------------------------------------ * - The Font Awesome font is licensed under SIL OFL 1.1 - * http://scripts.sil.org/OFL * - Font Awesome CSS, LESS, and SASS files are licensed under MIT License - * http://opensource.org/licenses/mit-license.html * - Font Awesome documentation licensed under CC BY 3.0 - * http://creativecommons.org/licenses/by/3.0/ * - Attribution is no longer required in Font Awesome 3.0, but much appreciated: * "Font Awesome by Dave Gandy - http://fontawesome.io" * * Author - Dave Gandy * ------------------------------------------------------------------------------ * Email: dave@fontawesome.io * Twitter: http://twitter.com/davegandy * Work: Lead Product Designer @ Kyruus - http://kyruus.com */















.profile #content .contact_profile{
    display:table;
    width:100%
}
.profile #content .contact_profile .nyrs img{
    bottom:-5px;
    position:relative;
    width:30px
}
.profile #content .contact_profile .name{
    display:table-cell;
    vertical-align:middle;
    width:100%
}
.profile #content .contact_profile .title{
    font-size:16px;
    font-weight:100;
    margin-bottom:8px
}
.profile #content .contact_profile .photo{
    float:left;
    width:130px;
    height:130px;
    overflow:hidden;
    display:table-cell;
    vertical-align:middle;
    margin-right:20px;
    border:1px solid #ccc;
    border-radius:50%;
    background-size:cover;
    background-position:top center
}
.profile #content .padded_solid_black_border{
    padding:12px 14px 22px 14px
}
.profile #content #profile_box{
    padding-right:14px;
    margin-bottom:30px
}
.profile #content #profile_box img.photo{
    border:1px solid #666;
    background-color:white;
    margin-bottom:3.5px
}
.profile #content #profile_box img.large{
    max-width:235px
}
.profile #content .bio p{
    margin:20px 0
}
.profile #content .listing_block{
    width:480px;
    margin-top:20px
}
.profile #content .items.item-rows .item:first-child{
    border-top:none
}
.profile #content #contact_info{
    overflow:hidden;
    text-align:left
}
.profile #content #contact_info>*{
    margin:20px 0
}
.profile #content #contact_info dl{
    display:table;
    width:100%
}
.profile #content #contact_info dt,.profile #content #contact_info dd{
    display:inline-block;
    margin:0;
    vertical-align:top
}
.profile #content #contact_info dt{
    width:28%
}
.profile #content #contact_info dd{
    width:70%
}
.profile #content a.email_icon{
    padding:0;
    float:0
}
.profile #content a.plain,.profile #content a.plain:hover,.profile #content a.plain:visited,.profile #content a.plain:link{
    color:inherit;
    text-decoration:inherit
}
.profile #content #blurb{
    text-align:left
}
.profile #content #social_box img{
    vertical-align:top
}
.profile #content #languages-licenses dl{
    display:table;
    width:100%
}
.profile #content #languages-licenses dt,.profile #content #languages-licenses dd{
    display:inline-block;
    margin:0;
    vertical-align:top
}
.profile #content #languages-licenses dt{
    width:28%
}
.profile #content #languages-licenses dd{
    width:70%
}
.profile #content #contact-agent form{
    margin-bottom:5px
}
.profile #content #contact-agent textarea{
    font-size:14px
}
.profile #content #contact-agent input[type="text"]{
    width:100%
}
.profile #content #building_experts .photo{
    width:120px;
    height:90px
}
.profile #content #building_experts .photo img{
    width:100%;
    height:auto
}
.profile #content #building_experts .details.row .price{
    font-size:1em
}



.profile #content #building_experts .details.row .details-title,.profile #content #building_experts .details.row .details-info{
    padding-left:0
}
.profile #content #building_experts .details.row .details-title{
    font-size:1.2em
}
.profile #content .tools{
    margin:14px 0;
    clear:both;
    text-align:left;
    padding:14px
}
.profile #content input[type="text"]{
    width:250px
}
.profile #content .bad_profile{
    color:#ff0000;
    text-decoration:line-through
}
.profile #content .comment{
    border-bottom:1px solid #ccc;
    clear:both;
    overflow:hidden;
    padding-top:15px;
    width:100%
}
.profile #content .comment .more{
    color:#999;
    float:left;
    margin-bottom:1em;
    padding-right:4px;
    text-align:right;
    width:140px
}
.profile #content .comment .more .login{
    font-weight:bold;
    letter-spacing:0.5px;
    color:#000
}
.profile #content .comment .more .links{
    margin-top:1px
}
.profile #content .comment .body{
    margin-left:150px
}
.profile #content .comment .body p{
    margin-top:0;
    margin-bottom:15px
}
.profile #content .expand_reply{
    text-align:right;
    padding-bottom:10px
}
.profile #content .stream .listing{
    margin-bottom:25px
}
.profile #content .loading{
    margin:30px auto
}
.profile #content .fail_load{
    color:#e85d10;
    margin:30px auto;
    text-align:center
}
@media screen and (max-width: 979px){
    .profile #content{
        padding-left:20px;
        padding-right:20px
    }
    .profile #content .contact_profile h1>img{
        width:22px
    }
    .profile #content .right_two_thirds,.profile #content .right_third{
        width:100%
    }
    .profile #content .left_two_thirds #profile_box{
        padding:20px 14px 20px 0px;
        margin-bottom:10px
    }
    .profile #content #profile_box .photo{
        width:100px;
        height:100px
    }
}
@media screen and (min-width: 660px) and (max-width: 979px){
    .profile #content #profile_box{
        display:table;
        padding:0 0 20px
    }
    .profile #content .contact_profile,.profile #content #contact_info{
        display:table-cell;
        vertical-align:middle
    }
    .profile #content .contact_profile{
        padding-right:20px;
        width:auto;
        min-width:350px
    }

    .profile #content dl{
        border-left:1px solid #ccc;
        margin:0;
        padding:20px 0 20px 20px
    }
}
@media screen and (max-width: 659px){
    .profile #content #contact_info dl{
        margin-top:14px
    }
    .profile #content .comment .more{
        float:none;
        text-align:left;
        width:100%
    }
    .profile #content .comment .more .login+div{
        line-height:1;
        margin-bottom:14px
    }
    .profile #content .comment .body{
        margin-left:0
    }
}













.view-options{

    height:60px;
    padding:10px 0;
    /*position:relative;*/
    width:100%;
    z-index:900
}
.view-options>div{
    display:inline
}
