.project-info-container{
    text-align:center
}
.project-info-container .info-col{
    display:inline-block;
    padding:8px 22px;
    margin:12px 0 17px;
    border-right:1px solid #e6e6e6;
    width:24.5%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.project-info-container .info-col:last-child{
    border:none
}
.project-info-container .info-value{
    font-size:16px;
    line-height:22px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
