@charset "UTF-8";

/**
 * 2.0 - Resets
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ul,
ol,
dl,
dd,
th,
td,
pre,
button {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
}

img {
	border: 0;
}






.category-list {
	margin-bottom: 0;
}
.category-list li {
	display: inline-block;
}
.category-list li:after {
	content: "/";
	margin: 0 5px;
}
.category-list li:last-child:after {
	content: none;
}
.category-list li,
.category-list li > a,
.category-list li:after {
	display: inline-block;
	vertical-align: middle;
}
.category-list a {
	font-size: 1.125rem;
}









.postcard--widget,
.card--widget {
	margin: 0 auto;
	max-width: 350px;
	width: 100%;
}










ul.categories--widget .category-cover > a {
	-webkit-box-flex: 1;
	flex-grow: 1;
	-ms-flex-positive: 1;
}
ul.categories--widget a {
	background: rgba(0, 0, 0, 0.5);
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	/*padding: 44px 0 33px;*/
	text-align: center;

	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
}
