<template>
<router-view></router-view>
</template>

<script>
  /* ============
   * Index router Page
   * ============
   *
   * Index router view
   */

  export default {
    /**
     * The name of the page.
     */
    name: 'index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    created: function () {
    },
    /**
     * The methods the page can use.
     */
    methods: {
    },

    /**
     * The components the page can use.
     */
    components: {
    }
  }
</script>
