<template>
  <v-layout>
<div class=" container  container-fixed-lg">
<div class="br-section-wrapper pd-0 mg-y-40">
<form @submit.prevent="submit(model)" autocomplete="off">
<div class="br-section-header">
          <h6 class="br-section-label">Edit information</h6>
          <p class="br-section-text">A form with a label on top of each form control.</p>
</div>
<div class="br-section-body pd-70-force">
<alert :alert="getMessage" />

          <div class="form-layout form-layout-1">
          <div class="row">
            <div class="col-lg-8">
            <div class="row mg-b-25">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Firstname: <span class="tx-danger">*</span></label>
                  <input class="form-control" type="text" v-model="model.firstName" placeholder="Enter firstname" />
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Lastname: <span class="tx-danger">*</span></label>
                  <input class="form-control" type="text" v-model="model.lastName" placeholder="Enter lastname" />
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group mg-b-10-force">
                  <label class="form-control-label">Birthdate: <span class="tx-danger">*</span></label>
                  <masked-input class="form-control" type="text" v-model="model.birthDate" mask="1111-11-11" placeholder="yyyy-mm-dd" />
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
              <div class="form-group">
                  <label class="form-control-label mg-r-10">Gender : <span class="tx-danger">*</span></label>
                  <label class="rdiobox d-inline-block">
                    <!--input type="radio" v-model="model.gender" value="female" id="female"/ -->
                    <input type="radio" id="female" value="female" v-model="model.gender">
                    <span>Female</span>
                  </label>
                  <label class="rdiobox d-inline-block mg-xs-l-20">
                    <!--input type="radio" v-model="model.gender" value="male" id="male" /-->
                    <input type="radio" id="male" value="male" v-model="model.gender">
                    <span>Male</span>
                  </label>
                </div>

              </div><!-- col-4 -->

</div>
            </div>
            <div class="col-lg-4">
              <label class="form-control-label mg-r-10">Photo : </label>
<div class=" mg-md-t-0">

            <div class="ht-150 bd bd-dashed d-flex align-items-center justify-content-center rounded bg-gray-300">

            <div v-show="showPhoto === true" class="tx-center">

<div class="upload-wrapper">
  <a href="javascript:;" @click="removeFile" class="close-classic"></a>
  <img :src="$store.state.global.object.image" class="wd-100 rounded-circle" alt="">
</div>
<span>Change file</span>

                </div>

              <div v-show="showPhoto === false" class="tx-center wd-60p">
                <input type="file" name="files" id="file-3" class="inputfile" accept="image/*"  @change="handleFilesSelect" />
<label for="file-3" class="if-style-1 if-primary">
  <div class="icon-wrapper">
    <i class="icon ion-ios-upload-outline"></i>
  </div>
  <span>Choose a file</span>
</label>
              </div>
            </div>
          </div><!-- card -->

            </div>
            </div><!-- row -->


          </div><!-- form-layout -->
          </div>
          <div class="br-section-footer">

              <button id="edit_information" class="btn btn-info">Submit Form</button>
              <button class="btn btn-secondary">Cancel</button>

          </div>
</form>
        </div>
      </div>

  </v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from 'layouts/Dashboard'
  import MaskedInput from 'vue-masked-input'
  import Transformer from 'transformers/AccountTransformer'
  import Alert from 'components/message/Alert'

  export default {
    /**
     * The name of the page.
     */
    name: 'profile-editinformation',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          firstName: null,
          lastName: null,
          birthDate: null,
          gender: null
        },
        showPhoto: false
      }
    },

    created: function () {
      // `this` points to the vm instance
      this.find()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      find: function (payload) {
        this.$http.get('/api/profile/get', this.model).then(response => {
          // get status
          if (response.data.profileInformation.profilePhoto.url !== null) {
            this.$store.dispatch('global/setObject', { image: response.data.profileInformation.profilePhoto.url })
            this.showPhoto = true
          }
          this.model = Object.assign({}, this.model, Transformer.fetch(response.data))
        }, response => {
          // get failed
          console.log(response)
        })
      },
      submit: function (payload) {
        payload = {method: 'post', url: '/api/profile/edit/information', data: Transformer.send(this.model), form: window.$('#edit_information')}
        this.$store.dispatch('global/submit', payload)
        this.$store.dispatch('account/find')
      },
      bytesToSize (bytes) {
        const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB']
        if (bytes === 0) return 'n/a'
        let i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)))
        if (i === 0) return bytes + ' ' + sizes[i]
        return (bytes / Math.pow(1024, i)).toFixed(2) + ' ' + sizes[i]
      },
      removeFile: function () {
        this.$store.dispatch('global/setObject', {})
        this.showPhoto = false
      },
      handleFilesSelect: function (e) {
        // create a constant $this so that the element can be access everywhere
        let profilePhoto = e.target.files
        if (!profilePhoto || !window.FileReader) return
        if (!profilePhoto[0].type.match('image.*')) {
          return
        }
        let reader = new FileReader()
        reader.onload = (e) => {
          let fileObject = {
            file: profilePhoto[0],
            size: this.bytesToSize(profilePhoto[0].size),
            image: e.target.result
          }
          this.$store.dispatch('global/setObject', fileObject)
        }
        reader.readAsDataURL(profilePhoto[0])
        this.showPhoto = true
      }
    },
    computed: {
      /**
       * Will display the message wether its true or false
       */
      getMessage: function () {
        return this.$store.state.message
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout,
      MaskedInput,
      Alert
    }
  }
</script>
