<template>
<v-layout>



<div class="br-section-wrapper pd-0">
<form @submit.prevent="submit(model)" autocomplete="off">
<div class="br-section-header">
          <h6 class="br-section-label">Edit role</h6>
          <p>A form with a label on top of each form control.</p>
</div>
<div class="br-section-body pd-70-force">

<alert :alert="getMessage" />



<!-- First branch What Type of Project ============================== -->
						<div class="form-group" id="role">

							<div class="row">
								<div class="col-lg-3">
									<div class="item">
										<!--input id="answer_1" type="checkbox" name="branch_1_group_1" value="Seo-Optimization" class="required"-->
                    <input type="checkbox" v-model="model.role"  id="buyer" value="ROLE_BUYER" />
										<label class="rounded-5 d-block pd-45 tx-center mg-b-0 pos-relative tx-9-force bd tx-light text-lowercase" for="buyer"><img class="mg-b-15 mg-t-0 mg-r-auto mg-l-auto d-block" src="/static/images/svg/for-sale.svg" alt=""><strong class="d-block tx-14">Buyer</strong>Postea democritum mnesarchum ne nam, ad vim aperiri tractatos.</label>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="item">
										<input type="checkbox" v-model="model.role"  id="tenant" value="ROLE_TENANT" />
										<label class="rounded-5 d-block pd-45 tx-center mg-b-0 pos-relative tx-9-force bd tx-light text-lowercase" for="tenant"><img class="mg-b-15 mg-t-0 mg-r-auto mg-l-auto d-block" src="/static/images/svg/for-rent.svg" alt=""><strong class="d-block tx-14">Tenant</strong>Postea democritum mnesarchum ne nam, ad vim aperiri tractatos.</label>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="item">
										<input type="checkbox" v-model="model.role"  id="seller" value="ROLE_SELLER" />
										<label class="rounded-5 d-block pd-45 tx-center mg-b-0 pos-relative tx-9-force bd tx-light text-lowercase" for="seller"><img class="mg-b-15 mg-t-0 mg-r-auto mg-l-auto d-block" src="/static/images/svg/seller.svg" alt=""><strong class="d-block tx-14">Seller</strong>Postea democritum mnesarchum ne nam, ad vim aperiri tractatos.</label>
									</div>
								</div>
                <div class="col-lg-3">
									<div class="item">
										<input type="checkbox" v-model="model.role"  id="lessor" value="ROLE_LESSOR" />
										<label class="rounded-5 d-block pd-45 tx-center mg-b-0 pos-relative tx-9-force bd tx-light text-lowercase" for="lessor"><img class="mg-b-15 mg-t-0 mg-r-auto mg-l-auto d-block" src="/static/images/svg/lessor.svg" alt=""><strong class="d-block tx-14">Lessor</strong>Postea democritum mnesarchum ne nam, ad vim aperiri tractatos.</label>
									</div>
								</div>
							</div>
							<!-- /row-->
              <span class="error"></span>
						</div>
						<!-- /First branch What Type of Project ============================== -->

</div>

<div class="br-section-footer">

              <button id="edit_role" class="btn btn-info">Submit Form</button>
              <button class="btn btn-secondary">Cancel</button>

          </div>

</form>
        </div>


</v-layout>
</template>

<script>
/* ============
 * Login Index Page
 * ============
 *
 * Page where the user can login.
 */

  import VLayout from 'layouts/Dashboard'
  import Transformer from 'transformers/RoleTransformer'
  import Alert from 'components/message/Alert'

  export default {
    /**
     * The name of the page.
     */
    name: 'profile-editrole',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          role: []
        }
      }
    },

    created: function () {
      this.model = Object.assign({}, this.model, this.$store.state.account)
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      submit: function (payload) {
        payload = {method: 'put', url: '/api/profile/edit/role', data: Transformer.send(this.model), button: window.$('#edit_role')}
        this.$store.dispatch('global/submit', payload)
        this.$store.dispatch('account/find')
      }
    },

    /**
     * The computed the page going to use
    */
    computed: {
      getMessage: function () {
        return this.$store.state.message
      }
    },

    /**
     * The components the page can use.
    */
    components: {
      VLayout,
      Alert
    }
  }
</script>
