<template>
<div class="bg-white rounded shadow-base overflow-hidden">
              <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                <i class="ion ion-earth tx-80 lh-0 tx-primary op-5"></i>
                <div class="mg-l-20">
                  <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase mg-b-10">Today's Visits</p>
                  <p class="tx-32 tx-inverse tx-lato tx-black mg-b-0 lh-1">1,975,224</p>
                  <span class="tx-12 tx-roboto tx-gray-600">24% higher than yesterday</span>
                </div>
              </div>
              <div id="ch5" class="ht-60 tr-y-1"></div>
            </div>
</template>

<script>
  /* ============
   * Line stack area Component
   * ============
   *
   * A basic panel component.
   *
   * Gives an idea how components work.
   */
import Chart from 'chart.js'

/* eslint-disable no-new */
export default {
    /**
     * The name of the page.
    */
    name: 'widget-statistic-small',

    data () {
      return {
        labels: ['Active', 'In Development', 'Completed', 'On Hold', 'Canceled'],
        data: [3, 5, 2, 6, 10]
      }
    },
    props: ['identification', 'height'],
    mounted: function () {
      this.startPie(this.$refs.canvas, 'pie')
    },
    methods: {
      startPie: function (canvas, type) {
        // init chart.js
        new Chart(canvas, {
          type: type,
          data: {
            labels: this.labels,
            datasets: [
              {
                data: this.data,
                backgroundColor: [
                  '#e25039',
                  '#27a86e',
                  '#f39c12',
                  '#00c0ef',
                  '#428dbc'
                ],
                hoverBackgroundColor: [
                  '#FF6384',
                  '#36A2EB',
                  '#FFCE56'
                ]
              }]
          },
          options: {
            animation: {
              animateScale: true
            }
          }
        })
      }
    }
  }
</script>
