<template>
<v-layout>

<div class="container">
            <div class="row">
                <div class="col-xl-3 u-p-zero u-hidden-down@wide">
                    <div class="c-profile-card">
                        <div class="c-profile-card__cover">
                            <img src="img/profile-card-cover.jpg" alt="Adam's profile cover">
                        </div>

                        <div class="c-profile-card__user">
                            <div class="c-profile-card__avatar">
                                <img src="img/avatar-200.jpg" alt="Adam's image">
                            </div>

                            <h4 class="c-profile-card__name">Alejandro Garza
                                <a class="c-profile-card__username" href="#">@Alejandro</a>
                            </h4>
                        </div>

                        <ul class="c-profile-card__stats">
                            <li class="c-profile-card__state">
                                Post <span class="c-profile-card__state-number">594</span>
                            </li>
                            <li class="c-profile-card__state">
                                Followers <span class="c-profile-card__state-number">2,185</span>
                            </li>
                            <li class="c-profile-card__state">
                                Following <span class="c-profile-card__state-number">598</span>
                            </li>
                        </ul>
                    </div><!--// .c-profile -->

                    <div class="c-gallery-card">
                        <div class="c-gallery-card__header">
                            <h4 class="c-gallery-card__title">Best Pictures for Today</h4>
                            <a class="u-text-mute" href="#"><i class="fa fa-cog"></i></a>
                        </div>

                        <div class="c-gallery-card__items">
                            <img class="c-gallery-card__img" src="img/gallery1.jpg" alt="Sea">
                            <img class="c-gallery-card__img" src="img/gallery2.jpg" alt="Sea">
                            <img class="c-gallery-card__img" src="img/gallery3.jpg" alt="Sea">
                            <img class="c-gallery-card__img" src="img/gallery4.jpg" alt="Sea">
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-xl-6">
                    <div class="c-post">
                        <textarea class="c-post__content">I am currently writing a dissertation about whether Web Designers should know how to code their designs or just be the best designer they can be and I was wondering if I could get your thoughts on on this question and if coding is essential to a Web Designer.</textarea>

                        <div class="c-post__toolbar">
                            <a class="c-post__submit c-btn c-btn--info" href="#">
                                <i class="fa fa-picture-o"></i>
                            </a>

                            <a class="c-post__time" href="#">
                                <i class="fa fa-clock-o u-color-blue"></i>Scheduled: 13:50 (GMT+1) 6/4/2014
                            </a>

                            <a class="c-btn c-btn--success u-float-right" href="#" >Post</a>
                        </div>
                    </div>


                    <ol class="c-stream">
                        <li class="c-stream-item o-media">

                            <div class="o-media__img u-mr-small">
                                <div class="c-avatar c-avatar--medium">
                                    <img class="c-avatar__img" src="img/avatar4-120.jpg" alt="Adam's face">
                                </div>
                            </div>

                            <div class="c-stream-item__content o-media__body">
                                <div class="c-stream-item__header">
                                    <a class="c-stream-item__name" href="#">Mollie Richardson<span class="c-stream-item__username">@Mollie</span>
                                    </a>
                                    <span class="c-stream-item__time">3m</span>
                                </div>

                                <p class="u-mb-small">I shared this on my fb wall a few months back, and I thought I'd share it here again because it's such a great read. "You already found your passion.” You are just ignoring it. The problem isn't passion. It's never passion. It's priorities.</p>

                                <div class="c-stream-item__gallery">
                                    <img src="img/tweet1.jpg" alt="Image from Unsplash">
                                    <img src="img/tweet2.jpg" alt="Image from Unsplash">
                                </div>

                                <div class="u-flex u-justify-between">
                                    <div class="c-stream-item__actionlist">
                                        <a class="c-stream-item__action" href="#">
                                            <i class="fa fa-heart-o"></i>35
                                        </a>
                                        <a class="c-stream-item__action" href="#">
                                            <i class="fa fa-comment-o"></i>34
                                        </a>
                                        <a class="c-stream-item__action" href="#">
                                            <i class="fa fa-reply"></i>54
                                        </a>
                                    </div>

                                    <a class="c-strem-item__actiontoggle" href="#">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </a>
                                </div>
                            </div>

                        </li>

                        <li class="c-stream-item o-media">

                            <div class="o-media__img u-mr-small">
                                <div class="c-avatar c-avatar--medium">
                                    <img class="c-avatar__img" src="img/avatar3-120.jpg" alt="Adam's face">
                                </div>
                            </div>

                            <div class="c-stream-item__content o-media__body">
                                <div class="c-stream-item__header">
                                    <a class="c-stream-item__name" href="#">Mollie Richardson<span class="c-stream-item__username">@Mollie</span>
                                    </a>
                                    <span class="c-stream-item__time">3m</span>
                                </div>

                                <p class="u-mb-small">I shared this on my fb wall a few months back, and I thought I'd share it here again because it's such a great read. "You already found your passion.” You are just ignoring it. The problem isn't passion. It's never passion. It's priorities.</p>

                                <div class="u-flex u-justify-between">
                                    <div class="c-stream-item__actionlist">
                                        <a class="c-stream-item__action u-color-danger" href="#">
                                            <i class="fa fa-heart"></i>35
                                        </a>
                                        <a class="c-stream-item__action" href="#">
                                            <i class="fa fa-comment-o"></i>34
                                        </a>
                                        <a class="c-stream-item__action" href="#">
                                            <i class="fa fa-reply"></i>54
                                        </a>
                                    </div>

                                    <a class="c-strem-item__actiontoggle" href="#">
                                        <img src="img/icon-dots.svg" alt="More">
                                    </a>
                                </div>
                            </div>

                        </li>

                        <li class="c-stream-item o-media">

                            <div class="o-media__img u-mr-small">
                                <div class="c-avatar c-avatar--medium">
                                    <img class="c-avatar__img" src="img/avatar5-120.jpg" alt="Adam's face">
                                </div>
                            </div>

                            <div class="c-stream-item__content o-media__body">
                                <div class="c-stream-item__header">
                                    <a class="c-stream-item__name" href="#">Mollie Richardson<span class="c-stream-item__username">@Mollie</span>
                                    </a>
                                    <span class="c-stream-item__time">3m</span>
                                </div>

                                <p class="u-mb-small">I shared this on my fb wall a few months back, and I thought I'd share it here again because it's such a great read. "You already found your passion.” You are just ignoring it. The problem isn't passion. It's never passion. It's priorities.</p>

                                <div class="c-stream-item__gallery">
                                    <img src="img/tweet3.jpg" alt="Image from Unsplash">
                                    <img src="img/tweet4.jpg" alt="Image from Unsplash">
                                </div>

                                <div class="u-flex u-justify-between">
                                    <div class="c-stream-item__actionlist">
                                        <a class="c-stream-item__action" href="#">
                                            <i class="fa fa-heart-o"></i>35
                                        </a>
                                        <a class="c-stream-item__action" href="#">
                                            <i class="fa fa-comment-o"></i>34
                                        </a>
                                        <a class="c-stream-item__action u-color-success" href="#">
                                            <i class="fa fa-reply"></i>54
                                        </a>
                                    </div>

                                    <a class="c-strem-item__actiontoggle" href="#">
                                        <img src="img/icon-dots.svg" alt="More">
                                    </a>
                                </div>
                            </div>

                        </li>
                    </ol><!-- // .c-stream -->

                </div>

                <div class="col-lg-4 col-xl-3 u-p-zero u-hidden-down@desktop">
                    <div class="c-card u-p-small">

                        <div class="o-line u-mb-small">
                            <h6 class="u-m-zero">Who to Follow</h6>
                            <a class="u-text-small" href="#">Show All</a>
                        </div>

                        <div class="o-media u-mb-small">
                            <div class="o-media__img">
                                <div class="c-avatar c-avatar--small u-mr-small">
                                    <img class="c-avatar__img" src="img/avatar6-120.jpg" alt="Adam's Face">
                                </div>
                            </div>
                            <div class="o-media__body">
                                <a class="u-text-small u-text-dark" href="#">Mollie Richardson</a>
                                <small class="u-text-mute">@Mollie</small>
                                <a href="#" class="c-btn c-btn--small c-btn--secondary">
                                    <i class="fa fa-user-plus u-opacity-medium"></i>Follow
                                </a>
                            </div>
                        </div><!-- // .o-media -->

                        <div class="o-media u-mb-small">
                            <div class="o-media__img">
                                <div class="c-avatar c-avatar--small u-mr-small">
                                    <img class="c-avatar__img" src="img/avatar2-120.jpg" alt="Adam's Face">
                                </div>
                            </div>
                            <div class="o-media__body">
                                <a class="u-text-small u-text-dark" href="#">Mollie Richardson</a>
                                <small class="u-text-mute">@Mollie</small>
                                <a href="#" class="c-btn c-btn--small c-btn--secondary">
                                    <i class="fa fa-user-plus u-opacity-medium"></i>Follow
                                </a>
                            </div>
                        </div><!-- // .o-media -->

                        <div class="o-media u-mb-small">
                            <div class="o-media__img">
                                <div class="c-avatar c-avatar--small u-mr-small">
                                    <img class="c-avatar__img" src="img/avatar3-120.jpg" alt="Adam's Face">
                                </div>
                            </div>
                            <div class="o-media__body">
                                <a class="u-text-small u-text-dark" href="#">Mollie Richardson</a>
                                <small class="u-text-mute">@Mollie</small>
                                <a href="#" class="c-btn c-btn--small c-btn--secondary">
                                    <i class="fa fa-user-plus u-opacity-medium"></i>Follow
                                </a>
                            </div>
                        </div><!-- // .o-media -->

                        <div class="o-media u-mb-small">
                            <div class="o-media__img">
                                <div class="c-avatar c-avatar--small u-mr-small">
                                    <img class="c-avatar__img" src="img/avatar4-120.jpg" alt="Adam's Face">
                                </div>
                            </div>
                            <div class="o-media__body">
                                <a class="u-text-small u-text-dark" href="#">Mollie Richardson</a>
                                <small class="u-text-mute">@Mollie</small>
                                <a href="#" class="c-btn c-btn--small c-btn--secondary">
                                    <i class="fa fa-user-plus u-opacity-medium"></i>Follow
                                </a>
                            </div>
                        </div><!-- // .o-media -->

                        <div class="o-media u-mb-xsmall">
                            <div class="o-media__img">
                                <div class="c-avatar c-avatar--small u-mr-small">
                                    <img class="c-avatar__img" src="img/avatar5-120.jpg" alt="Adam's Face">
                                </div>
                            </div>
                            <div class="o-media__body">
                                <a class="u-text-small u-text-dark" href="#">Mollie Richardson</a>
                                <small class="u-text-mute">@Mollie</small>
                                <a href="#" class="c-btn c-btn--small c-btn--secondary">
                                    <i class="fa fa-user-plus u-opacity-medium"></i>Follow
                                </a>
                            </div>
                        </div><!-- // .o-media -->

                    </div><!-- // .c-card -->
                </div>
            </div>
        </div><!-- // .container -->


</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */
  import VLayout from 'layouts/Dashboard'
  import ModalProposal from 'components/ModalProposal'
  import ModalProperty from 'components/ModalProperty'
  import Dropdown from 'components/Dropdown'
  import moment from 'moment'

  export default {
    /**
     * The name of the page.
     */
    name: 'feeds-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        visibility: false,
        showModalProposal: false,
        showModalProposalInterest: false,
        feedActivity: {},
        showModalProperty: false
      }
    },

    created: function () {
      this.findAll()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      showProposal: function (e) {
        this.showModalProposal = true
        e.preventDefault()
      },
      showProperty: function (e) {
        this.showModalProperty = true
        e.preventDefault()
      },
      showActionInterest: function (e) {
        this.$store.dispatch('global/setObject', e.proposal)
        this.showModalProposalInterest = true
        this.feedActivity = e
        this.$root.$emit('find-properties')
        this.$root.$emit('find-proposalHasProperties')
      },
      getClosestTime: function (time) {
        let beginning = moment(time)
        let ending = moment()
        return ending.diff(beginning, 'days')
      },
      getTime: function (time) {
        time = moment(time).fromNow()
        return time
      },
      findAll: function () {
        // this.$store.dispatch('form/loading', true)
        let payload = {url: 'api/feed/list', parameters: {status: 'is_actived', size: 6}}
        this.$store.dispatch('global/findAll', payload)
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout,
      ModalProposal,
      ModalProperty,
      Dropdown
    }
  }
</script>
