<template>
<v-layout>
<modal-proposal :show="showModalProposal" @close="showModalProposal = false" />
<modal-property :show="showModalProperty" @close="showModalProperty = false" />
<modal-show-proposal-interest :show="showModalProposalInterest" :feedActivity="feedActivity" @close="showModalProposalInterest = false" />
<div class="row" style=" margin-top: 20px;">
<div class="col-md-3">

<div class="card social-card share " data-social="item">
<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
</div>
<div class="card-header clearfix">
<h5>Welcome, Shannon Williams</h5>
<h6>Shared a photo
<span class="location semi-bold"><i class="fa fa-map-marker"></i> NYC, New York</span>
</h6>
</div>
<div class="card-description text-center">
<img style="border-radius:50%;width:60%;" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/4x.jpg" />
<br /><br />
<a href="/profile/edit">Update profile</a>

</div>

<div class="card-header">
 <h5>Searching profile</h5> 
 <h6>Shared a photo on your wall</h6>
</div>

<div class="card-header">
  <h5>Properties</h5> 
  <h6>Shared a photo on your wall</h6>
</div>

<div class="card-header">
  <h5>Proposals</h5> 
  <h6>Shared a photo on your wall</h6>
</div>

</div>

</div>
<div class="col-md-6">

<div data-social="item" class="card social-card share"><div title="" data-container="body" data-original-title="Label" class="circle"></div> <div class="card-header clearfix"><h5>Welcome, Shannon Williams</h5> <h6>Shared a photo
<span class="location semi-bold"><i class="fa fa-map-marker"></i> NYC, New York</span></h6></div> <div class="card-description text-center"><img src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/4x.jpg" style="border-radius: 50%; width: 60%;"> <br><br> <a href="/profile/edit">Update profile</a></div> <div class="card-header"><h5>Searching profile</h5> <h6>Shared a photo on your wall</h6></div> <div class="card-header"><h5>Properties</h5> <h6>Shared a photo on your wall</h6></div> <div class="card-header"><h5>Proposals</h5> <h6>Shared a photo on your wall</h6></div></div>

<!--div class="poster-card card social-card share" data-social="item">
<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
</div>
<div class="card-header clearfix">
<div class="user-pic">
<img alt="Profile Image" width="33" height="33"  src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/8x.jpg">
</div>
<h5>Jeff Curtis</h5>
<h6>Shared a Tweet
<span class="location semi-bold"><i class="fa fa-map-marker"></i> SF, California</span>
</h6>
<dropdown :menu-visible="visibility" @clicked="showActionInterest" :btn-title="visibility" :reasons="fooReasons" />
</div>
<div class="card-description padding-0">
    <div class="project-child-listings">
        <a class="repname_viewProjectChild repkey_600017702" href="/gegf" @click="showProperty" data-agent="UQBSVR" data-child-listing-id="125906570">
            <div class="child">
                <div class="propertyImage"><img src="https://i4.au.reastatic.net/134x84/acbec5c00a9dbeb2e50494dc084b7615239a474a556018ffc5a473b1f0eb9179/main.jpg" width="134" height="84" alt="203 Castlereagh Street, Sydney, NSW 2000" title="203 Castlereagh Street, Sydney, NSW 2000"></div>
                <div class="priceAndPropertyTypeContainer"><span class="price rui-truncate">$1,135,000 - $1,450,000</span> <span class="propertyType rui-truncate">Luxury oversized studios</span></div>
                <div class="features">
                    <dl class="rui-property-features rui-clearfix"><dt class="rui-icon rui-icon-bath"><span class="rui-visuallyhidden">Bathrooms</span></dt>
                        <dd>1</dd>
                    </dl>
                </div>
                <div class="moreDetailsContainer"><span class="rui-icon rui-icon-arrow-right"></span></div>
            </div>
        </a>
        <a class="repname_viewProjectChild repkey_600017702" href="javascript:;" data-agent="UQBSVR" data-child-listing-id="125906586">
            <div class="child">
                <div class="propertyImage"><img src="https://i1.au.reastatic.net/134x84/dee7b17f7af7613d459cf48d6b626edd6238307eb23d13184c92f35afa73b99b/main.jpg" width="134" height="84" alt="203 Castlereagh St, Sydney, NSW 2000" title="203 Castlereagh St, Sydney, NSW 2000"></div>
                <div class="priceAndPropertyTypeContainer"><span class="price rui-truncate">$1,595,000 - $2,880,000</span> <span class="propertyType rui-truncate">Bespoke 1 bedroom apartments</span></div>
                <div class="features">
                    <dl class="rui-property-features rui-clearfix"><dt class="rui-icon rui-icon-bed"><span class="rui-visuallyhidden">Bedrooms</span></dt>
                        <dd>1</dd> <dt class="rui-icon rui-icon-bath"><span class="rui-visuallyhidden">Bathrooms</span></dt>
                        <dd>1</dd>
                    </dl>
                </div>
                <div class="moreDetailsContainer"><span class="rui-icon rui-icon-arrow-right"></span></div>
            </div>
        </a>
        <a class="repname_viewProjectChild repkey_600017702" href="javascript:;" data-agent="UQBSVR" data-child-listing-id="125906610">
            <div class="child">
                <div class="propertyImage"><img src="https://i2.au.reastatic.net/134x84/8e1e6637af7b49ef695be4c2e6ec664158d547b06e399394f0c042be76c9d225/main.jpg" width="134" height="84" alt="203 Castlereagh St, Sydney, NSW 2000" title="203 Castlereagh St, Sydney, NSW 2000"></div>
                <div class="priceAndPropertyTypeContainer"><span class="price rui-truncate">$2,170,000 - $3,625,000</span> <span class="propertyType rui-truncate">Executive 2 bedroom apartments</span></div>
                <div class="features">
                    <dl class="rui-property-features rui-clearfix"><dt class="rui-icon rui-icon-bed"><span class="rui-visuallyhidden">Bedrooms</span></dt>
                        <dd>2</dd> <dt class="rui-icon rui-icon-bath"><span class="rui-visuallyhidden">Bathrooms</span></dt>
                        <dd>1</dd>
                    </dl>
                </div>
                <div class="moreDetailsContainer"><span class="rui-icon rui-icon-arrow-right"></span></div>
            </div>
        </a>
        <a class="repname_viewProjectChild repkey_600017702" href="javascript:;" data-agent="UQBSVR" data-child-listing-id="125978370">
            <div class="child">
                <div class="propertyImage"><img src="https://i3.au.reastatic.net/134x84/33cf437fade6deda2066740ccda2e08cc3db35091d0bf96e9bb47a7fa3342556/main.jpg" width="134" height="84" alt="203 Castlereagh Street, Sydney, NSW 2000" title="203 Castlereagh Street, Sydney, NSW 2000"></div>
                <div class="priceAndPropertyTypeContainer"><span class="price rui-truncate">$2,670,000 - $3,050,000</span> <span class="propertyType rui-truncate">Luxurious 2 bedroom apartments</span></div>
                <div class="features">
                    <dl class="rui-property-features rui-clearfix"><dt class="rui-icon rui-icon-bed"><span class="rui-visuallyhidden">Bedrooms</span></dt>
                        <dd>2</dd> <dt class="rui-icon rui-icon-bath"><span class="rui-visuallyhidden">Bathrooms</span></dt>
                        <dd>2</dd> <dt class="rui-icon rui-icon-car"><span class="rui-visuallyhidden">Car spaces</span></dt>
                        <dd>1</dd>
                    </dl>
                </div>
                <div class="moreDetailsContainer"><span class="rui-icon rui-icon-arrow-right"></span></div>
            </div>
        </a>
    </div>
</div>
</div-->

          <!--div v-for="increment in $store.state.form.formObj" :id="'feed-' + increment.id" class="poster-card card social-card share">
          <div class="card-header clearfix">
          <div class="user-pic">
            <img alt="Profile Image" width="33" height="33" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/8x.jpg">
          </div> 
            <h5>{{ increment.profile.profileInformation.firstName }} {{ increment.profile.profileInformation.lastName }}</h5> 
            <h6>Shared a Tweet<span class="location semi-bold"><i class="fa fa-map-marker"></i> SF, California</span></h6>
              <dropdown :menu-visible="visibility" @clicked="showActionInterest" :data="increment" />
          </div>
          <a href="/fwfwe" @click="showProposal">
            <div class="p-t-5 p-b-5 p-l-10 p-r-10">
              <span class="text-black fs-12">
                <span v-if="getClosestTime(increment.proposal.dateOfCreation) <= 2" class="badge badge-success">New</span> 
                <span :class="{ 'badge-inverse': !increment.proposal.isUrgent, 'badge-danger': increment.proposal.isUrgent }" class="badge ">{{ increment.proposal.isUrgent === true ? 'urgent' : 'regular' }}</span> 
              </span><span class="pull-right badge badge-warning">{{ increment.proposal.typeOfProposal }}</span><br />
              <span style="color:#000;">{{ getTime(increment.proposal.dateOfCreation) }}</span>
              <div class="text-black fs-15 semi-bold">
                <span class="m-r-10"> location.city.name</span>
              </div>
              <div class="text-master fs-12 p-t-5">
                <span class="m-r-10">price range:  {{ increment.proposal.priceMinimum }} $ -  {{ increment.proposal.priceMaximum }} $</span>
                <span class="m-r-10">size:  {{ increment.proposal.size }}</span>
                <span class="m-r-10">size:  increment.size</span>
              </div>
            </div>
          </a>
          <div class="poster-card-footer">
            <div class="poster-card-tags">
                <a v-for="typeOfProperty in increment.proposal.typeOfProperty.split(',')" class="fs-12 m-r-10" href="javascript:;">#{{ typeOfProperty }}</a>
            </div>
            <div class="poster-card-actions">
              <a href="javascript:;">
                <i class="fa fa-share-square-o"></i>
              </a>
              <a href="javascript:;">
                <i class="fa fa-bookmark-o"></i>
              </a>
            </div>
          </div>
        </div-->


</div>
<div class="col-md-3">
<p class="m-b-5 small">1,435 Mutual Friends</p>
<ul class="list-unstyled ">
<li class="m-r-10">
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" alt="Profile Image" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/1.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" alt="Profile Image" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/2.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" alt="Profile Image" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/3.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" alt="Profile Image" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/4.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" alt="Profile Image" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/5.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" alt="Profile Image" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/6.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" alt="Profile Image" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/7.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white">
<div class="bg-master text-center text-white"><span>+34</span>
</div>
</div>
</li>
</ul>
<br>
<p class="m-t-5 small">More friends</p>

<div class="card social-card share  col1" data-social="item">
<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
</div>
<div class="card-header clearfix">
<div class="user-pic">
<img alt="Profile Image" width="33" height="33" data-src-retina="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/4x.jpg" data-src="assets/img/profiles/5.jpg" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/4x.jpg">
</div>
<h5>Shannon Williams</h5>
<h6>Shared a photo
<span class="location semi-bold"><i class="fa fa-map-marker"></i> NYC, New York</span>
</h6>
</div>
<div class="card-description">
<p>Inspired by : good design is obvious, great design is transparent</p>
<div class="via">via themeforest</div>
</div>
<div class="card-footer clearfix">
<div class="time">few seconds ago</div>
<ul class="reactions">
<li><a href="#">5,345 <i class="fa fa-comment-o"></i></a>
</li>
<li><a href="#">23K <i class="fa fa-heart-o"></i></a>
</li>
</ul>
</div>
</div>
<div class="card social-card share share-other col1" data-social="item">
<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
</div>
<div class="card-content">
<ul class="buttons ">
<li>
<a href="#"><i class="fa fa-expand"></i>
</a>
</li>
<li>
<a href="#"><i class="fa fa-heart-o"></i>
</a>
</li>
</ul>
<img alt="Quote" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/social/quote.jpg">
</div>
<div class="card-description">
<p>Like if you agree</p>
</div>
<div class="card-footer clearfix">
<div class="time">few seconds ago</div>
<ul class="reactions">
<li><a href="#">5,345 <i class="fa fa-comment-o"></i></a>
</li>
<li><a href="#">23K <i class="fa fa-heart-o"></i></a>
</li>
</ul>
</div>
<div class="card-header clearfix last">
<div class="user-pic">
<img alt="Profile Image" width="33" height="33" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/7x.jpg">
</div>
<h5>Tracy Brooks</h5>
<h6>Shared a photo on your wall</h6>
</div>
</div>

</div>

</div>

</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */
  import VLayout from 'layouts/Dashboard'
  import ModalProposal from 'components/ModalProposal'
  import ModalProperty from 'components/ModalProperty'
  import ModalShowProposalInterest from 'components/ModalShowProposalInterest'
  import Dropdown from 'components/Dropdown'
  import moment from 'moment'

  export default {
    /**
     * The name of the page.
     */
    name: 'feeds-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        visibility: false,
        showModalProposal: false,
        showModalProposalInterest: false,
        feedActivity: {},
        showModalProperty: false
      }
    },

    created: function () {
      this.findAll()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      showProposal: function (e) {
        this.showModalProposal = true
        e.preventDefault()
      },
      showProperty: function (e) {
        this.showModalProperty = true
        e.preventDefault()
      },
      showActionInterest: function (e) {
        this.$store.dispatch('global/setObject', e.proposal)
        this.showModalProposalInterest = true
        this.feedActivity = e
        this.$root.$emit('find-properties')
        this.$root.$emit('find-proposalHasProperties')
      },
      getClosestTime: function (time) {
        let beginning = moment(time)
        let ending = moment()
        return ending.diff(beginning, 'days')
      },
      getTime: function (time) {
        time = moment(time).fromNow()
        return time
      },
      findAll: function () {
        // this.$store.dispatch('form/loading', true)
        let payload = {url: 'api/feed/list', parameters: {status: 'is_actived', size: 6}}
        this.$store.dispatch('global/findAll', payload)
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout,
      ModalProposal,
      ModalProperty,
      ModalShowProposalInterest,
      Dropdown
    }
  }
</script>
