<template>
    <div v-on:click="menuVisible = !menuVisible" class="dropdownBtn">
      <div v-bind:class="{ active : menuVisible }"class="dropdownBtn__title">
        <span v-if="!btnTitle">exploring</span>
        <span v-else>{{ btnTitle }}</span>
      </div>
      <div v-show="menuVisible" class="dropdownBtn__content">
        <ul v-for="reason in reasons">
          <li v-on:click="updateTitle(reason)">{{ reason.title }}</li>
        </ul>
      </div>
    </div>
</template>

<script>
  export default {
    props: ['menuVisible', 'btnTitle', 'reasons'],
    methods: {
      updateTitle ($event) {
        this.btnTitle = $event.title
      }
    }
  }
</script>