<template>
<!--Header-->
<header class="layout_default">
   <div class="topbar">
      <div class="container">
         <div class="row">
            <div class="col-md-5">
               <p>We are Best in Town With 40 years of Experience.</p>
            </div>
            <div class="col-md-7 text-right">
               <ul class="breadcrumb_top text-right">
                  <li><router-link :to="{ name: 'aboutus' }"><i class="icon-icons43"></i>About us</router-link></li>
                  <li><router-link :to="{ name: 'voneconcept' }"><i class="icon-icons215"></i>Vone concept</router-link></li>
                  <li><router-link :to="{ name: 'voneadvantage' }"><i class="icon-icons215"></i>Vone advantage</router-link></li>
                  <li><router-link :to="{ name: 'vonerelationship' }"><i class="icon-icons215"></i>Vone relationship</router-link></li>
                  <li><router-link :to="{ name: 'socialmedia' }"><i class="icon-icons215"></i>Social media blog</router-link></li>
               </ul>
            </div>
         </div>
      </div>
   </div>

   <!-- ########## START: HEAD PANEL ########## -->
   <div class="header">
	<div class="container">
		<div class="br-header">
			<div class="br-header-left">
				<div class="br-logo">
					<router-link :to="{ name: 'home' }"><span>[</span>proov <i>+</i><span>]</span>
					</router-link>
				</div>
				<!--/div-->
				<!-- input-group -->
			</div>
			<!-- br-header-left -->
			<ul class="nav tx-white flex-column flex-md-row">
				<li class="nav-item">
					<router-link :to="{ name: 'home' }" class="nav-link">Home</router-link>
				</li>
				<li class="nav-item">
					<router-link :to="{ name: 'buy.index' }" class="nav-link">Buyer</router-link>
				</li>
				<li class="nav-item">
					<router-link :to="{ name: 'rent.index' }" class="nav-link">Tenant</router-link>
				</li>
				<li class="nav-item">
					<router-link :to="{ name: 'sell.index' }" class="nav-link">Seller</router-link>
				</li>
				<li class="nav-item">
					<router-link :to="{ name: 'lease.index' }" class="nav-link">Lessor</router-link>
				</li>
			</ul>
			<div v-if="!auth.authenticated" class="br-header-right"> <a class="primary mg-r-10" href="/login/">
Login
</a>
				<a class="btn btn-primary" href="/register/">
Register
</a>
			</div>
			<div v-if="auth.authenticated" class="br-header-right">
				<nav class="nav">
					<div class="dropdown">
						<a href="" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown"> <i class="icon ion-ios-notifications-outline tx-24"></i>
							<!-- start: if statement --> <span class="square-8 bg-danger pos-absolute t-15 r-5 rounded-circle"></span>
							<!-- end: if statement -->
						</a>
						<div class="dropdown-menu dropdown-menu-header">
							<div class="dropdown-menu-label">
								<label>Notifications</label> <a href="">Mark All as Read</a>
							</div>
							<!-- d-flex -->
							<div class="media-list">
								<!-- loop starts here -->
								<a href="" class="media-list-link read">
									<div class="media">
										<img src="http://themepixels.me/bracketplus/img/img8.jpg" alt="">
										<div class="media-body">
											<p class="noti-text"><strong>Suzzeth Bungaos</strong> tagged you and 18 others in a post.</p> <span>October 03, 2017 8:45am</span>
										</div>
									</div>
									<!-- media -->
								</a>
								<!-- loop ends here -->
								<a href="" class="media-list-link read">
									<div class="media">
										<img src="http://themepixels.me/bracketplus/img/img9.jpg" alt="">
										<div class="media-body">
											<p class="noti-text"><strong>Mellisa Brown</strong> appreciated your work <strong>The Social Network</strong>
											</p> <span>October 02, 2017 12:44am</span>
										</div>
									</div>
									<!-- media -->
								</a>
								<a href="" class="media-list-link read">
									<div class="media">
										<img src="http://themepixels.me/bracketplus/img/img10.jpg" alt="">
										<div class="media-body">
											<p class="noti-text">20+ new items added are for sale in your <strong>Sale Group</strong>
											</p> <span>October 01, 2017 10:20pm</span>
										</div>
									</div>
									<!-- media -->
								</a>
								<a href="" class="media-list-link read">
									<div class="media">
										<img src="http://themepixels.me/bracketplus/img/img5.jpg" alt="">
										<div class="media-body">
											<p class="noti-text"><strong>Julius Erving</strong> wants to connect with you on your conversation with <strong>Ronnie Mara</strong>
											</p> <span>October 01, 2017 6:08pm</span>
										</div>
									</div>
									<!-- media -->
								</a>
								<div class="dropdown-footer"> <a href=""><i class="fa fa-angle-down"></i> Show All Notifications</a>
								</div>
							</div>
							<!-- media-list -->
						</div>
						<!-- dropdown-menu -->
					</div>
					<!-- dropdown -->
					<div class="dropdown">
						<a href="" class="nav-link nav-link-profile" data-toggle="dropdown"> <span class="logged-name hidden-md-down">{{$store.state.account.firstname}}</span>
							<img :src="$store.state.account.photo" class="wd-32 rounded-circle" alt=""> <span class="square-10 bg-success"></span>
						</a>
						<div class="dropdown-menu dropdown-menu-header wd-250">
							<div class="tx-center">
								<a href="">
									<img src="http://themepixels.me/bracketplus/img/img1.jpg" class="wd-80 rounded-circle" alt="">
								</a>
								<h6 class="logged-fullname">{{$store.state.account.firstName}} {{$store.state.account.lastName}}</h6>
								<p>{{$store.state.account.emailContact}}</p>
							</div>
							<!--hr>
              <div class="tx-center">
                <span class="profile-earning-label">Earnings After Taxes</span>
                <h3 class="profile-earning-amount">$13,230 <i class="icon ion-ios-arrow-thin-up tx-success"></i></h3>
                <span class="profile-earning-text">Based on list price.</span>
              </div-->
							<hr>
							<ul class="list-unstyled user-profile-nav">
								<li><a href=""><i class="icon ion-ios-person"></i> Edit Profile</a>
								</li>
								<li><a href=""><i class="icon ion-ios-gear"></i> Settings</a>
								</li>
								<li><a href=""><i class="icon ion-ios-download"></i> Downloads</a>
								</li>
								<li><a href=""><i class="icon ion-ios-star"></i> Favorites</a>
								</li>
								<li><a href=""><i class="icon ion-ios-folder"></i> Collections</a>
								</li>
								<li><a href=""><i class="icon ion-power"></i> Sign Out</a>
								</li>
							</ul>
						</div>
						<!-- dropdown-menu -->
					</div>
					<!-- dropdown -->
				</nav>
				<div class="navicon-right">
					<a id="btnRightMenu" href="javascript:;" @click.prevent="logout" class="pos-relative"> <i class="icon ion-ios-log-out-outline"></i>
						<!-- start: if statement --> <span class="square-8 bg-danger pos-absolute t-10 r--5 rounded-circle"></span>
						<!-- end: if statement -->
					</a>
				</div>
				<!-- navicon-right -->
			</div>
			<!-- br-header-right -->
		</div>
		<!-- br-header -->
	</div>
	<!-- container -->
	<div class="bg-white" v-if="context === 'dashboard'">
		<div class="container">
			<div class="menu-bar header-sm-height ht-35 pd-y-10 bd-gray-100 bd-b" data-pages-init="horizontal-menu" data-hide-extra-li="4">
				<a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-close" data-toggle="horizontal-menu"></a>
				<ul>
					<li class=" active">
						<router-link :to="{ name: 'feeds' }">Feeds</router-link>
					</li>
					<li>
<a href="javascript:;"><span class="title">Profile edit</span>
<span class=" arrow"></span></a>
						<ul class="">
							<li class="">
								<router-link :to="{ name: 'profile.edit.password' }">Password</router-link>
							</li>
							<li class="">
								<router-link :to="{ name: 'profile.edit.role' }">Roles</router-link>
							</li>
							<li class="">
								<router-link :to="{ name: 'profile.edit.contact' }">Contact</router-link>
							</li>
							<li class="">
								<router-link :to="{ name: 'profile.edit.information' }">Information</router-link>
							</li>
						</ul>
					</li>
					<li>
<a href="javascript:;"><span class="title">Property</span>
<span class=" arrow"></span></a>
						<ul class="">
							<li class="">
<router-link :to="{ name: 'profile.edit.information' }">Overview</router-link>
<a href="color.html">Overview</a>
							</li>
							<li class="">
<router-link :to="{ name: 'property.new' }">new</router-link>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:;"> <span class="title">Buy</span>
							<span class=" arrow"></span>
						</a>
						<ul class="">
							<li class="">
								<router-link :to="{ name: 'buy.overview' }" router-link>Overview</router-link>
							</li>
							<li class="">
								<router-link :to="{ name: 'buy.list' }">List</router-link>
							</li>
							<li class="">
								<router-link :to="{ name: 'buy.new' }">New</router-link>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:;">
<span class="title">Rent</span>
							<span class=" arrow"></span>
						</a>
						<ul class="">
							<li class="">
								<router-link :to="{ name: 'rent.overview' }">Overview</router-link>
							</li>
							<li class="">
								<router-link :to="{ name: 'rent.list' }">List</router-link>
							</li>
							<li class="">
								<router-link :to="{ name: 'rent.new' }">New</router-link>
							</li>
						</ul>
					</li>
					<li>
						<router-link :to="{ name: 'notification.index' }">
<span class="title">Notification</span>
						</router-link>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- header -->
<!-- ########## END: HEAD PANEL ########## -->

</header>
<!--Header Ends-->

</template>

<script>
  /* ============
   * Menu Layout
   * ============
   *
   * Used for the register and login pages.
   *
   * Layouts are used to store a lot of shared code.
   * This way the app stays clean.
   */
  // var dropdowntoggle = document.getElementByClassName('dropdowntoggle')[0]

  export default {
    /**
     * The name of the layout.
     */
    name: 'menu-layout',

    props: {
      context: {
        type: String,
        default: 'default'
      }
    },

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    mounted: function () {
      // var el = document.querySelector('.dropdowntoggle')
      // el.addEventListener('click', this.activate)
    },

    /**
     * The methods that the layout can use.
     */
    methods: {
      activate: function (e) {
        console.log('e')
      },
      /**
       * Will log the user out.
       */
      logout: function () {
        this.$store.dispatch('auth/logout')
      }
    },
    computed: {
      auth: function () {
        let auth = this.$store.state.auth
        return auth
      }
    }
  }
</script>
