<template>
    <transition name="modal">
        <div class="modal-mask" @click="close" v-show="show">
            <div class="modal-container" @click.stop>
                <div class="root-node"><div data-reactroot="" class="application"><div class="panel panel--half panel--visible"><div class="panel__topbar"><svg viewBox="0 0 24 24" class="panel__close"><path fill="#BABCBF" fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12s4.477 10 10 10 10-4.477 10-10zm-10-1.414L9.875 8.46c-.38-.38-1.02-.386-1.41.004-.394.394-.393 1.023-.004 1.41L10.587 12 8.46 14.125c-.38.38-.386 1.02.004 1.41.394.394 1.023.393 1.41.004L12 13.413l2.125 2.125c.38.38 1.02.386 1.41-.004.394-.394.393-1.023.004-1.41L13.413 12l2.125-2.125c.38-.38.386-1.02-.004-1.41-.394-.394-1.023-.393-1.41-.004L12 10.587zM0 12C0 5.373 5.373 0 12 0s12 5.373 12 12-5.373 12-12 12S0 18.627 0 12z"></path></svg></div><div class="scrollable panel__scrollable scrollable--overflow-bottom"><div class="scrollable__content" style="margin-right: 0px;"><div class="panel__content signin-page"><div>
    <div id="signin__form"><div data-reactroot="" class="signin-form"><div class="signin-form--form-container"><h2>Sign in to Plus</h2><form><div class="textfield textfield--default "><label for="email" class="textfield__label">Email address</label><input type="email" name="email" class="textfield__field" autocomplete="Off" tabindex="1"></div><div class="textfield textfield--default "><label for="password" class="textfield__label">Password</label><input type="password" name="password" class="textfield__field" autocomplete="Off" tabindex="2"></div><button type="submit" class="button button--disabled" tabindex="4">Sign in</button><div class="checkboxinput signin-form__options"><input type="checkbox" class="checkboxinput__field" id="remember_me" name="remember_me" tabindex="3" value="on"><span class="checkboxinput__checkbox checkboxinput__checkbox--checked"><svg viewBox="550 421 13 13" focusable="false"><path stroke="#FFF" stroke-width="2.057" d="M552 426.888l3.16 3.112 4.84-7" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path></svg></span><label for="remember_me" class="checkboxinput__label"><!-- react-text: 18 -->Remember me<!-- /react-text --><span> · </span><a href="/forgot-password" tabindex="-1" class="forgot-password-link"><!-- react-text: 21 --> <!-- /react-text --><!-- react-text: 22 -->Forgot password?<!-- /react-text --><!-- react-text: 23 --> <!-- /react-text --></a></label></div></form></div></div></div>
  <div id="signin__content">
  <div class="plus-banner">
  <div class="plus-banner__illustration">
    <img classname="plus-balls-image" src="https://cdn.wetransfer.net/assets/plus/plus-balls-3195e20157ba4a31c6e4b216faa1694248bb159a5dd0dbee848d369c5d0be152.png">
  </div>
  <div class="plus-banner__header-text">
    <h1>WeTransfer Plus</h1>

<p>Get more out of WeTransfer, get Plus</p>

  </div>
</div>
    <div class="signin-content__list">
      <div class="signin-content__wrapper">
        <div class="plus-list signin" id="plus-list__1">
          <h2>A better service</h2>

<ul>
<li>Send up to 20GB at a time</li>
<li>Store up to 100GB</li>
<li>Password protect your files</li>
</ul>


        </div>
        <div class="plus-list signin" id="plus-list__2">
          <h2>Your own look and feel</h2>

<ul>
<li>Personalize your profile</li>
<li>Choose your background images</li>
<li>Customize your emails</li>
</ul>


        </div>
      </div>
    </div><!-- .signin__intro -->
    <div class="signin-content__cta">
      <a href="/plus" class="button button--inline button--enabled">More about WeTransfer Plus</a>
      <a href="/plus" class="button button--enabled" data-route-context="plusform">Sign me up</a>
    </div><!-- .signin-content__cta -->
  </div><!-- .signin__content -->

</div></div></div><div class="scrollable__scrollbar scrollable__scrollbar--visible"><div class="scrollable__scrollbar-thumb" style="height: 143.468px; transform: translateY(0px);"></div></div></div></div><div class="transfer transfer--half-panel"><div class="transfer__window uploader uploader--form uploader--type-email"><div class="scrollable transfer__contents scrollable--overflow-top"><div class="scrollable__content" style="margin-right: 0px;"><div class="uploader__files"><form><input type="file" multiple=""></form><div class="uploader__empty-state"><svg viewBox="24 0 72 72"><path d="M60.493 72C79.883 72 96 55.882 96 36.493 96 16.118 79.882 0 60.493 0 40.118 0 24 16.118 24 36.493 24 55.883 40.118 72 60.493 72z" fill="#3F9FFF" fill-rule="evenodd"></path><path d="M58 34h-9c-.553 0-1 .452-1 1.01v1.98c0 .567.448 1.01 1 1.01h9v9c0 .553.452 1 1.01 1h1.98c.567 0 1.01-.448 1.01-1v-9h9c.553 0 1-.452 1-1.01v-1.98c0-.567-.448-1.01-1-1.01h-9v-9c0-.553-.452-1-1.01-1h-1.98c-.567 0-1.01.448-1.01 1v9z" fill="#FFF" fill-rule="evenodd"></path></svg><h2>Add your files</h2><p>Add up to 2 GB</p></div></div><div class="uploader__fields"><div class="uploader__autosuggest"><input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="uploader__textfield" placeholder="Email to"></div><input type="email" class="uploader__textfield" placeholder="Your email" value=""><div class="uploader__message"><textarea placeholder="Message"></textarea><div class="uploader__message--shadow"></div></div></div><div class="transfer__options"><div class="transfer__option"><label>Send as</label><div><div class="radioinput transfer__type-radio"><input type="radio" class="radioinput__field" value="on"><div class="radioinput__check"></div><label class="radioinput__label">email</label></div><div class="radioinput transfer__type-radio"><input type="radio" class="radioinput__field" value="on"><div class="radioinput__check"></div><label class="radioinput__label">link</label></div></div></div><div class="transfer__plus-features"><div class="transfer__option transfer__option--disabled"><label>Delete after</label><span class="transfer__option-placeholder"><!-- react-text: 115 -->1 week<!-- /react-text --><!-- react-text: 116 --> <!-- /react-text --><svg viewBox="191 2 12 12"><path fill="#000000" d="M193.7 8.057l-.943.943L197 13.243 201.243 9l-.943-.943-3.3 3.3-3.3-3.3z"></path></svg></span><svg class="transfer__option-plus" viewBox="0 1 32 13"><rect width="32" height="13" y="1" fill="#FCB315" fill-rule="evenodd" rx="6.5"></rect><path fill="#FFF" fill-rule="evenodd" d="M5.648 10H6.72V8.2h1.296c1.312 0 2.04-.8 2.04-1.888 0-1.072-.728-1.816-2.04-1.816H5.648V10zM7.92 5.36c.696 0 1.048.392 1.048.968 0 .584-.352 1.008-1.048 1.008h-1.2V5.36h1.2zM11.048 10h3.704v-.904H12.12v-4.6h-1.072V10zm4.384-2.208c0 1.712.984 2.304 2.376 2.304s2.368-.592 2.368-2.304V4.496h-1.08v3.28c0 .896-.424 1.4-1.288 1.4-.872 0-1.296-.504-1.296-1.4v-3.28h-1.08v3.296zm5.64.64c0 1.024.784 1.664 2.232 1.664 1.48 0 2.312-.704 2.312-1.736 0-1.152-.928-1.424-1.808-1.584l-.368-.064c-.656-.112-1.208-.248-1.208-.76 0-.496.472-.752 1.088-.752.616 0 1.072.28 1.072.784h1.048c0-.968-.832-1.584-2.12-1.584-1.32 0-2.16.712-2.16 1.656 0 1.192.992 1.44 1.896 1.592l.368.064c.6.112 1.096.264 1.096.752 0 .528-.448.832-1.216.832-.712 0-1.184-.336-1.184-.864h-1.048z"></path></svg></div><div class="transfer__option transfer__option--disabled"><label>Password</label><span class="transfer__option-placeholder">Set password</span><svg class="transfer__option-plus" viewBox="0 1 32 13"><rect width="32" height="13" y="1" fill="#FCB315" fill-rule="evenodd" rx="6.5"></rect><path fill="#FFF" fill-rule="evenodd" d="M5.648 10H6.72V8.2h1.296c1.312 0 2.04-.8 2.04-1.888 0-1.072-.728-1.816-2.04-1.816H5.648V10zM7.92 5.36c.696 0 1.048.392 1.048.968 0 .584-.352 1.008-1.048 1.008h-1.2V5.36h1.2zM11.048 10h3.704v-.904H12.12v-4.6h-1.072V10zm4.384-2.208c0 1.712.984 2.304 2.376 2.304s2.368-.592 2.368-2.304V4.496h-1.08v3.28c0 .896-.424 1.4-1.288 1.4-.872 0-1.296-.504-1.296-1.4v-3.28h-1.08v3.296zm5.64.64c0 1.024.784 1.664 2.232 1.664 1.48 0 2.312-.704 2.312-1.736 0-1.152-.928-1.424-1.808-1.584l-.368-.064c-.656-.112-1.208-.248-1.208-.76 0-.496.472-.752 1.088-.752.616 0 1.072.28 1.072.784h1.048c0-.968-.832-1.584-2.12-1.584-1.32 0-2.16.712-2.16 1.656 0 1.192.992 1.44 1.896 1.592l.368.064c.6.112 1.096.264 1.096.752 0 .528-.448.832-1.216.832-.712 0-1.184-.336-1.184-.864h-1.048z"></path></svg></div></div></div></div><div class="scrollable__scrollbar scrollable__scrollbar--visible"><div class="scrollable__scrollbar-thumb" style="height: 116.183px; transform: translateY(201.817px);"></div></div></div><div class="transfer__footer"><svg class="transfer__toggle-options" viewBox="0 0 24 24"><path fill="#0073e5" d="M12,24 C5.372583,24 0,18.627417 0,12 C0,5.372583 5.372583,0 12,0 C18.627417,0 24,5.372583 24,12 C24,18.627417 18.627417,24 12,24 Z M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M16.5,13.5 C17.3284271,13.5 18,12.8284271 18,12 C18,11.1715729 17.3284271,10.5 16.5,10.5 C15.6715729,10.5 15,11.1715729 15,12 C15,12.8284271 15.6715729,13.5 16.5,13.5 Z M12,13.5 C12.8284271,13.5 13.5,12.8284271 13.5,12 C13.5,11.1715729 12.8284271,10.5 12,10.5 C11.1715729,10.5 10.5,11.1715729 10.5,12 C10.5,12.8284271 11.1715729,13.5 12,13.5 Z M7.5,13.5 C8.32842712,13.5 9,12.8284271 9,12 C9,11.1715729 8.32842712,10.5 7.5,10.5 C6.67157288,10.5 6,11.1715729 6,12 C6,12.8284271 6.67157288,13.5 7.5,13.5 Z"></path></svg><button type="button" class="transfer__button transfer__button--inactive">Transfer</button></div></div></div><div class="dropzone"><h3 class="dropzone__title">Drop it like it’s hot</h3><p class="dropzone__text">Add your files by dropping them anywhere in this window</p></div><div class="wallpaper wallpaper--half-panel"><iframe src="/blackhole/" scrolling="no" frameborder="0" allowtransparency="true"></iframe><a href="https://wetransfer.com/thisworks/2017/07/10/kanghee-kim-street-errands/" rel="noopener noreferrer" target="_blank" class="wallpaper__title" style="cursor: pointer;">KangHee Kim</a><div class="wallpaper__cover"></div></div><nav class="nav nav--with-panel nav--loaded"><ul class="nav__items"><li class="nav__item"><a href="/help" class="nav__label">Help</a></li><li class="nav__item nav_item--expanded"><a href="/about" class="nav__label">About us</a><ul class="nav__subitems" style="width: 0px;"><li class="nav__subitem"><a href="/about" class="nav__label">WeTransfer</a></li><li class="nav__subitem"><a href="/plus?trk=WT201610_AboutPlus" class="nav__label">Plus</a></li><li class="nav__subitem"><a href="/apps" class="nav__label">Apps</a></li><li class="nav__subitem"><a href="/advertise" class="nav__label">Advertise</a></li></ul></li><li class="nav__item nav__item--active"><span class="nav__label">Got Plus?</span></li></ul></nav><div class="spinner logo spinner--single"><svg height="44" width="44" class="spinner__circle" shape-rendering="geometricPrecision" viewBox="0 0 44 44"><circle class="spinner__background" r="20.5" cx="22" cy="22" fill="transparent" style="stroke-dasharray: 128.805; stroke-dashoffset: 0; stroke-width: 3; stroke: rgb(232, 235, 237);"></circle><circle class="spinner__foreground" r="20.5" cx="22" cy="22" fill="transparent" style="stroke-dasharray: 128.805; stroke-dashoffset: 128.161; stroke-width: 3; stroke: rgb(64, 159, 255);"></circle></svg><svg width="52" height="29" class="spinner__logo" viewBox="-4 -2 52 29"><defs><path id="logo-path" d="M25.4 10.6c0-6.2 4.4-9.9 10.1-9.9C40.6.7 44 3.3 44 6.9c0 3.4-2.9 5.6-6.1 5.6-1.8 0-3.1-.3-4-1-.3-.3-.5-.2-.5.1 0 1.3.5 2.3 1.3 3.2.7.7 2 1.2 3.2 1.2 1.3 0 2.4-.3 3.4-.8s1.8-.3 2.3.5c.6.9-.2 2.1-.9 2.9-1.3 1.4-3.8 2.4-7 2.4-6.5-.2-10.3-4.6-10.3-10.4zm-13.3 4.1c.6 0 1 .3 1.4 1l1.8 2.9c.7 1.1 1.3 1.9 2.6 1.9s2-.5 2.6-2c.8-1.8 1.7-4.1 2.4-7.1.9-3.4 1.3-5.4 1.3-7.1s-.5-2.7-2.4-3c-2.5-.5-6-.7-9.7-.7s-7.2.2-9.7.6C.5 1.6 0 2.6 0 4.3S.4 8 1.2 11.4c.8 3 1.6 5.2 2.4 7.1.7 1.5 1.3 2 2.6 2s1.9-.8 2.6-1.9l1.8-2.9c.5-.6.9-1 1.5-1z"></path><filter id="logo-filter" width="200%" height="200%" x="-50%" y="-50%" filterUnits="objectBoundingBox"><feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset><feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur></filter></defs><g fill="none"><use fill="#17181A" fill-opacity="0.11" filter="url(#logo-filter)" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-path"></use><use fill="rgb(255, 255, 255)" fill-rule="evenodd" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-path"></use></g></svg><svg class="spinner__aborted" viewBox="55 42 171 171"><g fill="none" fill-rule="evenodd"><path fill="#E65050" d="M136.75 141.407h7.432l3.315-29.634V92.887h-14.164v18.886l3.416 29.634zM133.734 162h13.36v-13.26h-13.36V162z"></path></g></svg><svg class="spinner__finished" viewBox="550 421 13 13" focusable="false"><path stroke="#409FFF" stroke-width="2.057" d="M552 426.888l3.16 3.112 4.84-7" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></div></div>
            </div>
        </div>
    </transition>
</template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
  <script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  export default {
    /**
     * The name of the page.
     */
    name: 'modalFeed-index',

    props: ['show'],

    data: function () {
      return {
        title: '',
        body: ''
      }
    },

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      close: function () {
        this.$emit('close')
        this.title = ''
        this.body = ''
      },
      savePost: function () {
        // Some save logic goes here...
        this.close()
      }
    },

    mounted: function () {
      document.addEventListener('keydown', (e) => {
        if (this.show && e.keyCode === 27) {
          this.close()
        }
      })
    }
  }
</script>