   <template>
    <transition name="modal">
   <div class="application" @click="close" v-show="show">
    <div class="panel panel--full panel--visible" @click.stop><div class="panel__topbar"><svg viewBox="0 0 24 24" class="panel__close"><path fill="#BABCBF" fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12s4.477 10 10 10 10-4.477 10-10zm-10-1.414L9.875 8.46c-.38-.38-1.02-.386-1.41.004-.394.394-.393 1.023-.004 1.41L10.587 12 8.46 14.125c-.38.38-.386 1.02.004 1.41.394.394 1.023.393 1.41.004L12 13.413l2.125 2.125c.38.38 1.02.386 1.41-.004.394-.394.393-1.023.004-1.41L13.413 12l2.125-2.125c.38-.38.386-1.02-.004-1.41-.394-.394-1.023-.393-1.41-.004L12 10.587zM0 12C0 5.373 5.373 0 12 0s12 5.373 12 12-5.373 12-12 12S0 18.627 0 12z"></path></svg></div><div class="scrollable panel__scrollable scrollable--overflow-bottom">

    <div class="scrollable__content" style="margin-right: 0px;">

    <div class="panel__content apps">

<div class="SpaceLayout__wrapper___2rlgu" data-test-marker="space-details"><div><div class="Carousel__carousel___1Xi-5"><div class="sc-bxivhb kajrgj"><div class="Carousel__carouselCounter___jFjpU"><svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-cameraSmall" viewBox="0 0 40 40"><path d="M4.25 15.124v14.627A2.243 2.243 0 0 0 6.487 32h27.026a2.246 2.246 0 0 0 2.237-2.25V15.125a2.25 2.25 0 0 0-2.25-2.249h-5.502l-.67-.745-5.063-5.625 1.672.745h-7.875l1.738-.82-4.627 5.624-.675.821H6.497a2.24 2.24 0 0 0-2.247 2.25zm-2.25 0a4.49 4.49 0 0 1 4.497-4.499h4.938L16.062 5h7.875L29 10.625h4.5a4.5 4.5 0 0 1 4.5 4.5V29.75c0 2.485-2.013 4.499-4.487 4.499H6.487A4.493 4.493 0 0 1 2 29.75V15.125z"></path><path d="M20 28.063a6.75 6.75 0 1 1 0-13.5 6.75 6.75 0 0 1 0 13.5zm0 2.25c4.969 0 9-4.03 9-9s-4.031-9-9-9a9 9 0 1 0 0 18zM31.531 15.125c-.779 0-1.406.63-1.406 1.406a1.407 1.407 0 1 0 1.406-1.406"></path></svg><span class="Carousel__carouselCounterInner___2ddWz">3 of 3</span>
</div>
<div class="slick-initialized slick-slider">
  <div data-role="none" class="Carousel__prevArrow___3-KrH Carousel__arrow___rkgEx" style="display:block"><span class="Carousel__arrowInner___3Nr2z"><svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-arrowLeftSmall" viewBox="0 0 40 40"><path d="M24.098 5.634l-13 13.542a1.25 1.25 0 0 0 0 1.731l13 13.542a1.25 1.25 0 0 0 1.804-1.731l-13-13.542v1.731l13-13.541a1.25 1.25 0 0 0-1.804-1.732z"></path></svg></span>
  </div>
  <div class="slick-list">
    <div class="slick-track" style="opacity: 1; transform: translate3d(-3420px, 0px, 0px); width: 5700px;">
      <div class="slick-slide slick-cloned" data-index="-1" style="width: 1140px;"><img class="Carousel__carouselItemImage___1E5lu" width="1110" height="450" srcset="https://spacely-attachment-store-production.imgix.net/space_attachments/2026/f6ff34d0abe6b71db43563863b7d1e4f.jpg?ixlib=rails-2.1.4&amp;auto=format%2Ccompress&amp;dpr=2&amp;crop=faces&amp;fit=crop&amp;w=1110&amp;h=450 2x, https://spacely-attachment-store-production.imgix.net/space_attachments/2026/f6ff34d0abe6b71db43563863b7d1e4f.jpg?ixlib=rails-2.1.4&amp;auto=format%2Ccompress&amp;dpr=3&amp;crop=faces&amp;fit=crop&amp;w=1110&amp;h=450 3x" src="https://spacely-attachment-store-production.imgix.net/space_attachments/2026/f6ff34d0abe6b71db43563863b7d1e4f.jpg?ixlib=rails-2.1.4&amp;auto=format%2Ccompress&amp;dpr=1&amp;crop=faces&amp;fit=crop&amp;w=1110&amp;h=450">
      </div>
      <div class="slick-slide" data-index="0" tabindex="-1" style="outline: none; width: 1140px;"><img class="Carousel__carouselItemImage___1E5lu" width="1110" height="450" srcset="https://spacely-attachment-store-production.imgix.net/space_attachments/2026/39d100c364eb7c53857a44c6febf8635.jpg?ixlib=rails-2.1.4&amp;auto=format%2Ccompress&amp;dpr=2&amp;crop=faces&amp;fit=crop&amp;w=1110&amp;h=450 2x, https://spacely-attachment-store-production.imgix.net/space_attachments/2026/39d100c364eb7c53857a44c6febf8635.jpg?ixlib=rails-2.1.4&amp;auto=format%2Ccompress&amp;dpr=3&amp;crop=faces&amp;fit=crop&amp;w=1110&amp;h=450 3x" src="https://spacely-attachment-store-production.imgix.net/space_attachments/2026/39d100c364eb7c53857a44c6febf8635.jpg?ixlib=rails-2.1.4&amp;auto=format%2Ccompress&amp;dpr=1&amp;crop=faces&amp;fit=crop&amp;w=1110&amp;h=450">
      </div>
      <div class="slick-slide" data-index="1" tabindex="-1" style="outline: none; width: 1140px;"><img class="Carousel__carouselItemImage___1E5lu" width="1110" height="450" srcset="https://spacely-attachment-store-production.imgix.net/space_attachments/2026/d3bee09516ad46899cc02ae83017e14a.jpg?ixlib=rails-2.1.4&amp;auto=format%2Ccompress&amp;dpr=2&amp;crop=faces&amp;fit=crop&amp;w=1110&amp;h=450 2x, https://spacely-attachment-store-production.imgix.net/space_attachments/2026/d3bee09516ad46899cc02ae83017e14a.jpg?ixlib=rails-2.1.4&amp;auto=format%2Ccompress&amp;dpr=3&amp;crop=faces&amp;fit=crop&amp;w=1110&amp;h=450 3x" src="https://spacely-attachment-store-production.imgix.net/space_attachments/2026/d3bee09516ad46899cc02ae83017e14a.jpg?ixlib=rails-2.1.4&amp;auto=format%2Ccompress&amp;dpr=1&amp;crop=faces&amp;fit=crop&amp;w=1110&amp;h=450">
      </div>
      <div class="slick-slide slick-active" data-index="2" tabindex="-1" style="outline: none; width: 1140px;"><img class="Carousel__carouselItemImage___1E5lu" width="1110" height="450" srcset="https://spacely-attachment-store-production.imgix.net/space_attachments/2026/f6ff34d0abe6b71db43563863b7d1e4f.jpg?ixlib=rails-2.1.4&amp;auto=format%2Ccompress&amp;dpr=2&amp;crop=faces&amp;fit=crop&amp;w=1110&amp;h=450 2x, https://spacely-attachment-store-production.imgix.net/space_attachments/2026/f6ff34d0abe6b71db43563863b7d1e4f.jpg?ixlib=rails-2.1.4&amp;auto=format%2Ccompress&amp;dpr=3&amp;crop=faces&amp;fit=crop&amp;w=1110&amp;h=450 3x" src="https://spacely-attachment-store-production.imgix.net/space_attachments/2026/f6ff34d0abe6b71db43563863b7d1e4f.jpg?ixlib=rails-2.1.4&amp;auto=format%2Ccompress&amp;dpr=1&amp;crop=faces&amp;fit=crop&amp;w=1110&amp;h=450">
      </div>
      <div class="slick-slide slick-cloned" data-index="3" style="width: 1140px;"><img class="Carousel__carouselItemImage___1E5lu" width="1110" height="450" srcset="https://spacely-attachment-store-production.imgix.net/space_attachments/2026/39d100c364eb7c53857a44c6febf8635.jpg?ixlib=rails-2.1.4&amp;auto=format%2Ccompress&amp;dpr=2&amp;crop=faces&amp;fit=crop&amp;w=1110&amp;h=450 2x, https://spacely-attachment-store-production.imgix.net/space_attachments/2026/39d100c364eb7c53857a44c6febf8635.jpg?ixlib=rails-2.1.4&amp;auto=format%2Ccompress&amp;dpr=3&amp;crop=faces&amp;fit=crop&amp;w=1110&amp;h=450 3x" src="https://spacely-attachment-store-production.imgix.net/space_attachments/2026/39d100c364eb7c53857a44c6febf8635.jpg?ixlib=rails-2.1.4&amp;auto=format%2Ccompress&amp;dpr=1&amp;crop=faces&amp;fit=crop&amp;w=1110&amp;h=450">
      </div>
    </div>
  </div>
  <div data-role="none" class="Carousel__nextArrow___h9u0e Carousel__arrow___rkgEx" style="display:block"><span class="Carousel__arrowInner___3Nr2z"><svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-arrowRightSmall" viewBox="0 0 40 40"><path d="M12.098 7.366l13 13.541v-1.731l-13 13.542a1.25 1.25 0 0 0 1.804 1.731l13-13.542a1.25 1.25 0 0 0 0-1.731l-13-13.542a1.25 1.25 0 0 0-1.804 1.732z"></path></svg></span>
  </div>
</div>
</div>
</div>
<div class="sc-bxivhb emQcvF">
  <div class="Row__Row-kNtYPA fBYWkP row">
    <div class="Col__Col-hCQanm dWWOGH col-md-8">
      <div class="Headline__wrapper___1iW4v">
        <h1 class="Headline__headline___Trkqf">Hot desk at Design Studio in AKM Building Richmond</h1>
        <dl class="Headline__suitability___7_CHu"><span><dt>Best suited to </dt><dd>Individuals</dd><dd>SMBs</dd><dd>Professionals</dd></span>
        </dl>
      </div>
      <div class="SpaceStats__statsWrapper___3ax2M">
        <div class="SpaceStats__stats___lYau8">
          <dl><dt>Size</dt>
            <dd><span class="SpaceStats__statFigure___1WOhY"><span>2</span></span>&nbsp;
              <!-- -->sqm</dd>
          </dl>
          <dl><dt>Minimum term</dt>
            <dd><span class="SpaceStats__statFigure___1WOhY"><span>5</span></span>&nbsp;
              <!-- -->Weeks</dd>
          </dl>
          <dl><dt>week rate</dt>
            <dd><span class="SpaceStats__statFigure___1WOhY"><span>$132</span></span>
            </dd>
          </dl>
          <dl><dt>Availability</dt>
            <dd><span>8 Jan. 2018</span>
            </dd>
          </dl>
          <dl><dt>Space type</dt>
            <dd>Hot desk</dd>
          </dl>
        </div>
      </div>
      <div class="SpaceDisplayPage__contentWrapperDesktop___3EVf_">
        <div>
          <div>
            <h2><address class="Address__wrapperInline___3CuUf Address__wrapper___3ah3k"><span class="">31/24 Tanner Street</span>, <span class=""><!-- -->Richmond<!-- --> <!-- -->VIC<!-- --> <!-- -->3121</span></address></h2>
            <div class="SpaceContent__description___3afCw">
              <div style="overflow:hidden">
                <div>*2 Hot desks available* - Desk with ergonomic chair - Small 3 drawer lockable filing cabinet on wheels - Wi-Fi - Electricity - Heating and cooling - Shared open plan meeting table - Shared kitchen - Cleaning - Tea - A3 or A4 printing at additional cost - Transport: 100m from Richmond Train Station 300m from Swan Street Tram 500m from Punt Road Bus</div>
              </div>
            </div>
          </div>
          <div class="Amenities__amenities___1QIlZ">
            <h2>Amenities</h2>
            <div class="Amenities__amenitiesList___3aDmx">
              <div>
                <ul>
                  <li title="WiFi">
                    <svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-tick" viewBox="0 0 40 40">
                      <path d="M13.069 19.975a2.222 2.222 0 0 0-3.143 3.142l3.865 3.865c.847.847 2.212.87 3.088.053l11.594-10.821a2.222 2.222 0 0 0-3.033-3.25l-10.024 9.357-2.347-2.346z"></path>
                      <path d="M35.556 20c0 8.59-6.967 15.556-15.556 15.556-8.593 0-15.556-6.964-15.556-15.556 0-8.592 6.963-15.556 15.556-15.556 8.59 0 15.556 6.966 15.556 15.556zM40 20C40 8.955 31.044 0 20 0 8.952 0 0 8.953 0 20s8.952 20 20 20c11.044 0 20-8.955 20-20z"></path>
                    </svg>WiFi</li>
                  <li title="Kitchen">
                    <svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-tick" viewBox="0 0 40 40">
                      <path d="M13.069 19.975a2.222 2.222 0 0 0-3.143 3.142l3.865 3.865c.847.847 2.212.87 3.088.053l11.594-10.821a2.222 2.222 0 0 0-3.033-3.25l-10.024 9.357-2.347-2.346z"></path>
                      <path d="M35.556 20c0 8.59-6.967 15.556-15.556 15.556-8.593 0-15.556-6.964-15.556-15.556 0-8.592 6.963-15.556 15.556-15.556 8.59 0 15.556 6.966 15.556 15.556zM40 20C40 8.955 31.044 0 20 0 8.952 0 0 8.953 0 20s8.952 20 20 20c11.044 0 20-8.955 20-20z"></path>
                    </svg>Kitchen</li>
                  <li title="Parking">
                    <svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-tick" viewBox="0 0 40 40">
                      <path d="M13.069 19.975a2.222 2.222 0 0 0-3.143 3.142l3.865 3.865c.847.847 2.212.87 3.088.053l11.594-10.821a2.222 2.222 0 0 0-3.033-3.25l-10.024 9.357-2.347-2.346z"></path>
                      <path d="M35.556 20c0 8.59-6.967 15.556-15.556 15.556-8.593 0-15.556-6.964-15.556-15.556 0-8.592 6.963-15.556 15.556-15.556 8.59 0 15.556 6.966 15.556 15.556zM40 20C40 8.955 31.044 0 20 0 8.952 0 0 8.953 0 20s8.952 20 20 20c11.044 0 20-8.955 20-20z"></path>
                    </svg>Parking</li>
                  <li title="24/7 access">
                    <svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-tick" viewBox="0 0 40 40">
                      <path d="M13.069 19.975a2.222 2.222 0 0 0-3.143 3.142l3.865 3.865c.847.847 2.212.87 3.088.053l11.594-10.821a2.222 2.222 0 0 0-3.033-3.25l-10.024 9.357-2.347-2.346z"></path>
                      <path d="M35.556 20c0 8.59-6.967 15.556-15.556 15.556-8.593 0-15.556-6.964-15.556-15.556 0-8.592 6.963-15.556 15.556-15.556 8.59 0 15.556 6.966 15.556 15.556zM40 20C40 8.955 31.044 0 20 0 8.952 0 0 8.953 0 20s8.952 20 20 20c11.044 0 20-8.955 20-20z"></path>
                    </svg>24/7 access</li>
                  <li title="Phone">
                    <svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-tick" viewBox="0 0 40 40">
                      <path d="M13.069 19.975a2.222 2.222 0 0 0-3.143 3.142l3.865 3.865c.847.847 2.212.87 3.088.053l11.594-10.821a2.222 2.222 0 0 0-3.033-3.25l-10.024 9.357-2.347-2.346z"></path>
                      <path d="M35.556 20c0 8.59-6.967 15.556-15.556 15.556-8.593 0-15.556-6.964-15.556-15.556 0-8.592 6.963-15.556 15.556-15.556 8.59 0 15.556 6.966 15.556 15.556zM40 20C40 8.955 31.044 0 20 0 8.952 0 0 8.953 0 20s8.952 20 20 20c11.044 0 20-8.955 20-20z"></path>
                    </svg>Phone</li>
                  <li title="Tea &amp; coffee">
                    <svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-tick" viewBox="0 0 40 40">
                      <path d="M13.069 19.975a2.222 2.222 0 0 0-3.143 3.142l3.865 3.865c.847.847 2.212.87 3.088.053l11.594-10.821a2.222 2.222 0 0 0-3.033-3.25l-10.024 9.357-2.347-2.346z"></path>
                      <path d="M35.556 20c0 8.59-6.967 15.556-15.556 15.556-8.593 0-15.556-6.964-15.556-15.556 0-8.592 6.963-15.556 15.556-15.556 8.59 0 15.556 6.966 15.556 15.556zM40 20C40 8.955 31.044 0 20 0 8.952 0 0 8.953 0 20s8.952 20 20 20c11.044 0 20-8.955 20-20z"></path>
                    </svg>Tea &amp; coffee</li>
                  <li title="Print">
                    <svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-tick" viewBox="0 0 40 40">
                      <path d="M13.069 19.975a2.222 2.222 0 0 0-3.143 3.142l3.865 3.865c.847.847 2.212.87 3.088.053l11.594-10.821a2.222 2.222 0 0 0-3.033-3.25l-10.024 9.357-2.347-2.346z"></path>
                      <path d="M35.556 20c0 8.59-6.967 15.556-15.556 15.556-8.593 0-15.556-6.964-15.556-15.556 0-8.592 6.963-15.556 15.556-15.556 8.59 0 15.556 6.966 15.556 15.556zM40 20C40 8.955 31.044 0 20 0 8.952 0 0 8.953 0 20s8.952 20 20 20c11.044 0 20-8.955 20-20z"></path>
                    </svg>Print</li>
                  <li title="Scan">
                    <svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-tick" viewBox="0 0 40 40">
                      <path d="M13.069 19.975a2.222 2.222 0 0 0-3.143 3.142l3.865 3.865c.847.847 2.212.87 3.088.053l11.594-10.821a2.222 2.222 0 0 0-3.033-3.25l-10.024 9.357-2.347-2.346z"></path>
                      <path d="M35.556 20c0 8.59-6.967 15.556-15.556 15.556-8.593 0-15.556-6.964-15.556-15.556 0-8.592 6.963-15.556 15.556-15.556 8.59 0 15.556 6.966 15.556 15.556zM40 20C40 8.955 31.044 0 20 0 8.952 0 0 8.953 0 20s8.952 20 20 20c11.044 0 20-8.955 20-20z"></path>
                    </svg>Scan</li>
                </ul><a class="ShowAll__showAll___1YAg4" href="#showAll">Show all<!-- --> <!-- -->(12)</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="SpaceDisplayPage__sidebar___3Auo4 Col__Col-hCQanm hgqeDG col-md-4">
      <div class="Card__fullWidth___1hz4J Card__card___28qZh">
        <h2 class="ContactDetails__header___2ou0X">Contact details</h2>
        <div class="ContactDetails__content___1QWZd">
          <div class="ContactDetails__profile___gWuAC">
            <div class="ContactDetails__profileDetails___15XIW">
              <h3 class="ContactDetails__profileName___3412R">Nicholas Rujancich</h3>
              <p class="ContactDetails__profileMemberSince___23BNo">Member since
                <!-- --><span>Dec. 2017</span>
              </p>
              <p class="ContactDetails__profileVerified___1tORC">
                <svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-verified" viewBox="0 0 40 40">
                  <path d="M34.266 12.855c0 10.597-5.777 20.257-15.104 25.31-9.33-5.053-15.107-14.711-15.107-25.31V1.538h30.21v11.317zM35.038 0H3.282a.77.77 0 0 0-.772.77v12.085c0 11.307 6.242 21.6 16.292 26.862a.755.755 0 0 0 .719 0c10.048-5.263 16.29-15.557 16.29-26.862V.77A.77.77 0 0 0 35.038 0zM17.49 14.268a.772.772 0 0 0 .741-.559l.93-3.234.928 3.234c.094.331.397.559.743.559h4.552l-3.377 2.798a.768.768 0 0 0-.227.862l1.616 4.292-3.784-2.692a.778.778 0 0 0-.9 0l-3.79 2.692 1.619-4.292a.768.768 0 0 0-.227-.862l-3.377-2.798h4.553zm-2.587 3.63l-2.316 6.145a.766.766 0 0 0 .252.88c.27.206.64.214.92.015l5.403-3.84 5.4 3.84a.77.77 0 0 0 1.171-.895l-2.315-6.145 4.595-3.809a.767.767 0 0 0-.495-1.36h-6.103l-1.511-5.266a.772.772 0 1 0-1.485 0l-1.512 5.266h-6.105a.769.769 0 0 0-.494 1.36l4.595 3.81z"></path>
                </svg> Verified user</p>
            </div>
          </div>
          <div class="ContactDetails__row___1EnGm Row__Row-kNtYPA kADQsk">
            <div class="ContactDetails__col___1nJPK Col__Col-hCQanm hajBDj"><a href="tel:0402 236 217" class="sc-kgoBCf hcGGby"><span>040 *** ***</span></a>
            </div>
            <div class="ContactDetails__col___1nJPK Col__Col-hCQanm hajBDj">
              <button class="sc-chPdSV gXsfDS" data-test-marker="open-enquiry"><span>Send enquiry</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="Card__fullWidth___1hz4J Card__card___28qZh">
        <div class="SpaceDetails__sidebar___3Kgnf">
          <h2 class="SpaceDetails__header___g5EQW"><svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-info" viewBox="0 0 40 40"><path d="M20.555 25.906v-9.03a.779.779 0 0 0-.784-.774h-3.367a.779.779 0 0 0-.785.773c0 .427.352.773.785.773h2.583v8.258h-3.56a.778.778 0 0 0-.785.774c0 .427.35.773.784.773h8.692a.779.779 0 0 0 .784-.773.779.779 0 0 0-.784-.774h-3.563zM20.83 12.484c0-.833-.685-1.509-1.531-1.509-.846 0-1.532.676-1.532 1.51s.686 1.51 1.532 1.51 1.532-.676 1.532-1.51z"></path><path d="M4.739 19.86c0-8.19 6.733-14.829 15.04-14.829 8.306 0 15.04 6.64 15.04 14.83 0 8.19-6.734 14.83-15.04 14.83-8.307 0-15.04-6.64-15.04-14.83zm31.625 0c0-9.031-7.425-16.353-16.585-16.353S3.193 10.83 3.193 19.861c0 9.031 7.426 16.353 16.586 16.353 9.16 0 16.585-7.322 16.585-16.353z"></path></svg> Need to know</h2>
          <div class="SpaceDetails__section___3_fMP">
            <h3 class="SpaceDetails__sectionHeading___rAXtM">Lease duration</h3>
            <dl><dt><span>Minimum term:</span></dt>
              <dd><span>5</span><span> <!-- -->Weeks</span>
              </dd>
            </dl>
          </div>
          <div class="SpaceDetails__section___3_fMP">
            <h3 class="SpaceDetails__sectionHeading___rAXtM">Pricing options</h3>
            <dl>
              <div><dt>Per <!-- -->week<!-- -->:</dt>
                <dd><span>$132</span>
                </dd>
              </div>
            </dl>
          </div>
          <div class="SpaceDetails__section___3_fMP">
            <h3 class="SpaceDetails__sectionHeading___rAXtM">Opening hours</h3>
            <p class="SpaceDetails__sectionDescription___2WizH">24/7 Access</p>
            <div><dt>Monday - Sunday</dt>
              <dd class="SpaceDetails__openingHours___2TZff"><span>12:00 am</span>–<span>12:00 am</span>
              </dd>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Col__Col-hCQanm iaWMmc">
      <div class="SpaceDisplayPage__contentWrapperMobile___2222P">
        <div>
          <div>
            <h2><address class="Address__wrapperInline___3CuUf Address__wrapper___3ah3k"><span class="">31/24 Tanner Street</span>, <span class=""><!-- -->Richmond<!-- --> <!-- -->VIC<!-- --> <!-- -->3121</span></address></h2>
            <div class="SpaceContent__description___3afCw">
              <div style="overflow:hidden"></div>
            </div>
          </div>
          <div class="Amenities__amenities___1QIlZ">
            <h2>Amenities</h2>
            <div class="Amenities__amenitiesList___3aDmx">
              <div>
                <ul>
                  <li title="WiFi">
                    <svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-tick" viewBox="0 0 40 40">
                      <path d="M13.069 19.975a2.222 2.222 0 0 0-3.143 3.142l3.865 3.865c.847.847 2.212.87 3.088.053l11.594-10.821a2.222 2.222 0 0 0-3.033-3.25l-10.024 9.357-2.347-2.346z"></path>
                      <path d="M35.556 20c0 8.59-6.967 15.556-15.556 15.556-8.593 0-15.556-6.964-15.556-15.556 0-8.592 6.963-15.556 15.556-15.556 8.59 0 15.556 6.966 15.556 15.556zM40 20C40 8.955 31.044 0 20 0 8.952 0 0 8.953 0 20s8.952 20 20 20c11.044 0 20-8.955 20-20z"></path>
                    </svg>WiFi</li>
                  <li title="Kitchen">
                    <svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-tick" viewBox="0 0 40 40">
                      <path d="M13.069 19.975a2.222 2.222 0 0 0-3.143 3.142l3.865 3.865c.847.847 2.212.87 3.088.053l11.594-10.821a2.222 2.222 0 0 0-3.033-3.25l-10.024 9.357-2.347-2.346z"></path>
                      <path d="M35.556 20c0 8.59-6.967 15.556-15.556 15.556-8.593 0-15.556-6.964-15.556-15.556 0-8.592 6.963-15.556 15.556-15.556 8.59 0 15.556 6.966 15.556 15.556zM40 20C40 8.955 31.044 0 20 0 8.952 0 0 8.953 0 20s8.952 20 20 20c11.044 0 20-8.955 20-20z"></path>
                    </svg>Kitchen</li>
                  <li title="Parking">
                    <svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-tick" viewBox="0 0 40 40">
                      <path d="M13.069 19.975a2.222 2.222 0 0 0-3.143 3.142l3.865 3.865c.847.847 2.212.87 3.088.053l11.594-10.821a2.222 2.222 0 0 0-3.033-3.25l-10.024 9.357-2.347-2.346z"></path>
                      <path d="M35.556 20c0 8.59-6.967 15.556-15.556 15.556-8.593 0-15.556-6.964-15.556-15.556 0-8.592 6.963-15.556 15.556-15.556 8.59 0 15.556 6.966 15.556 15.556zM40 20C40 8.955 31.044 0 20 0 8.952 0 0 8.953 0 20s8.952 20 20 20c11.044 0 20-8.955 20-20z"></path>
                    </svg>Parking</li>
                  <li title="24/7 access">
                    <svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-tick" viewBox="0 0 40 40">
                      <path d="M13.069 19.975a2.222 2.222 0 0 0-3.143 3.142l3.865 3.865c.847.847 2.212.87 3.088.053l11.594-10.821a2.222 2.222 0 0 0-3.033-3.25l-10.024 9.357-2.347-2.346z"></path>
                      <path d="M35.556 20c0 8.59-6.967 15.556-15.556 15.556-8.593 0-15.556-6.964-15.556-15.556 0-8.592 6.963-15.556 15.556-15.556 8.59 0 15.556 6.966 15.556 15.556zM40 20C40 8.955 31.044 0 20 0 8.952 0 0 8.953 0 20s8.952 20 20 20c11.044 0 20-8.955 20-20z"></path>
                    </svg>24/7 access</li>
                  <li title="Phone">
                    <svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-tick" viewBox="0 0 40 40">
                      <path d="M13.069 19.975a2.222 2.222 0 0 0-3.143 3.142l3.865 3.865c.847.847 2.212.87 3.088.053l11.594-10.821a2.222 2.222 0 0 0-3.033-3.25l-10.024 9.357-2.347-2.346z"></path>
                      <path d="M35.556 20c0 8.59-6.967 15.556-15.556 15.556-8.593 0-15.556-6.964-15.556-15.556 0-8.592 6.963-15.556 15.556-15.556 8.59 0 15.556 6.966 15.556 15.556zM40 20C40 8.955 31.044 0 20 0 8.952 0 0 8.953 0 20s8.952 20 20 20c11.044 0 20-8.955 20-20z"></path>
                    </svg>Phone</li>
                  <li title="Tea &amp; coffee">
                    <svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-tick" viewBox="0 0 40 40">
                      <path d="M13.069 19.975a2.222 2.222 0 0 0-3.143 3.142l3.865 3.865c.847.847 2.212.87 3.088.053l11.594-10.821a2.222 2.222 0 0 0-3.033-3.25l-10.024 9.357-2.347-2.346z"></path>
                      <path d="M35.556 20c0 8.59-6.967 15.556-15.556 15.556-8.593 0-15.556-6.964-15.556-15.556 0-8.592 6.963-15.556 15.556-15.556 8.59 0 15.556 6.966 15.556 15.556zM40 20C40 8.955 31.044 0 20 0 8.952 0 0 8.953 0 20s8.952 20 20 20c11.044 0 20-8.955 20-20z"></path>
                    </svg>Tea &amp; coffee</li>
                  <li title="Print">
                    <svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-tick" viewBox="0 0 40 40">
                      <path d="M13.069 19.975a2.222 2.222 0 0 0-3.143 3.142l3.865 3.865c.847.847 2.212.87 3.088.053l11.594-10.821a2.222 2.222 0 0 0-3.033-3.25l-10.024 9.357-2.347-2.346z"></path>
                      <path d="M35.556 20c0 8.59-6.967 15.556-15.556 15.556-8.593 0-15.556-6.964-15.556-15.556 0-8.592 6.963-15.556 15.556-15.556 8.59 0 15.556 6.966 15.556 15.556zM40 20C40 8.955 31.044 0 20 0 8.952 0 0 8.953 0 20s8.952 20 20 20c11.044 0 20-8.955 20-20z"></path>
                    </svg>Print</li>
                  <li title="Scan">
                    <svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-tick" viewBox="0 0 40 40">
                      <path d="M13.069 19.975a2.222 2.222 0 0 0-3.143 3.142l3.865 3.865c.847.847 2.212.87 3.088.053l11.594-10.821a2.222 2.222 0 0 0-3.033-3.25l-10.024 9.357-2.347-2.346z"></path>
                      <path d="M35.556 20c0 8.59-6.967 15.556-15.556 15.556-8.593 0-15.556-6.964-15.556-15.556 0-8.592 6.963-15.556 15.556-15.556 8.59 0 15.556 6.966 15.556 15.556zM40 20C40 8.955 31.044 0 20 0 8.952 0 0 8.953 0 20s8.952 20 20 20c11.044 0 20-8.955 20-20z"></path>
                    </svg>Scan</li>
                </ul><a class="ShowAll__showAll___1YAg4" href="#showAll">Show all<!-- --> <!-- -->(12)</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="VenueMap__map___1SH66">
  <div class="MapOverlay__container___1G-s8">
    <div class="sc-bxivhb emQcvF">
      <div class="MapOverlay__overlay___1_OBa Row__Row-kNtYPA dhsIZR">
        <div class="Col__Col-hCQanm eXaLdE">
          <div class="Card__mapOverlay___1a1Fw Card__noMargin___BplIX Card__card___28qZh Card__fullWidth___1hz4J Card__card___28qZh">
            <div class="MapOverlay__inner___t3UBS">
              <h2 class="MapOverlay__title___2RWOr"><svg class="sc-kAzzGY QZzih" width="1em" height="1em" fill="currentColor" data-id="icon-building" viewBox="0 0 40 40"><path d="M34.386 37.125H5.74V1.54h28.645v35.586zM4.968 0a.77.77 0 0 0-.773.77v37.124c0 .425.345.77.773.77H35.159a.771.771 0 0 0 .772-.77V.77A.77.77 0 0 0 35.16 0H4.968z"></path><path d="M13.848 8.839a.772.772 0 0 0-.773.77V4.304c0 .425.346.77.773.77H8.519a.772.772 0 0 0 .773-.77v5.303a.773.773 0 0 0-.773-.77h5.329zm-5.329 1.538a.77.77 0 0 1-.773-.769V4.305a.77.77 0 0 1 .773-.77h5.329c.426 0 .773.345.773.77v5.303a.77.77 0 0 1-.773.77H8.519zM22.727 8.842a.772.772 0 0 0-.773.769V4.308c0 .425.346.769.773.769h-5.33a.772.772 0 0 0 .774-.77v5.304a.773.773 0 0 0-.773-.77h5.329zm-5.33 1.538a.77.77 0 0 1-.772-.77V4.309a.77.77 0 0 1 .773-.77h5.329c.426 0 .772.345.772.77V9.61a.77.77 0 0 1-.772.769h-5.33zM31.607 8.842a.772.772 0 0 0-.773.769V4.308c0 .425.346.769.773.769h-5.329a.772.772 0 0 0 .773-.77v5.304a.773.773 0 0 0-.773-.77h5.329zm-5.329 1.538a.77.77 0 0 1-.773-.77V4.309a.77.77 0 0 1 .773-.77h5.329c.426 0 .772.345.772.77V9.61a.77.77 0 0 1-.772.769h-5.329zM13.848 17.672a.772.772 0 0 0-.773.77v-5.304c0 .426.346.77.773.77H8.519a.772.772 0 0 0 .773-.77v5.304a.773.773 0 0 0-.773-.77h5.329zm-5.329 1.539a.77.77 0 0 1-.773-.77v-5.303a.77.77 0 0 1 .773-.769h5.329c.426 0 .773.345.773.77v5.303a.77.77 0 0 1-.773.769H8.519zM22.727 17.672a.772.772 0 0 0-.773.77v-5.304c0 .426.346.77.773.77h-5.33a.772.772 0 0 0 .774-.77v5.304a.773.773 0 0 0-.773-.77h5.329zm-5.33 1.539a.77.77 0 0 1-.772-.77v-5.303a.77.77 0 0 1 .773-.769h5.329c.426 0 .772.345.772.77v5.303a.77.77 0 0 1-.772.769h-5.33zM31.607 17.672a.772.772 0 0 0-.773.77v-5.304c0 .426.346.77.773.77h-5.329a.772.772 0 0 0 .773-.77v5.304a.773.773 0 0 0-.773-.77h5.329zm-5.329 1.539a.77.77 0 0 1-.773-.77v-5.303a.77.77 0 0 1 .773-.769h5.329c.426 0 .772.345.772.77v5.303a.77.77 0 0 1-.772.769h-5.329zM13.848 26.518a.772.772 0 0 0-.773.77v-5.303c0 .425.346.769.773.769H8.519a.772.772 0 0 0 .773-.77v5.304a.773.773 0 0 0-.773-.77h5.329zm-5.329 1.539a.77.77 0 0 1-.773-.77v-5.302a.77.77 0 0 1 .773-.77h5.329c.426 0 .773.345.773.77v5.303a.77.77 0 0 1-.773.769H8.519zM22.732 26.518a.772.772 0 0 0-.772.77v-5.303c0 .425.345.769.772.769h-5.328a.772.772 0 0 0 .772-.77v5.304a.773.773 0 0 0-.772-.77h5.328zm-5.328 1.539a.77.77 0 0 1-.773-.77v-5.302a.77.77 0 0 1 .773-.77h5.328c.427 0 .773.345.773.77v5.303a.77.77 0 0 1-.773.769h-5.328zM31.607 26.518a.772.772 0 0 0-.773.77v-5.303c0 .425.346.769.773.769h-5.329a.772.772 0 0 0 .773-.77v5.304a.773.773 0 0 0-.773-.77h5.329zm-5.329 1.539a.77.77 0 0 1-.773-.77v-5.302a.77.77 0 0 1 .773-.77h5.329c.426 0 .772.345.772.77v5.303a.77.77 0 0 1-.772.769h-5.329zM22.732 36.76c-.426 0-.772.427-.772.952v-6.559c0 .526.345.952.772.952h-5.328c.426 0 .772-.427.772-.952v6.56c0-.525-.347-.952-.772-.952h5.328zm-5.328 1.904c-.428 0-.773-.425-.773-.952v-6.559c0-.525.345-.951.773-.951h5.328c.427 0 .773.426.773.951v6.56c0 .526-.346.95-.773.95h-5.328z"></path></svg>About <!-- -->Design Studio in AKM Building Richmond</h2>
              <p class="MapOverlay__description___31yxv">Luxurious design studio warehouse conversion in a historical textile factory building 100m from Richmond Train station. Co-sharing with an Architecture and Interior Design Studio. We are looking for creative individuals who enjoy sharing space. Amazing light filled, super high 5m ceiling with large windows in an open plan area with a shared meeting table, terrace with seating for lunch or a drink after work, shared kitchen with large fridge, microwave and kettle and lockable bike storage downstairs. The studio has 24hr CCTV on the front door and an alarm with electronic door access. The studio is fitted with both hydronic heating and air conditioning and ethernet data points to all desks.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="VenueMap__embed___3LE-F">
    <div style="width:100%;height:100%;margin:0;padding:0;position:relative">
      <div style="width: 100%; height: 100%; left: 0px; top: 0px; margin: 0px; padding: 0px; position: absolute; overflow: hidden;">
        <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
          <div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;">
            <div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default;">
              <div style="z-index: 1; position: absolute; top: 0px; left: 0px; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
                <div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;">
                  <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                    <div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
                      <div style="width: 256px; height: 256px; position: absolute; left: 747px; top: -64px;"></div>
                      <div style="width: 256px; height: 256px; position: absolute; left: 491px; top: -64px;"></div>
                      <div style="width: 256px; height: 256px; position: absolute; left: 491px; top: 192px;"></div>
                      <div style="width: 256px; height: 256px; position: absolute; left: 747px; top: 192px;"></div>
                      <div style="width: 256px; height: 256px; position: absolute; left: 235px; top: -64px;"></div>
                      <div style="width: 256px; height: 256px; position: absolute; left: 235px; top: 192px;"></div>
                      <div style="width: 256px; height: 256px; position: absolute; left: 1003px; top: -64px;"></div>
                      <div style="width: 256px; height: 256px; position: absolute; left: 1003px; top: 192px;"></div>
                      <div style="width: 256px; height: 256px; position: absolute; left: -21px; top: 192px;"></div>
                      <div style="width: 256px; height: 256px; position: absolute; left: -21px; top: -64px;"></div>
                      <div style="width: 256px; height: 256px; position: absolute; left: 1259px; top: -64px;"></div>
                      <div style="width: 256px; height: 256px; position: absolute; left: 1259px; top: 192px;"></div>
                    </div>
                  </div>
                </div>
                <div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div>
                <div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div>
                <div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"></div>
                <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                  <div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
                    <div style="position: absolute; left: 747px; top: -64px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i14791!3i10053!4i256!2m3!1e0!2sm!3i405102602!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjV8cy5lOmd8cC5jOiNmZkYwRURFNixzLnQ6MzZ8cy5lOmcuZnxwLmM6I2ZmZGVkM2M3LHMudDo0MHxzLmU6Zy5mfHAuYzojZmZkMmU1Yzcscy50OjM1fHMuZTpnLmZ8cC5jOiNmZmU2ZGZkOCxzLnQ6Mzl8cy5lOmcuZnxwLmM6I2ZmY2JiY2FjLHMudDo0OXxzLmU6Zy5mfHAuczoxNnxwLmw6MjUscy50OjEwNTl8cy5lOmcuZnxwLmg6IzlkMDBmZnxwLnM6MjV8cC5sOjUscy50OjZ8cy5lOmcuZnxwLmM6I2ZmOWZkYmY0fHAubDo1!4e0&amp;token=50594" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                    </div>
                    <div style="position: absolute; left: 491px; top: -64px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i14790!3i10053!4i256!2m3!1e0!2sm!3i405102602!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjV8cy5lOmd8cC5jOiNmZkYwRURFNixzLnQ6MzZ8cy5lOmcuZnxwLmM6I2ZmZGVkM2M3LHMudDo0MHxzLmU6Zy5mfHAuYzojZmZkMmU1Yzcscy50OjM1fHMuZTpnLmZ8cC5jOiNmZmU2ZGZkOCxzLnQ6Mzl8cy5lOmcuZnxwLmM6I2ZmY2JiY2FjLHMudDo0OXxzLmU6Zy5mfHAuczoxNnxwLmw6MjUscy50OjEwNTl8cy5lOmcuZnxwLmg6IzlkMDBmZnxwLnM6MjV8cC5sOjUscy50OjZ8cy5lOmcuZnxwLmM6I2ZmOWZkYmY0fHAubDo1!4e0&amp;token=95798" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                    </div>
                    <div style="position: absolute; left: 491px; top: 192px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i14790!3i10054!4i256!2m3!1e0!2sm!3i405102602!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjV8cy5lOmd8cC5jOiNmZkYwRURFNixzLnQ6MzZ8cy5lOmcuZnxwLmM6I2ZmZGVkM2M3LHMudDo0MHxzLmU6Zy5mfHAuYzojZmZkMmU1Yzcscy50OjM1fHMuZTpnLmZ8cC5jOiNmZmU2ZGZkOCxzLnQ6Mzl8cy5lOmcuZnxwLmM6I2ZmY2JiY2FjLHMudDo0OXxzLmU6Zy5mfHAuczoxNnxwLmw6MjUscy50OjEwNTl8cy5lOmcuZnxwLmg6IzlkMDBmZnxwLnM6MjV8cC5sOjUscy50OjZ8cy5lOmcuZnxwLmM6I2ZmOWZkYmY0fHAubDo1!4e0&amp;token=5090" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                    </div>
                    <div style="position: absolute; left: 747px; top: 192px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i14791!3i10054!4i256!2m3!1e0!2sm!3i405102602!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjV8cy5lOmd8cC5jOiNmZkYwRURFNixzLnQ6MzZ8cy5lOmcuZnxwLmM6I2ZmZGVkM2M3LHMudDo0MHxzLmU6Zy5mfHAuYzojZmZkMmU1Yzcscy50OjM1fHMuZTpnLmZ8cC5jOiNmZmU2ZGZkOCxzLnQ6Mzl8cy5lOmcuZnxwLmM6I2ZmY2JiY2FjLHMudDo0OXxzLmU6Zy5mfHAuczoxNnxwLmw6MjUscy50OjEwNTl8cy5lOmcuZnxwLmg6IzlkMDBmZnxwLnM6MjV8cC5sOjUscy50OjZ8cy5lOmcuZnxwLmM6I2ZmOWZkYmY0fHAubDo1!4e0&amp;token=90957" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                    </div>
                    <div style="position: absolute; left: 1259px; top: 192px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i14793!3i10054!4i256!2m3!1e0!2sm!3i405102590!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjV8cy5lOmd8cC5jOiNmZkYwRURFNixzLnQ6MzZ8cy5lOmcuZnxwLmM6I2ZmZGVkM2M3LHMudDo0MHxzLmU6Zy5mfHAuYzojZmZkMmU1Yzcscy50OjM1fHMuZTpnLmZ8cC5jOiNmZmU2ZGZkOCxzLnQ6Mzl8cy5lOmcuZnxwLmM6I2ZmY2JiY2FjLHMudDo0OXxzLmU6Zy5mfHAuczoxNnxwLmw6MjUscy50OjEwNTl8cy5lOmcuZnxwLmg6IzlkMDBmZnxwLnM6MjV8cC5sOjUscy50OjZ8cy5lOmcuZnxwLmM6I2ZmOWZkYmY0fHAubDo1!4e0&amp;token=39660" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                    </div>
                    <div style="position: absolute; left: 235px; top: 192px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i14789!3i10054!4i256!2m3!1e0!2sm!3i405102602!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjV8cy5lOmd8cC5jOiNmZkYwRURFNixzLnQ6MzZ8cy5lOmcuZnxwLmM6I2ZmZGVkM2M3LHMudDo0MHxzLmU6Zy5mfHAuYzojZmZkMmU1Yzcscy50OjM1fHMuZTpnLmZ8cC5jOiNmZmU2ZGZkOCxzLnQ6Mzl8cy5lOmcuZnxwLmM6I2ZmY2JiY2FjLHMudDo0OXxzLmU6Zy5mfHAuczoxNnxwLmw6MjUscy50OjEwNTl8cy5lOmcuZnxwLmg6IzlkMDBmZnxwLnM6MjV8cC5sOjUscy50OjZ8cy5lOmcuZnxwLmM6I2ZmOWZkYmY0fHAubDo1!4e0&amp;token=30867" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                    </div>
                    <div style="position: absolute; left: 1259px; top: -64px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i14793!3i10053!4i256!2m3!1e0!2sm!3i405102590!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjV8cy5lOmd8cC5jOiNmZkYwRURFNixzLnQ6MzZ8cy5lOmcuZnxwLmM6I2ZmZGVkM2M3LHMudDo0MHxzLmU6Zy5mfHAuYzojZmZkMmU1Yzcscy50OjM1fHMuZTpnLmZ8cC5jOiNmZmU2ZGZkOCxzLnQ6Mzl8cy5lOmcuZnxwLmM6I2ZmY2JiY2FjLHMudDo0OXxzLmU6Zy5mfHAuczoxNnxwLmw6MjUscy50OjEwNTl8cy5lOmcuZnxwLmg6IzlkMDBmZnxwLnM6MjV8cC5sOjUscy50OjZ8cy5lOmcuZnxwLmM6I2ZmOWZkYmY0fHAubDo1!4e0&amp;token=130368" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                    </div>
                    <div style="position: absolute; left: 1003px; top: -64px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i14792!3i10053!4i256!2m3!1e0!2sm!3i405102602!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjV8cy5lOmd8cC5jOiNmZkYwRURFNixzLnQ6MzZ8cy5lOmcuZnxwLmM6I2ZmZGVkM2M3LHMudDo0MHxzLmU6Zy5mfHAuYzojZmZkMmU1Yzcscy50OjM1fHMuZTpnLmZ8cC5jOiNmZmU2ZGZkOCxzLnQ6Mzl8cy5lOmcuZnxwLmM6I2ZmY2JiY2FjLHMudDo0OXxzLmU6Zy5mfHAuczoxNnxwLmw6MjUscy50OjEwNTl8cy5lOmcuZnxwLmg6IzlkMDBmZnxwLnM6MjV8cC5sOjUscy50OjZ8cy5lOmcuZnxwLmM6I2ZmOWZkYmY0fHAubDo1!4e0&amp;token=5390" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                    </div>
                    <div style="position: absolute; left: 235px; top: -64px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i14789!3i10053!4i256!2m3!1e0!2sm!3i405102602!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjV8cy5lOmd8cC5jOiNmZkYwRURFNixzLnQ6MzZ8cy5lOmcuZnxwLmM6I2ZmZGVkM2M3LHMudDo0MHxzLmU6Zy5mfHAuYzojZmZkMmU1Yzcscy50OjM1fHMuZTpnLmZ8cC5jOiNmZmU2ZGZkOCxzLnQ6Mzl8cy5lOmcuZnxwLmM6I2ZmY2JiY2FjLHMudDo0OXxzLmU6Zy5mfHAuczoxNnxwLmw6MjUscy50OjEwNTl8cy5lOmcuZnxwLmg6IzlkMDBmZnxwLnM6MjV8cC5sOjUscy50OjZ8cy5lOmcuZnxwLmM6I2ZmOWZkYmY0fHAubDo1!4e0&amp;token=121575" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                    </div>
                    <div style="position: absolute; left: -21px; top: 192px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i14788!3i10054!4i256!2m3!1e0!2sm!3i405102602!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjV8cy5lOmd8cC5jOiNmZkYwRURFNixzLnQ6MzZ8cy5lOmcuZnxwLmM6I2ZmZGVkM2M3LHMudDo0MHxzLmU6Zy5mfHAuYzojZmZkMmU1Yzcscy50OjM1fHMuZTpnLmZ8cC5jOiNmZmU2ZGZkOCxzLnQ6Mzl8cy5lOmcuZnxwLmM6I2ZmY2JiY2FjLHMudDo0OXxzLmU6Zy5mfHAuczoxNnxwLmw6MjUscy50OjEwNTl8cy5lOmcuZnxwLmg6IzlkMDBmZnxwLnM6MjV8cC5sOjUscy50OjZ8cy5lOmcuZnxwLmM6I2ZmOWZkYmY0fHAubDo1!4e0&amp;token=76071" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                    </div>
                    <div style="position: absolute; left: -21px; top: -64px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i14788!3i10053!4i256!2m3!1e0!2sm!3i405102602!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjV8cy5lOmd8cC5jOiNmZkYwRURFNixzLnQ6MzZ8cy5lOmcuZnxwLmM6I2ZmZGVkM2M3LHMudDo0MHxzLmU6Zy5mfHAuYzojZmZkMmU1Yzcscy50OjM1fHMuZTpnLmZ8cC5jOiNmZmU2ZGZkOCxzLnQ6Mzl8cy5lOmcuZnxwLmM6I2ZmY2JiY2FjLHMudDo0OXxzLmU6Zy5mfHAuczoxNnxwLmw6MjUscy50OjEwNTl8cy5lOmcuZnxwLmg6IzlkMDBmZnxwLnM6MjV8cC5sOjUscy50OjZ8cy5lOmcuZnxwLmM6I2ZmOWZkYmY0fHAubDo1!4e0&amp;token=35708" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                    </div>
                    <div style="position: absolute; left: 1003px; top: 192px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i14792!3i10054!4i256!2m3!1e0!2sm!3i405102602!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjV8cy5lOmd8cC5jOiNmZkYwRURFNixzLnQ6MzZ8cy5lOmcuZnxwLmM6I2ZmZGVkM2M3LHMudDo0MHxzLmU6Zy5mfHAuYzojZmZkMmU1Yzcscy50OjM1fHMuZTpnLmZ8cC5jOiNmZmU2ZGZkOCxzLnQ6Mzl8cy5lOmcuZnxwLmM6I2ZmY2JiY2FjLHMudDo0OXxzLmU6Zy5mfHAuczoxNnxwLmw6MjUscy50OjEwNTl8cy5lOmcuZnxwLmg6IzlkMDBmZnxwLnM6MjV8cC5sOjUscy50OjZ8cy5lOmcuZnxwLmM6I2ZmOWZkYmY0fHAubDo1!4e0&amp;token=45753" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                    </div>
                  </div>
                </div>
              </div>
              <div style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;" class="gm-style-pbc">
                <p class="gm-style-pbt"></p>
              </div>
              <div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;">
                <div style="z-index: 1; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;"></div>
              </div>
              <div style="z-index: 4; position: absolute; top: 0px; left: 0px; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
                <div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div>
                <div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div>
                <div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;">
                  <div style="background-color: transparent; position: absolute; left: 0.00851869px; top: 0.451039px; width: 1366px; height: 768px;">
                    <div style="width: 100%; height: 100%; left: 0px; top: 0px; margin: 0px; padding: 0px; position: absolute;">
                      <div style="width: 0px; height: 0px; left: 674.5px; top: 200px; background-color: transparent; position: absolute;">
                        <div tabindex="0" role="button"><img src="/assets/pin-49c7f3cfc72fc23ca62d2fcefac048e3.svg" class="Pin__pin___3nr7W" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div>
              </div>
            </div>
            <div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;">
              <a target="_blank" href="https://maps.google.com/maps?ll=-37.823375,144.991337&amp;z=14&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;">
                <div style="width: 66px; height: 26px; cursor: pointer;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;">
                </div>
              </a>
            </div>
            <div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 525px; top: 110px;">
              <div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div>
              <div style="font-size: 13px;">Map data ©2017 Google</div>
              <div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
              </div>
            </div>
            <div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 164px; bottom: 0px; width: 119px;">
              <div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px;">
                <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                  <div style="width: 1px;"></div>
                  <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                </div>
                <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer; display: none;">Map Data</a><span>Map data ©2017 Google</span>
                </div>
              </div>
            </div>
            <div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;">
              <div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2017 Google</div>
            </div>
            <div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 94px; bottom: 0px;">
              <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                <div style="width: 1px;"></div>
                <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
              </div>
              <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a>
              </div>
            </div>
            <button draggable="false" title="Toggle fullscreen view" aria-label="Toggle fullscreen view" type="button" style="background: none; border: 0px; margin: 10px 14px; padding: 0px; position: absolute; cursor: pointer; user-select: none; width: 25px; height: 25px; overflow: hidden; top: 0px; right: 0px;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/sv9.png" draggable="false" class="gm-fullscreen-control" style="position: absolute; left: -52px; top: -86px; width: 164px; height: 175px; user-select: none; border: 0px; padding: 0px; margin: 0px;">
            </button>
            <div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;">
              <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                <div style="width: 1px;"></div>
                <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
              </div>
              <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_new" title="Report errors in the road map or imagery to Google" href="https://www.google.com/maps/@-37.8233754,144.9913366,14z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a>
              </div>
            </div>
            <div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false" controlwidth="28" controlheight="55" style="margin: 10px; user-select: none; position: absolute; bottom: 69px; right: 28px;">
              <div class="gmnoprint" controlwidth="28" controlheight="55" style="position: absolute; left: 0px; top: 0px;">
                <div draggable="false" style="user-select: none; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 28px; height: 55px;">
                  <button draggable="false" title="Zoom in" aria-label="Zoom in" type="button" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 28px; height: 27px; top: 0px; left: 0px;">
                    <div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;">
                    </div>
                  </button>
                  <div style="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; background-color: rgb(230, 230, 230); top: 0px;"></div>
                  <button draggable="false" title="Zoom out" aria-label="Zoom out" type="button" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 28px; height: 27px; top: 0px; left: 0px;">
                    <div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: -15px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;">
                    </div>
                  </button>
                </div>
              </div>
              <div class="gmnoprint" controlwidth="28" controlheight="0" style="display: none; position: absolute;">
                <div title="Rotate map 90 degrees" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; cursor: pointer; background-color: rgb(255, 255, 255); display: none;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: 6px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                </div>
                <div class="gm-tilt" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; top: 0px; cursor: pointer; background-color: rgb(255, 255, 255);"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: -13px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

</div>

</div>

<div class="scrollable__scrollbar scrollable__scrollbar--visible">
  <div class="scrollable__scrollbar-thumb" style="height: 46.488px; transform: translateY(0px);"></div>
</div>
</div>
</div>

    <nav class="nav nav--with-panel nav--loaded">
      <ul class="nav__items">
        <li class="nav__item"><a href="/help" class="nav__label">Help</a>
        </li>
        <li class="nav__item nav_item--expanded nav__item--active"><span class="nav__label">About us</span>
          <ul class="nav__subitems" style="width: 230.547px;">
            <li class="nav__subitem"><a href="/about" class="nav__label">WeTransfer</a>
            </li>
            <li class="nav__subitem"><a href="/plus?trk=WT201610_AboutPlus" class="nav__label">Plus</a>
            </li>
            <li class="nav__subitem nav__subitem--active nav__item--active"><span class="nav__label">Apps</span>
            </li>
            <li class="nav__subitem"><a href="/advertise" class="nav__label">Advertise</a>
            </li>
          </ul>
        </li>
        <li class="nav__item"><a href="/sign-in?trk=WT201610_HalfPanel_GotPlusClick" class="nav__label">Got Plus?</a>
        </li>
      </ul>
    </nav>
    </div>
    </div>
    </transition>
    </template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
  <script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  export default {
    /**
     * The name of the page.
     */
    name: 'modalProposal-index',

    props: ['show'],

    data: function () {
      return {
        title: '',
        body: ''
      }
    },

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      close: function () {
        this.$emit('close')
        this.title = ''
        this.body = ''
      },
      savePost: function () {
        // Some save logic goes here...
        this.close()
      }
    },

    mounted: function () {
      document.addEventListener('keydown', (e) => {
        if (this.show && e.keyCode === 27) {
          this.close()
        }
      })
    }
  }
</script>