   <template>
    <transition name="modal">
    <div class="application" v-show="show">
    <div class="panel panel--full panel--visible" @click.stop>
    <div class="panel__topbar">
    <a href="javascript:;" @click="close">
      <svg viewBox="0 0 24 24" class="panel__close">
        <path fill="#BABCBF" fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12s4.477 10 10 10 10-4.477 10-10zm-10-1.414L9.875 8.46c-.38-.38-1.02-.386-1.41.004-.394.394-.393 1.023-.004 1.41L10.587 12 8.46 14.125c-.38.38-.386 1.02.004 1.41.394.394 1.023.393 1.41.004L12 13.413l2.125 2.125c.38.38 1.02.386 1.41-.004.394-.394.393-1.023.004-1.41L13.413 12l2.125-2.125c.38-.38.386-1.02-.004-1.41-.394-.394-1.023-.393-1.41-.004L12 10.587zM0 12C0 5.373 5.373 0 12 0s12 5.373 12 12-5.373 12-12 12S0 18.627 0 12z"></path>
      </svg>
      </a>
    </div><div class="scrollable panel__scrollable scrollable--overflow-bottom">

    <div class="scrollable__content" style="margin-right: 0px;">

    <div class="panel__content apps">

<div class="SpaceLayout__wrapper___2rlgu" data-test-marker="space-details">
  <div>
<div class="sc-bxivhb emQcvF">

<!-- kcjdgcwd -->


</div>



</div>
</div>

</div>

</div>

<div class="scrollable__scrollbar scrollable__scrollbar--visible">
  <div class="scrollable__scrollbar-thumb" style="height: 46.488px; transform: translateY(0px);"></div>
</div>
</div>
</div>

    <nav class="nav nav--with-panel nav--loaded">
      <ul class="nav__items">
        <li class="nav__item"><a href="/help" class="nav__label">Help</a>
        </li>
        <li class="nav__item nav_item--expanded nav__item--active"><span class="nav__label">About us</span>
          <ul class="nav__subitems" style="width: 230.547px;">
            <li class="nav__subitem"><a href="/about" class="nav__label">WeTransfer</a>
            </li>
            <li class="nav__subitem"><a href="/plus?trk=WT201610_AboutPlus" class="nav__label">Plus</a>
            </li>
            <li class="nav__subitem nav__subitem--active nav__item--active"><span class="nav__label">Apps</span>
            </li>
            <li class="nav__subitem"><a href="/advertise" class="nav__label">Advertise</a>
            </li>
          </ul>
        </li>
        <li class="nav__item"><a href="/sign-in?trk=WT201610_HalfPanel_GotPlusClick" class="nav__label">Got Plus?</a>
        </li>
      </ul>
    </nav>
    </div>
    </div>
        </div>
    </transition>
    </template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
   */

  export default {
    /**
     * The name of the page.
     */
    name: 'modalProposal-index',

    props: ['show'],

    data: function () {
      return {
        title: '',
        body: ''
      }
    },

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      close: function () {
        this.$emit('close')
        this.title = ''
        this.body = ''
      },
      savePost: function () {
        // Some save logic goes here...
        this.close()
      }
    },

    mounted: function () {
      document.addEventListener('keydown', (e) => {
        if (this.show && e.keyCode === 27) {
          this.close()
        }
      })
    }
  }
</script>