   <template>
    <transition name="modal">
        <div class="modal-mask" @click="close" v-show="show">
            <div class="modal-container" @click.stop>
                <div class="modal-header">
                    <h3>New Post</h3>
                </div>
                <div class="modal-body">
                    <label class="form-label">
                        Title
                        <input class="form-control">
                    </label>
                    <label class="form-label">
                        Body
                        <textarea rows="5" class="form-control"></textarea>
                    </label>
                </div>
                <div class="modal-footer text-right">
                    <button class="modal-default-button" @click="savePost()">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </transition>
    </template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
  <script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  export default {
    /**
     * The name of the page.
     */
    name: 'modalForm-index',

    props: ['show'],

    data: function () {
      return {
        title: '',
        body: ''
      }
    },

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      close: function () {
        this.$emit('close')
        this.title = ''
        this.body = ''
      },
      savePost: function () {
        // Some save logic goes here...
        this.close()
      }
    },

    mounted: function () {
      document.addEventListener('keydown', (e) => {
        if (this.show && e.keyCode === 27) {
          this.close()
        }
      })
    }
  }
</script>