<template>
<v-layout>
  <div class="c-toolbar u-justify-between">
<div class="container">
      <nav class="c-counter-nav">
          <p class="c-counter-nav__title">Status:</p>
          <div class="c-counter-nav__item u-hidden-down@tablet">
              <a class="c-counter-nav__link" href="#">
                  <span class="c-counter-nav__counter"><i class="fa fa-check"></i></span>Contract
              </a>
          </div>
          <div class="c-counter-nav__item u-hidden-down@tablet">
              <a class="c-counter-nav__link" href="#">
                  <span class="c-counter-nav__counter"><i class="fa fa-check"></i></span>Initial Design Draft
              </a>
          </div>
          <div class="c-counter-nav__item">
              <a class="c-counter-nav__link is-active" href="#">
                  <span class="c-counter-nav__counter">3</span>Coding Sprint
              </a>
          </div>
          <div class="c-counter-nav__item u-hidden-down@tablet">
              <a class="c-counter-nav__link" href="#">
                  <span class="c-counter-nav__counter">4</span>SEO Optimization
              </a>
          </div>
      </nav>
      <span class="c-badge c-badge--small c-badge--success">Active Project</span>
      </div>
  </div>
  <div class=" container  container-fixed-lg">
          <div class="br-section-wrapper pd-0">
          <form @submit.prevent="submit(model)" autocomplete="off">
          <div class="br-section-header">
                    <h6 class="br-section-label">Edit information</h6>
                    <p class="br-section-text">A form with a label on top of each form control.</p>
          </div>
          <div class="br-section-body pd-70-force">


                    <div class="form-layout form-layout-1">
                      <div class="row">
                      <div class="col-xl-7 col-lg-6 ">

                      <div class="card card-transparent">
                      <div class="card-block">


                              <fieldset :disabled="state.paused">

                                  <section id="states">



                                      <article id="getInformation" v-show="state.is.getInformation">
                                          <h2>Welcome</h2>


                      <div class="row">
                                                    <div class="col-md-12">
                                                      <div class="form-body">
                                                        <div class="row">
                                                          <div class="col-md-12">
                                                            <h4 class="form-section"><i class="ft-map-pin"></i> Address Location</h4>
                                                          </div>

                                                        </div>


                                                        <div class="row">
                                                          <div class="col-md-12">
                                                            <div class="form-group" :class="{error: validation.hasError('selectedCities')}">
                                                              <label>Choose your zone of selling</label>
                                                                <multiselect
                          v-model="selectedCities"
                          id="ajax"
                          label="name"
                          track-by="id"
                          placeholder="Type to search"
                          open-direction="bottom"
                          :custom-label="nameWithProvince"
                          :clear-on-select="true"
                          :options="cities"
                          :multiple="true"
                          :searchable="true"
                          :loading="isLoading"
                          :internal-search="false"
                          :close-on-select="true"
                          :options-limit="300"
                          :max-height="600"
                          :show-no-results="true"
                          @search-change="onChangeLocation">
                          <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
                        </multiselect>
                                                              <span class="help-block">{{ validation.firstError('selectedCities') }}</span>

                                                            </div>
                                                          </div>
                                                        </div>


                                                      


                                                      </div>
                                                    </div>
                                                  </div>


                                                  <div class="form-layout form-layout-1">
                                                  <div class="row">
                                                    <div class="col-lg-8">
                                                    <div class="row mg-b-25">
                                                      <div class="col-lg-6">
                                                        <div class="form-group">
                                                          <label class="form-control-label">Firstname: <span class="tx-danger">*</span></label>
                                                          <input class="form-control" type="text" v-model="model.firstName" placeholder="Enter firstname" />
                                                        </div>
                                                      </div><!-- col-4 -->
                                                      <div class="col-lg-6">
                                                        <div class="form-group">
                                                          <label class="form-control-label">Lastname: <span class="tx-danger">*</span></label>
                                                          <input class="form-control" type="text" v-model="model.lastName" placeholder="Enter lastname" />
                                                        </div>
                                                      </div><!-- col-4 -->
                                                      <div class="col-lg-6">
                                                        <div class="form-group mg-b-10-force">
                                                          <label class="form-control-label">Birthdate: <span class="tx-danger">*</span></label>
                                                          <masked-input class="form-control" type="text" v-model="model.birthDate" mask="1111-11-11" placeholder="yyyy-mm-dd" />
                                                        </div>
                                                      </div><!-- col-4 -->
                                                      <div class="col-lg-6">
                                                      <div class="form-group">
                                                          <label class="form-control-label mg-r-10">Gender : <span class="tx-danger">*</span></label>
                                                          <label class="rdiobox d-inline-block">
                                                            <input type="radio" v-model="model.gender" name="gender" value="female" id="female"/ >
                                                            <span>Female</span>
                                                          </label>
                                                          <label class="rdiobox d-inline-block mg-xs-l-20">
                                                            <input type="radio" v-model="model.gender" name="gender" value="male" id="male" />
                                                            <span>Male</span>
                                                          </label>
                                                        </div>

                                                      </div><!-- col-4 -->

                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                      <label class="form-control-label mg-r-10">Photo : </label>
                                        <div class=" mg-md-t-0">

                                                    <div class="ht-150 bd bd-dashed d-flex align-items-center justify-content-center rounded bg-gray-300">

                                                    <div v-show="showPhoto === true" class="tx-center">

                                        <div class="upload-wrapper">
                                          <a href="javascript:;" @click="removeFile" class="close-classic"></a>
                                          <img src="http://themepixels.me/bracketplus/img/img6.jpg" class="wd-100 rounded-circle" alt="">
                                        </div>

                                                        </div>

                                                      <div v-show="showPhoto === false" class="tx-center wd-60p">
                                                        <input type="file" name="files" id="file-3" class="inputfile" accept="image/*"  @change="handleFilesSelect" />
                                        <label for="file-3" class="if-style-1 if-primary">
                                          <div class="icon-wrapper">
                                            <i class="icon ion-ios-upload-outline"></i>
                                          </div>
                                          <span>Choose a file</span>
                                        </label>
                                                      </div>
                                                    </div>
                                                  </div><!-- card -->

                                                    </div>
                                                    </div><!-- row -->


                                                  </div><!-- form-layout -->

                                      </article>

                                      <article id="getDetails" v-show="state.is.getDetails">

                                          <h2>Details</h2>

                                          <form class="form form-horizontal">

                                              <p>Please provide some personal information</p>

                                              <fieldset>

                                                  <div v-show="state.paused" class="alert alert-info">Communicating with server...</div>



                                              </fieldset>

                                          </form>

                                      </article>

                                      <article id="finish" v-show="state.is.finish">
                                          <h2>Thank you!</h2>
                                          <p>Your membership information has been emailed to you</p>
                                      </article>

                                  </section>

                                  <section id="controls">
                                      <button @click="doAction" :disabled="!state.actions.back" class="btn btn-sm" name="back">Back</button>
                                      <button @click="doAction" :disabled="!state.actions.next" class="btn btn-sm" name="next">Next</button>
                                      <button @click="doAction" :disabled="!state.actions.restart" class="btn btn-sm" name="restart">Restart</button>
                                  </section>

                              </fieldset>

                          </div>
                          </div>
                          </div>

                      </div>


                    </div><!-- form-layout -->
                    </div>
                    <div class="br-section-footer">

                        <button id="edit_information" class="btn btn-info">Submit Form</button>
                        <button class="btn btn-secondary">Cancel</button>

                    </div>
          </form>
                  </div>

          <main class="o-page__content">

              <div class="container-fluid">

                  <div class="row">
                      <div class="col-xl-8">

                          <article class="c-stage">
                              <div class="c-stage__header o-media u-justify-start">
                                  <div class="c-stage__icon o-media__img">
                                      <i class="fa fa-check"></i>
                                  </div>
                                  <div class="c-stage__header-title o-media__body">
                                      <h6 class="u-mb-zero">Stage 1 - Initial Design Draft</h6>
                                      <p class="u-text-xsmall u-text-mute">Started 3 days ago  |  Expected time: 14 days</p>
                                  </div>
                              </div>

                              <div class="c-stage__panel u-p-medium">

                                  <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall">Description</p>
                                  <p class="u-mb-medium">What we have done so far is brighten the colour palette, created new “easy to understand” icons, overall organization of the page and also worked on the copy! After first user tesing  we got some great results - users that went through the page could navigate easily and explain Tapdaq’s services right after.</p>

                                  <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall">Resources</p>
                                  <div class="row u-mb-medium">
                                      <div class="col-md-6 col-lg-4">
                                          <ul>
                                              <li class="u-mb-xsmall u-text-small u-color-primary">
                                                  <i class="fa fa-file-image-o u-text-mute u-mr-xsmall"></i>Previous-design.png
                                              </li>
                                              <li class="u-mb-xsmall u-text-small u-color-primary">
                                                  <i class="fa fa-file-text-o u-text-mute u-mr-xsmall"></i>Marketing-Materials-2018.zip
                                              </li>
                                              <li class="u-mb-xsmall u-text-small u-color-primary">
                                                  <i class="fa fa-file-text-o u-text-mute u-mr-xsmall"></i>All-PSD-Files.zip
                                              </li>
                                          </ul>
                                      </div>

                                      <div class="col-md-6 col-lg-8">
                                          <ul>
                                              <li class="u-mb-xsmall u-text-small u-color-primary">
                                                  <i class="fa fa-file-text-o u-text-mute u-mr-xsmall"></i>Brief.docx
                                              </li>
                                              <li class="u-mb-xsmall u-text-small u-color-primary">
                                                  <i class="fa fa-file-text-o u-text-mute u-mr-xsmall"></i>Copy-for-landing-page-by-Jason.docx
                                              </li>
                                          </ul>
                                      </div>
                                  </div>

                                  <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall">Main goal of this stage</p>

                                  <div class="row">
                                      <div class="col-md-6 col-lg-4">
                                          <ul>
                                              <li class="u-mb-xsmall u-text-small u-color-primary">
                                                  <i class="fa fa-check u-color-info u-text-mute u-mr-xsmall"></i>New colour palette
                                              </li>
                                              <li class="u-mb-xsmall u-text-small u-color-primary">
                                                  <i class="fa fa-check u-color-info u-text-mute u-mr-xsmall"></i>Brand new and cool icons
                                              </li>
                                          </ul>
                                      </div>

                                      <div class="col-md-6 col-lg-4">
                                          <ul>
                                              <li class="u-mb-xsmall u-text-small u-color-primary">
                                                  <i class="fa fa-check u-color-info u-text-mute u-mr-xsmall"></i>New copy
                                              </li>
                                          </ul>
                                      </div>
                                  </div>

                              </div><!-- // .c-stage__panel -->

                              <div class="c-stage__panel u-p-medium">
                                  <div class="o-media u-mb-small">
                                      <div class="o-media__img u-mr-xsmall">
                                          <div class="c-avatar c-avatar--xsmall">
                                              <img class="c-avatar__img" src="img/avatar-72.jpg" alt="Profile Title">
                                          </div>

                                      </div>

                                  </div><!-- // .o-media -->

                              </div>

                              <div class="c-stage__label">
                                  <i class="c-stage__label-icon fa fa-check-circle"></i>
                                  <p class="c-stage__label-title">Stage 1 - Approved</p>
                              </div>

                              <div class="c-stage__panel u-p-medium">
                                  <div class="o-media u-mb-small">
                                      <div class="o-media__img u-mr-xsmall">
                                          <div class="c-avatar c-avatar--xsmall">
                                              <img class="c-avatar__img" src="img/avatar4-72.jpg" alt="Profile Title">
                                          </div>

                                      </div>

                                  </div><!-- // .o-media -->


                              </div>
                          </article><!-- // .c-stage -->
                      </div>


                  </div>
              </div><!-- // .container -->

          </main><!-- // .o-page__content -->
        </div>

</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

import {StateMachine, StateHelper} from 'state-machine'
import VLayout from 'layouts/Dashboard'
import * as constants from 'constants/index'
import SimpleVueValidation from 'simple-vue-validator'
let Validator = SimpleVueValidation.Validator

  export default {
    data () {
      return {
        iteration: 0,
        schema: {
          characteristics: {},
          fieldset: []
        },
        model: {
          city: null,
          ageOfProperty: '',
          isProfileFirstBuyer: '',
          isProposalUrgent: null,
          type: null,
          size: null,
          description: null
        },
        isLoading: false,
        state: null, // this will be populated by StateHelper data
        arrayUrgencyOfProposal: constants.URGENCY_OF_PROPOSAL,
        propertyTypes: [],
        selectedCities: [],
        typeOfProperty: constants.TYPE_FOR_RENT,
        cities: []
      }
    },
    validators: {
      'selectedCities': function (value) {
        if (this.state.is.getInformation) {
          return Validator.value(value).required()
        }
      },
      'model.ageOfProperty': function (value) {
        if (this.state.is.getInformation) {
          return Validator.value(value).required()
        }
      },
      'model.isProfileFirstBuyer': function (value) {
        if (this.state.is.getInformation) {
          return Validator.value(value).required()
        }
      },
      'model.isProposalUrgent': function (value) {
        if (this.state.is.getInformation) {
          return Validator.value(value).required()
        }
      },
      'propertyTypes': function (value) {
        if (this.state.is.getInformation) {
          return Validator.value(value).required()
        }
      }
    },
    created: function () {
      // create state machine
      this.fsm = StateMachine.create({
        transitions: [
          'next    : getInformation > getDetails > finish',
          'back    : getInformation < getDetails',
          'restart : getInformation        < finish'
        ],
        handlers: {
          'getDetails@next': this.onSubmit,
          'finish': this.onComplete
        }
      })
      // create and assign state helper object / data to application state
      this.state = StateHelper.object(this.fsm).data
    },
    methods: {
      // ------------------------------------------------------------------------------------------------
      // ui code
      doAction: function (event) {
        this.validate(event)
      },
      onSubmit: function (event, fsm) {
        this.submit()
        // fsm.cancel()
      },
      onComplete: function () {
        // this.reset()
      },
      validate: function (event) {
        this.$validate().then(success => {
          if (success) {
            // until we get true we deliver the function generateSchema
            if (this.state.is.getDetails === undefined) {
              this.generateSchema()
            }
            this.fsm.do(event.target.name)
          }
        })
      },
      generateSchema: function () {
        let fieldArray = []
        for (let x in this.selectedCities) {
          for (let y in this.propertyTypes) {
            fieldArray.push({
              'index': this.iteration,
              'city': this.selectedCities[x],
              'type': this.propertyTypes[y]
            })
            this.iteration += 1
          }
          this.schema.fieldset.push({
            'legend': this.selectedCities[x],
            'fields': fieldArray
          })
          fieldArray = []
        }
        console.log(this.iteration)
        this.schema.characteristics.ageOfProperty = this.model.ageOfProperty
        this.schema.characteristics.isProfileFirstBuyer = this.model.isProfileFirstBuyer
        this.schema.characteristics.isProposalUrgent = this.model.isProposalUrgent
      },
      submit: function () {
        this.fsm.pause()
        console.log('Submitting data...')
        setTimeout(function () {
          let $form = document.querySelector('form.form')
          let formData = new FormData($form[0])

          let payload = {method: 'post', url: 'api/profile/lessor/new', data: formData}
          this.$store.dispatch('form/submit', payload)
          console.log('Data submitted!')
          this.fsm.resume()
        }.bind(this), 2000)
      },
      // function to load cities
      asyncFind: function (query) {
        this.isLoading = true
        this.$http.get('rest/city', {params: query}).then(response => {
          // get status
          this.isLoading = false
          this.cities = response.data
        }, response => {
          // get failed
          console.log(response)
        })
      },
      // function to display name of province and name of city
      nameWithProvince: function ({ name, province }) {
        return `${province.name}, ${name}`
      },
      // function to start searching for cities after 3 characteres
      onChangeLocation: function (searchQuery) {
        // if the type query is equal or greater than 3 characteres
        // then load cities
        if (searchQuery.length >= 3) {
          let params = { q: searchQuery }
          this.asyncFind(params)
        }
      }
    },
    computed: {
      getMessage: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.user = {firstName: null, lastName: null, credential: null, rePassword: null, password: null}
        }
        return message
      },
      valueForm: function () {
        // need to init the schema array when the user get back (to avoid append data)
        if (this.state.actions.back === undefined) {
          this.schema = {
            characteristics: {},
            fieldset: []
          }
          this.iteration = 0
        }
        return this.schema
      }
    },
    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
