<template>
  <v-layout>
<div class="br-section-wrapper pd-0">
<div class="br-section-header">
          <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">Edit property</h6>
          <p class="mg-b-30 tx-gray-600">A form with a label on top of each form control.</p>
          </div>
<div class="br-section-body pd-70-force">
          <div class="form-layout form-layout-1">
          <div class="row">
          <div class="col-lg-8">
            <div class="row mg-b-25">
              <div class="col-lg-12">
                <div class="form-group">
                                      <label>City</label>
                    <multiselect v-model="model.location" id="ajax" label="name" track-by="id" placeholder="Type to search" open-direction="bottom" :custom-label="nameWithProvince" :clear-on-select="true" :options="cities" :searchable="true" :loading="isLoading" :internal-search="false" :close-on-select="true" :options-limit="300" :max-height="600" :show-no-results="true" @search-change="onChangeLocation">
                      <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
                    </multiselect>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Adress</label>
                    <input type="text" v-model="model.address" placeholder="eg. St Catherine" class="form-control">
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Postal code</label>
                    <input type="text" v-model="model.postalCode" placeholder="eg. ### ###" class="form-control">
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group mg-b-10-force">
                  <label>Type of sale</label>
                    <select @change="changeTypeOfProperty" v-model="model.saleType" class="form-control input-md">
                      <option value="">Select a value</option>
                      <option v-for="type in typeOfSale" :value="type">{{ type }}</option>
                    </select>
                </div>
              </div><!-- col-8 -->
              <div class="col-lg-6">
                <div class="form-group mg-b-10-force">
                  <label>Type of property</label>
                    <select v-model="model.type" class="form-control input-md">
                      <option value="">Select a value</option>
                      <option v-for="propertyType in propertyTypes" :value="propertyType">{{propertyType}}</option>
                    </select>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-4">
                <div class="form-group mg-b-10-force">
                  <label>Status of property</label>
                    <input v-model="model.status" type="text" placeholder="eg. St Catherine" class="form-control">
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-4">
                <div class="form-group mg-b-10-force">
                  <label>Size of property</label>
                    <numeral-input v-model="model.size" placeholderValue="Size of property" className="form-control" />
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-4">
                <div class="form-group mg-b-10-force">
                  <label>Price of property</label>
                  <numeral-input v-model="model.price" format="$ 0,0" placeholderValue="Price of property" className="form-control" />
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group mg-b-10-force">
                  <label>Bedroom</label>
                    <select v-model="model.bedrooms" class="form-control" :disabled="model.saleType == 'for_rent'">
                      <option value="">Select a value</option>
                      <option v-for="n in 9" :value="n">{{n}}</option>
                      <option value="10">10+</option>
                    </select>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group mg-b-10-force">
                  <label>Bathroom</label>
                    <select v-model="model.bathrooms" class="form-control" :disabled="model.saleType == 'for_rent'">
                      <option value="">Select a value</option>
                      <option v-for="n in 9" :value="n">{{n}}</option>
                      <option value="10">10+</option>
                    </select>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-12">
                <div class="form-group mg-b-10-force">
                  <label for="descriptionProperty">Description</label>
                  <textarea v-model="model.description" class="form-control" id="descriptionProperty" rows="10"></textarea>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-12">
                <div class="form-group mg-b-10-force">
                  <label>Characteristics</label>
              <div class="row">
                <div v-for="characteristic in characteristics" class="col-md-4">
                  <label class="form-check-label">
                    <input v-model="model.characteristics" class="form-check-input" type="checkbox" :id="characteristic" :value="characteristic"> {{ characteristic }}
                  </label>
                </div>
              </div>
                </div>
              </div><!-- col-4 -->
            </div><!-- row -->
            </div>

                        <div class="col-lg-4">
              <label class="form-control-label mg-r-10">Photo : </label>
              <div class=" mg-md-t-0">

            <div class="ht-150 bd bd-dashed d-flex align-items-center justify-content-center rounded bg-gray-300">
          

              <div class="tx-center wd-60p">
                <input type="file" name="files" id="file-3" class="inputfile" accept="image/*" @change="handleFilesSelect" multiple="multiple"  />
<label for="file-3" class="if-style-1 if-primary">
  <div class="icon-wrapper">
    <i class="icon ion-ios-upload-outline"></i>
  </div>
  <span>Choose a file</span>
</label>
              </div>

              <ul class="fileuploader-items-list text-left" ref="selectedFiles">

              </ul>
            </div>
          </div><!-- card -->
            </div>
            </div>

          </div><!-- form-layout -->
          </div>

          <div class="br-section-footer">
            
              <button id="edit_property" class="btn btn-info">Submit Form</button>
              <button class="btn btn-secondary">Cancel</button>

          </div>

        </div>
    <div class="row">
      <div class="col-xl-7 col-lg-6 ">

        <div class="card card-transparent">
          <div class="card-block">



            <form @submit.prevent="update(model)" class="form" autocomplete="off">
              <div class="row clearfix">
                <div class="col-md-12">
                  <div id="location" class="form-group required">
                    <label>City</label>
                    <multiselect v-model="model.location" id="ajax" label="name" track-by="id" placeholder="Type to search" open-direction="bottom" :custom-label="nameWithProvince" :clear-on-select="true" :options="cities" :searchable="true" :loading="isLoading" :internal-search="false" :close-on-select="true" :options-limit="300" :max-height="600" :show-no-results="true" @search-change="onChangeLocation">
                      <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
                    </multiselect>
                  </div>
                  <span class="error"></span>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-md-6">
                  <div id="address" class="form-group form-group-default required">
                    <label>Adress</label>
                    <input type="text" v-model="model.address" placeholder="eg. St Catherine" class="form-control">
                  </div>
                  <span class="error"></span>
                </div>
                <div class="col-md-6">
                  <div id="postalCode" class="form-group form-group-default required">
                    <label>Postal code</label>
                    <input type="text" v-model="model.postalCode" placeholder="eg. ### ###" class="form-control">
                  </div>
                  <span class="error"></span>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-md-6">
                  <div id="saleType" class="form-group form-group-default required">
                    <label>Type of sale</label>
                    <select @change="changeTypeOfProperty" v-model="model.saleType" class="form-control input-md">
                      <option value="">Select a value</option>
                      <option v-for="type in typeOfSale" :value="type">{{ type }}</option>
                    </select>
                  </div>
                  <span class="error"></span>
                </div>
                <div class="col-md-6">
                  <div id="type" class="form-group form-group-default required">
                    <label>Type of property</label>
                    <select v-model="model.type" class="form-control input-md">
                      <option value="">Select a value</option>
                      <option v-for="propertyType in propertyTypes" :value="propertyType">{{propertyType}}</option>
                    </select>
                  </div>
                  <span class="error"></span>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Status of property</label>
                    <input v-model="model.status" type="text" placeholder="eg. St Catherine" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div id="size" class="form-group form-group-default required">
                    <label>Size of property</label>
                    <numeral-input v-model="model.size" placeholderValue="Size of property" className="form-control" />
                  </div>
                  <span class="error"></span>
                </div>
                <div class="col-md-4">
                  <div id="price" class="form-group form-group-default required">
                    <label>Price of property</label>
                    <numeral-input v-model="model.price" format="$ 0,0" placeholderValue="Price of property" className="form-control" />
                  </div>
                  <span class="error"></span>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-md-6">
                  <div :class="classObject" class="form-group form-group-default">
                    <label>Bedroom</label>
                    <select v-model="model.bedrooms" class="form-control" :disabled="model.saleType == 'for_rent'">
                      <option value="">Select a value</option>
                      <option v-for="n in 9" :value="n">{{n}}</option>
                      <option value="10">10+</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div :class="classObject" class="form-group form-group-default">
                    <label>Bathroom</label>
                    <select v-model="model.bathrooms" class="form-control" :disabled="model.saleType == 'for_rent'">
                      <option value="">Select a value</option>
                      <option v-for="n in 9" :value="n">{{n}}</option>
                      <option value="10">10+</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-md-12">
                  <div id="description" class="form-group form-group-default">
                    <label for="descriptionProperty">Description</label>
                    <textarea v-model="model.description" class="form-control" id="descriptionProperty" rows="10"></textarea>
                  </div>
                </div>
              </div>
              <label>Characteristics</label>
              <br />
              <div class="row">
                <div v-for="characteristic in characteristics" class="col-md-4">
                  <label class="form-check-label">
                    <input v-model="model.characteristics" class="form-check-input" type="checkbox" :id="characteristic" :value="characteristic"> {{ characteristic }}
                  </label>
                </div>
              </div>
              <br />
              <p class="pull-left">
                I agree to the <a href="#">Pages Terms</a> and <a href="#">Privacy</a>.
              </p>
              <p class="pull-right">
                <a href="#">Help? Contact Support</a>
              </p>
              <div class="clearfix"></div>
              <button class="btn btn-primary" type="submit">Create a new account</button>
            </form>
          </div>
        </div>

      </div>
      <div class="col-xl-5 col-lg-6">

        <div class="card card-transparent">
          <div class="card-header ">
            <div class="card-title">Validation
            </div>
          </div>
          <div class="card-block">
            <h3>
<input type="file" id="files" name="propertyPhotos[]" multiple="multiple" accept="image/*"  @change="handleFilesSelect"/><br />
<div id="selectedFiles" ref="selectedFiles"></div>
</h3>
            <p>Forms are one of the most important components
              <br> when it comes to a dashboard. Recognizing that fact, users are
              <br>able work in a maximum content width.</p>
            <br>
            <p class="small hint-text m-t-5">VIA senior product manager
              <br> for UI/UX at REVOX</p>
            <button class="btn btn-primary btn-cons">More</button>
          </div>
        </div>

      </div>
    </div>
  </v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import Transformer from 'transformers/PropertyTransformer'
  import VLayout from 'layouts/Dashboard'
  import * as constants from 'constants/index'
  import NumeralInput from 'components/NumeralInput'

  export default {
    /**
     * The name of the page.
     */
    name: 'propertyEdit-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        isLoading: false,
        cities: [],
        propertyTypes: []
      }
    },

    mounted: function () {
      this.find()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      update: function (payload) {
        payload = {method: 'post', url: 'api/profile/property/update', data: this.model}
        this.$store.dispatch('global/submit', payload)
      },
      find: function () {
        let payload = {url: 'api/property', data: this.$route.params.id, transformer: Transformer}
        this.$store.dispatch('global/find', payload)
      },
      nameWithProvince: function ({ name, province }) {
        return `${province.name}, ${name}`
      },
      asyncFind: function (query) {
        this.isLoading = true
        this.$http.get('rest/city', {params: {q: query}}).then(response => {
          // get status
          this.isLoading = false
          this.cities = response.data
        }, response => {
          // get failed
          console.log(response)
        })
      },
      onChangeLocation: function (searchQuery) {
        if (searchQuery.length >= 3) {
          this.asyncFind(searchQuery)
        }
      },
      changeTypeOfProperty: function (e) {
        if (e.target.value === 'for_sale') {
          this.propertyTypes = constants.TYPE_FOR_SALE
        } else if (e.target.value === 'for_rent') {
          this.propertyTypes = constants.TYPE_FOR_RENT
        } else {
          this.propertyTypes = []
        }
      },
      handleFilesSelect: function (e) {
        // create a constant $this so that the element can be access everywhere
        const $this = this
        if (!e.target.files || !window.FileReader) return
        let files = e.target.files
        let filesArr = Array.prototype.slice.call(files)
        filesArr.forEach(function (f) {
          if (!f.type.match('image.*')) {
            return
          }
          let reader = new FileReader()
          reader.onload = (e) => {
            let fileObject = {
              file: f,
              size: $this.bytesToSize(f.size),
              image: e.target.result
            }
            $this.$store.dispatch('image/display', fileObject)
            let html = `<li class="fileuploader-item file-type-image file-ext-png file-has-popup upload-successful">
                <div class="columns">
                  <div class="column-thumbnail">
                    <div class="fileuploader-item-image">
                      <img src="${fileObject.image}" width="64" height="36">
                    </div><span class="fileuploader-action-popup"></span>
                  </div>
                  <div class="column-title">
                    <div title="${fileObject.file.name}" class="fs-13">${fileObject.file.name}</div><span>${fileObject.size}</span>
                  </div>
                  <div class="column-actions"><a class="fileuploader-action fileuploader-action-remove" title="Remove"><i></i></a><a class="fileuploader-action fileuploader-action-remove fileuploader-action-success" title="Remove"><i></i></a>
                  </div>
                </div>
                <div class="progress-bar2" style="display: none;">
                  <div class="fileuploader-progressbar">
                    <div class="bar" style="width: 100%;"></div>
                  </div><span>100%</span>
                </div>
              </li>`
            /* <li class="fileuploader-item file-type-image file-ext-jpg upload-loading"><div class="columns"><div class="column-thumbnail"><div class="fileuploader-item-image fileuploader-loading"></div><span class="fileuploader-action-popup"></span></div><div class="column-title"><div title="DSC_0026.JPG">DSC_0026.JPG</div><span>6.48 MB</span></div><div class="column-actions"><a class="fileuploader-action fileuploader-action-remove" title="Remove"><i></i></a></div></div><div class="progress-bar2"><div class="fileuploader-progressbar"><div class="bar" style="width: 49%;"></div></div><span>49%</span></div></li> */
            // '<img src=\'' + e.target.result + '\'>' + f.name + '<br />'
            $this.$refs.selectedFiles.innerHTML += html
          }
          reader.readAsDataURL(f)
        })
      }
    },

    computed: {
      model: function () {
        let model = Object.assign({}, this.$store.state.global.object)
        return model
      },
      characteristics: function () {
        return constants.CHARACTERISTICS
      },
      typeOfSale: function () {
        return constants.TYPE_OF_SALE
      },
      classObject: function () {
        return {
          disabled: this.model.saleType === 'for_rent',
          required: this.model.saleType === 'for_sale'
        }
      },
      message: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.user = {firstName: null, lastName: null, credential: null, rePassword: null, password: null}
        }
        return message
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout,
      NumeralInput
    }
  }
</script>
