<template>
<v-layout>
<div class="row m-t-20 bg-white">

<div class="cover-photo"></div>
<div class="body row">
  <div class="col-lg-3 left-col text-left user-info">
    <div class="profile-avatar">
      <div class="inner"></div>
    </div>
    <span class="fs-20 m-t-20">Willabelle Ong</span>
    <span class="fs-16">Enthusiast</span>
    <div class="meta">
      <p><i class="fa fa-fw fa-map-marker"></i> Australia</p>
      <p><i class="fa fa-fw fa-link"></i> paledivision.com</p>
      <p><i class="fa fa-fw fa-clock-o"></i> Joined Dec 26, 2008</p>
    </div>
  </div>
  <div class="col-lg-6 pull-left">
    
    <!-- Nav -->
    <nav class="profile-nav">
      <ul>
        <li class="active">Activity</li>
        <li>Properties</li>
        <li>Buying proposal</li>
        <li>Renting proposal</li>
      </ul>
    </nav>
    
    <!-- Wil hyped X-->
    <div class="unit user-hyped">
      <h3><a href="http://lookbook.nu/user/17530-Willabelle-O">Willabelle</a> hyped <a href="#more-looks-url">13 looks</a></h3>
      <p class="m-b-10 time">12 hours ago</p>
      <ul class="image-grid col-3">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <a href="#more-looks-url" class="more">View 7 more looks <i class="fa fa-angle-down"></i></a>
    </div>
    
    <!-- Wil fanned X-->
    <div class="unit user-hyped">
      <h3><a href="http://lookbook.nu/user/17530-Willabelle-O">Willabelle</a> fanned <a href="#user-profile-url">Mizuho K</a></h3>
      <p class="m-b-10 time">16 hours ago</p>
      <ul class="image-grid col-3">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <a href="#more-looks-url" class="more">View 7 more looks <i class="fa fa-angle-down"></i></a>
    </div>
  </div>
  <div class="col-lg-3 pull-left right-col">
    
  </div>
</div>


</div>
</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from 'layouts/Dashboard'
  import * as constants from 'constants/'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          location: [],
          status: '',
          urgent: '',
          ageOfProperty: '',
          bathrooms: '',
          bedrooms: '',
          typeOfProperty: [],
          typeOfProposal: 'for_sale',
          priceMinimum: null,
          priceMaximum: null,
          size: null
        },
        showModal: false,
        isLoading: false,
        cities: []
      }
    },

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    created: function () {
      this.findOne()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      findOne: function () {
        let payload = {url: 'api/account/33', parameters: {role: 'ROLE_SELLER,ROLE_LESSOR'}}
        this.$store.dispatch('form/findAll', payload)
      }
    },

    computed: {
      isActivated: function () {
        return constants.IS_ACTIVATED
      },
      typeOfProperty: function () {
        return constants.TYPE_FOR_SALE
      },
      message: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.user = {firstName: null, lastName: null, credential: null, rePassword: null, password: null}
        }
        return message
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
