<template>
  <div class="row row-sm mg-t-20">
              <div class="col-lg-12 mg-t-20 mg-lg-t-0">
            <div class="card shadow-base bd-0">
              <div class="card-header pd-20 bg-transparent">
                <h6 class="card-title tx-uppercase tx-12 mg-b-0">Properties proposed</h6>
              </div><!-- card-header -->
              <table class="table table-responsive mg-b-0 tx-12">
                <thead>
                  <tr class="tx-10">
                    <th class="wd-10p pd-y-5">&nbsp;</th>
                    <th class="pd-y-5">Item Details</th>
                    <th class="pd-y-5 tx-right">Sold</th>
                    <th class="pd-y-5">Gain</th>
                    <th class="pd-y-5 tx-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="pd-l-20">
                      <img src="http://themepixels.me/bracketplus/img/img23.jpg" class="wd-55" alt="Image">
                    </td>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">The Dothraki Shoes</a>
                      <span class="tx-11 d-block"><span class="square-8 bg-danger mg-r-5 rounded-circle"></span> 20 remaining</span>
                    </td>
                    <td class="valign-middle tx-right">3,345</td>
                    <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>33.34%</span> from last week</td>
                    <td class="valign-middle tx-center">
                      <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pd-l-20">
                      <img src="http://themepixels.me/bracketplus/img/img24.jpg" class="wd-55" alt="Image">
                    </td>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">Westeros Sneaker</a>
                      <span class="tx-11 d-block"><span class="square-8 bg-success mg-r-5 rounded-circle"></span> In stock</span>
                    </td>
                    <td class="valign-middle tx-right">720</td>
                    <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>21.20%</span> from last week</td>
                    <td class="valign-middle tx-center">
                      <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pd-l-20">
                      <img src="http://themepixels.me/bracketplus/img/img25.jpg" class="wd-55" alt="Image">
                    </td>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">Selonian Hand Bag</a>
                      <span class="tx-11 d-block"><span class="square-8 bg-success mg-r-5 rounded-circle"></span> In stock</span>
                    </td>
                    <td class="valign-middle tx-right">1,445</td>
                    <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>23.34%</span> from last week</td>
                    <td class="valign-middle tx-center">
                      <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pd-l-20">
                      <img src="http://themepixels.me/bracketplus/img/img26.jpg" class="wd-55" alt="Image">
                    </td>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">Kel Dor Sunglass</a>
                      <span class="tx-11 d-block"><span class="square-8 bg-warning mg-r-5 rounded-circle"></span> 45 remaining</span>
                    </td>
                    <td class="valign-middle tx-right">2,500</td>
                    <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>28.78%</span> from last week</td>
                    <td class="valign-middle tx-center">
                      <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pd-l-20">
                      <img src="http://themepixels.me/bracketplus/img/img27.jpg" class="wd-55" alt="Image">
                    </td>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">Kubaz Sunglass</a>
                      <span class="tx-11 d-block"><span class="square-8 bg-success mg-r-5 rounded-circle"></span> In stock</span>
                    </td>
                    <td class="valign-middle tx-14 tx-right">223</td>
                    <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>18.18%</span> from last week</td>
                    <td class="valign-middle tx-center">
                      <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="card-footer tx-12 pd-y-15 bg-transparent">
                <a href=""><i class="fa fa-angle-down mg-r-5"></i>View All Products</a>
              </div><!-- card-footer -->
            </div><!-- card -->
          </div>
  </div>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import transformer from 'transformers/ProposalTransformer'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
      }
    },

    created: function () {
      this.find()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      find: function () {
        let payload = {url: 'api/buy', data: this.$route.params.id, transformer: transformer}
        this.$store.dispatch('global/find', payload)
      },
      getLink: function (id, type) {
        let url = (type === 'for_sale') ? '/buy/' + id : '/rent/' + id
        return url
      }
    },

    computed: {
      proposal: function () {
        return this.$store.state.global.object
      },
      getTab: function () {
        return this.$route.query.tab ? this.$route.query.tab !== undefined : 'null'
      }
    },

    /**
     * The components the page can use.
     */
    components: {
    }
  }
</script>
