<template>
<v-layout>
<div class=" container  container-fixed-lg">
<div class="br-section-wrapper pd-0 mg-y-40">
<form @submit.prevent="submit(model)" autocomplete="off">
<div class="br-section-header">
            <h6 class="br-section-label">Edit password</h6>
          <p>A form with a label on top of each form control.</p>
</div>
<div class="br-section-body pd-70-force">
<alert :alert="getMessage" />
          <div class="form-layout form-layout-1">
            <div class="row mg-b-25">
              <div class="col-lg-12">
                <div class="form-group" id="oldPassword">
                  <label class="form-control-label">Old password: <span class="tx-danger">*</span></label>
                  <input class="form-control" type="password" v-model="model.oldPassword" placeholder="Enter current password" />
                  <span class="error"></span>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group" id="password">
                  <label class="form-control-label">New password: <span class="tx-danger">*</span></label>
                  <input class="form-control" type="password" v-model="model.password" placeholder="Enter new password" />
                  <span class="error"></span>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group" id="rePassword">
                  <label class="form-control-label">Confirm new password: <span class="tx-danger">*</span></label>
                  <input class="form-control" type="password" v-model="model.rePassword" placeholder="Confirm new password" />
                  <span class="error"></span>
                </div>
              </div><!-- col-4 -->
            </div><!-- row -->
          </div><!-- form-layout -->

          </div>
          <div class="br-section-footer">

              <button id="edit_password" class="btn btn-info">Submit Form</button>
              <button class="btn btn-secondary">Cancel</button>

          </div>
</form>
        </div>
      </div>


</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from 'layouts/Dashboard'
  import Alert from 'components/message/Alert'

  export default {
    /**
     * The name of the page.
     */
    name: 'profile-editPassword',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          oldPassword: null,
          password: null,
          rePassword: null
        }
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      submit: function (payload) {
        payload = {method: 'put', url: '/api/profile/edit/password', data: this.model, button: window.$('#edit_password')}
        this.$store.dispatch('global/submit', payload)
      }
    },

    /**
     * The computed the page going to use
     */
    computed: {
      /**
       * Will display the message wether its true or false
       */
      getMessage: function () {
        if (this.$store.state.message.object.status) {
          this.model = {password: null, rePassword: null, oldPassword: null}
        }
        return this.$store.state.message
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout,
      Alert
    }
  }
</script>
