<template>
  <v-layout>
<modal-forgot-password :show="showForgotPassword" @close="showForgotPassword = false" />
      <form @submit.prevent="login(user)" class="p-t-15" role="form">
      <h4 class="tx-gray-dark tx-center tx-spacing-neg-2">Login into your account</h4>
      <p class="tx-size-sm tx-center mg-b-30">Log in by entering your credentials below.</p>
      <alert :alert="getMessage" />
        <div class="form-group">
          <input
          v-model="user.username"
          type="text"
          placeholder="Email"
          class="form-control pd-y-12"
        >
      </div>
      <div class="form-group">
        <input
        v-model="user.password"
        type="password"
        placeholder="Password"
        class="form-control pd-y-12"
      >
      </div>
      <div class="form-group row row-xs">
      <div class="col-md-6 col-xs-12">
        <div class="checkbox ">
<input type="checkbox" value="1" id="checkbox1">
<label for="checkbox1">Keep Me Signed in</label>
</div>
      </div>
      <div class="col-md-6 col-xs-12">
        <a href="javascript:;" @click="forgotPassword" class="tx-12">Forgot password?</a>
      </div>
      </div>
      <p class="tx-center mg-b-20"><button id="form-login" class="btn btn-primary btn-block pd-y-10 mg-b-30">Log In</button></p>
      <p class="tx-center tx-size-12 mg-b-0">Not yet a member? <router-link :to="{ name: 'register' }">Register</router-link></p>
      <p class="tx-center">
      <a href="#" class="btn btn-primary btn-icon">
        <div><i class="fa fa-facebook"></i></div>
      </a>
      <a href="#" class="btn btn-info btn-icon mg-l-5">
        <div><i class="fa fa-twitter"></i></div>
      </a>
      <a href="#" class="btn btn-danger btn-icon mg-l-5">
        <div><i class="fa fa-google-plus"></i></div>
      </a>
    </p>
    </form>


</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */
  /* eslint-disable no-undef */
  import VLayout from 'layouts/Minimal'
  import ModalForgotPassword from 'components/modal/ModalForgotPassword'
  import Alert from 'components/message/Alert'

  export default {
    /**
     * The name of the page.
     */
    name: 'login',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        showForgotPassword: false,
        user: {
          username: 'hantonypo@usnews.com',
          password: 'abcdefgh'
        }
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      login: function (user) {
        this.$store.dispatch('auth/login', user)
      },
      forgotPassword: function (e) {
        let payload = {status: false, body: {field: null}}
        this.$store.dispatch('message/flashMessage', payload)
        this.showForgotPassword = true
        e.preventDefault()
      }
    },
    computed: {
      /**
       * Will display the message wether its true or false
       */
      getMessage: function () {
        return this.$store.state.message
      }

    },
    /**
     * The components the page can use.
     */
    components: {
      VLayout,
      Alert,
      ModalForgotPassword
    }
  }
</script>
