<template>
  <v-layout>
    <modal-refine-search :show="showRefineSearch" @close="showRefineSearch = false" />
    <modal-price-package :show="showPricePackage" @close="showPricePackage = false" />
    <modal-proposal-interest :show="showProposalInterest" @close="showProposalInterest = false" />
<div class="proposal_show">
      <div class="container">
      <div class="row">
      <div class="col-md-8">
        <div class="entry-header pd-t-30-force">

          <div id="results-criteria">
              <div class="tx-30 d-inline tx-medium">
                {{ proposals.totalElements }}
              </div>
              <h1 class="tx-30 d-inline">
                Manhattan Apartments For buying proposal
              </h1>
              <div class="tx-20 d-inline">
                - With 2 bedrooms
              </div>

          </div>

          <div class="row row-xs mg-b-10 pd-b-20">
              <div class="card-block pd-0">
                <div class="row row-sm mg-t-20 mg-b-0">
                  <div class="col-md-6 col-lg-4">
                    <a href="javascript:;" @click="refineSearch" class="btn btn-info tx-11 tx-spacing-1 tx-uppercase tx-semibold tx-mont pd-y-12 pd-x-30">Refine search</a>
                  </div><!-- col-3 -->
                  <div class="col-md-6 col-lg-4 mg-t-10 mg-md-t-0">
                    <div class="form-group mg-b-0">
                      <a href="javascript:;" class="btn btn-warning tx-11 tx-spacing-1 tx-uppercase tx-semibold tx-mont pd-y-12 pd-x-30">Save search</a>
                    </div><!-- form-group -->
                  </div><!-- col-3 -->
                  <div class="col-md-6 col-lg-4 mg-t-10 mg-md-t-0">
                    <div class="row no-gutters">
  <div class="col-5 col-sm-4 pd-t-10">
    Sort by:
  </div><!-- col-4 -->
  <div class="col-7 col-sm-8">
    <div>
      <select name="sort_by" style="height: 34px;">
        <option selected="selected" value="listed_desc">Newest</option>
<option value="interesting_desc">Recently updated</option>
<option value="price_desc">Most expensive</option>
<option value="price_asc">Least expensive</option>
<option value="sqft_desc">Largest</option>
<option value="sqft_asc">Smallest</option>
      </select>
    </div>
  </div><!-- col-8 -->
</div><!-- row -->
                  </div><!-- col-3 -->
                </div><!-- row -->

              </div><!-- card-block -->




          </div>




      <!--div class="sticky-container">
<div class="clearfix navigation-container">
<nav class="inner-nav mw">
<li>
<router-link active-class="active show" :to="{ name: 'buy.show.overview' }" class="nav-link overview-link" exact>Overview</router-link>
</li>
<li>
<router-link active-class="active show" class="config-link nav-link" :to="{ name: 'buy.show.propositions' }" exact>Propositions</router-link>
</li>
<li>
<router-link active-class="active show" class="amenity-link nav-link" :to="{ name: 'buy.show.statistics' }" exact>Statistics</router-link>
</li>
<li>

</li>


</nav>
</div>
</div-->
       </div><!-- .entry-header -->

<!-- debut -->
<div v-if="proposals.length != 0" class="c-card u-p-medium panel bg-white">

<router-link :to="{ name: 'buy.show.overview', params: { id: proposal.id }}" :data-tag="proposal.id" :key="proposal.id" v-for="proposal in proposals.content" class="r-list js-item flex-row media">
    <div class="card-content flex-column">
        <div class="card-head flex-row">
            <div>
                <h3>
                  <span class="lh-1">
                    {{ proposal.bookmarks }}
                    {{ proposal.typeOfProposal }}
                  </span>
                  <span class="tx-13 badge badge-danger">{{ proposal.isUrgent }}</span>
                </h3>
                    <div class="tx-2">
                      <span v-for="typeOfProperty in proposal.typeOfProperty.split(',')">
                        {{ typeOfProperty }}
                      </span>
                    </div>
                    <div class="pd-t-6">
                      <span class="couple-friendly-tag mg-r-5" v-for="location in proposal.locations">
                        {{location.city.name}}, {{location.province.name}}
                      </span>
                    </div>
            </div>
            <div style="">
                <div class="mg-b-6 mg-b-1 tx-right">
                  {{ getTime(proposal.dateOfCreation) }}
                </div>
                <div class="flex-row">
                    <div class="mg-b-6">
                      Price between: $ {{ proposal.priceMinimum }} - $ {{ proposal.priceMaximum }}
                    </div>
                </div>
                <div class="tx-13 tx-right">Id proposal: {{ proposal.id }}</div>
            </div>
        </div>
        <div class="card-bottom flex-row row--bottom">
            <div>

            </div>
            <button @click="bookmarkIt" class="btn btn-danger">
              <i></i> favorite
            </button>
            <button @click="showInterest" class="button r-hotel__action">
              <i></i> Quick Book
            </button>
        </div>
    </div>
</router-link>
<hr />
<button @click="next = true">
  <i></i> Load More
</button>
</div>
<!-- fin -->
              </div> <!-- / .column-1 -->

      <div class="col-md-4 column-sidebar">

                  <div class="">




                    <div class="card shadow-base">
                      <div class="card-header">
                  <ul class="nav nav-tabs nav-fill card-header-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="#popular">Details</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#recent">Map</a>
                    </li>
                  </ul>
                </div><!-- card-header -->
                      <div class="card-body">  <v-map /></div>
                    </div><!-- card -->




                 <div id="listing_sidebar_map-2" class="widget  widget_listing_sidebar_map">


    </div></div>





    <div id="listing_sidebar_claim_listing-2" class="widget  widget_listing_sidebar_claim_listing is--independent"><h2 class="widget_sidebar_title"><div class="lwa">Is this your business?<span class="claim-verified">Verified Listing</span></div></h2><small class="listing-claim-description">Make sure your information are up to date.</small></div>

      </div><!-- / .column-2 -->
      </div>
    </div>



  </div>


</v-layout>


</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from 'layouts/Dashboard'
  import VMap from 'components/map/Map'
  import moment from 'moment'
  import ModalRefineSearch from 'components/modal/ModalRefineSearch'
  import ModalPricePackage from 'components/modal/ModalPricePackage'
  import ModalProposalInterest from 'components/modal/ModalProposalInterest'

  export default {
    /**
     * The name of the page.
     */
    name: 'buy-list',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        currentPage: 1,
        next: false,
        params: {},
        proposals: {
          content: []
        },
        showRefineSearch: false,
        showProposalInterest: false,
        showPricePackage: false
      }
    },

    created: function () {
      this.findAll(this.params)
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      findAll: function (payload) {
        payload.typeOfProposal = 'for_sale'
        /* params.typeOfProposal = 'for_sale'
        let payload = { url: 'api/proposal/list', parameters: { typeOfProposal: params.typeOfProposal, page: params.page } }
        this.$store.dispatch('global/findAll', payload) */
        this.$http.get('/api/proposal/list', {params: payload}).then(response => {
          // get status
          this.proposals.content = this.proposals.content.concat(response.data.content)
          this.proposals.totalElements = response.data.totalElements
        }, response => {
          // get failed
          console.log(response)
        })
      },
      getTime: function (time) {
        time = moment(time).fromNow()
        return time
      },
      bookmarkIt: function (e) {
        let $id = window.$(e.currentTarget).closest('.js-item')
        let model = { proposal: $id.data('tag'), nature: 'proposal' }
        this.$http.post('/api/bookmark/new', model).then(response => {
          // get status
          console.log(response)
        }, response => {
          // get failed
          console.log(response)
        })
        e.preventDefault()
      },
      showInterest: function (e) {
        // this.showPricePackage = true
        this.showProposalInterest = true
        this.$root.$emit('find-properties')
        e.preventDefault()
      },
      refineSearch: function (e) {
        this.showRefineSearch = true
        e.preventDefault()
      },
      handleScroll: function (e) {
        let documentHeight = Math.max(document.body.scrollHeight, document.documentElement.scrollHeight, document.body.offsetHeight, document.documentElement.offsetHeight, document.body.clientHeight, document.documentElement.clientHeight)
        let scrollXY = document.documentElement.scrollTop + window.innerHeight

        // if (documentHeight - 10 <= scrollXY && this.next) {
        if (documentHeight - 10 <= scrollXY) {
          this.params.page = ++this.currentPage
          this.findAll(this.params)
        }
      }
    },

    computed: {
      /* proposals: function () {
        this.currentPage = this.$store.state.global.list.number
        return this.$store.state.global.list
      } */
    },

    mounted () {
      window.addEventListener('scroll', this.handleScroll)
      // window.addEventListener('resize', this.onResize.bind(this))
      // this.init()
    },

    /**
     * The components the page can use.
     */
    components: {
      VMap,
      ModalPricePackage,
      ModalRefineSearch,
      ModalProposalInterest,
      VLayout
    }
  }
</script>
