<template>
  <div id="mapid" style="width: 100%; height: 400px;"></div>
</template>

<script>
  /* ============
   * Card Component
   * ============
   *
   * A basic card component.
   *
   * Gives an idea how components work.
   */
  import L from 'leaflet'
  export default {
    /**
     * The name of the component.
     */
    name: 'map',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        map: null,
        tileLayer: null,
        layers: []
      }
    },

    /**
    * The methods the page can use.
    */
    methods: {
      initMap: function () {
        let mymap = L.map('mapid').setView([51.505, -0.09], 13)
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoieXZhdSIsImEiOiJ5YjNFdUVJIn0.UEbuBPHAHKys2xkQOm3i3g', {
          maxZoom: 18,
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="http://mapbox.com">Mapbox</a>',
          id: 'mapbox.streets'
        }).addTo(mymap)

        L.marker([51.5, -0.09]).addTo(mymap).bindPopup('<b>Hello world!</b><br />I am a popup.').openPopup()

        L.circle([51.508, -0.11], 500, {
          color: 'red',
          fillColor: '#f03',
          fillOpacity: 0.5
        }).addTo(mymap).bindPopup('I am a circle.')
        // L.polygon([ [51.509, -0.08], [51.503, -0.06], [51.51, -0.047] ]).addTo(mymap).bindPopup('I am a polygon.')
      }
    },

    /**
     * The mounted properties that the component can use.
     */
    mounted: function () {
      /**
       * Computed property which will compute the classes
       * for the header of the card.
       *
       * @returns {Array} The classes for the header.
      */
      this.initMap()
      // this.initLayers()
    }

  }
</script>
