<template>
  <v-layout>
<div class="mg-t-0 mg-b-0 pd-70 tx-center bg-black-9 pos-relative">
  <div class="ht-100p op-6 pos-absolute wd-100p tx-center t-0 l-0 background-size-cover background-center-no-repeat" style="background-image: url('https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/Death_to_stock_photography_community_premium_5.jpg')"></div>
  <div class="pos-relative">
    <h1 class="tx-white tx-64">Vone Advantage</h1>
    <span class="tx-white">Add your business to Listable, so customers can easily find it.</span>
  </div>
</div>

  <section class="pd-y-40 bg-white">
  <div class="container">
  <h2 class="tx-center tx-primary pd-x-0 pd-t-0 pd-b-40">What are the advantages?</h2>
  <div class="row">
  <div class="col-md-6">
  <iframe width="550" height="333" src="https://www.youtube.com/embed/sAr-e2cmLJ8?rel=0&amp;showinfo=0"></iframe>
  </div>
  <div class="col-md-6">
  <p class="pd-y-0 pd-x-20">Lorem ipsum dolor sit amet, nec cu viris eirmod epicuri, denique commune efficiantur ut est. Cu vidit choro aliquam cum, his suas ipsum minimum ne. Nec ei quot dicit iracundia, qui repudiare posidonium scribentur in.

<br /><br />Et per iudico facilisi iudicabit. Vis ea sumo dicta, alii dicta quaerendum duo cu. Consul elaboraret mei eu. Natum discere dolorum an usu, rebum autem vocent sea id, no est soleat definitiones.

Mei reque invidunt ad, fastidii argumentum an cum. Sumo officiis repudiare vis te. <br /><br />Ex sumo volutpat sea, eam ei equidem fierent accusamus, in vel illum euismod. Est viris principes ei, has movet suavitate molestiae cu, per at nusquam minimum. Quando maiorum convenire usu an.

Error aliquip tritani usu ex, vitae perpetua ad has, ius ei erat vocent civibus. Te tempor periculis mea, vel tota qualisque et. Altera volutpat ne vix. Ex vel alterum legendos efficiendi. Sit cu propriae electram, graeco honestatis ius cu, cu mel numquam voluptaria.
. </p>
</div>
</div>
  </div>
</section>
  <section class="pd-y-40">
    <h2 class="tx-center tx-primary pd-x-0 pd-t-0 pd-b-40">Why should I join Proov?</h2>
  <div class="container">
    <div class="row">
  <div class="col-md-4 bg-white rounded-5 pd-20 ht-350">
  <span class="wd-50 ht-40 mg-30 mx-auto d-xs-block"><img src="https://r.bstatic.com/static/img/aff_sp/aff_signup/npc_icon_why_01_earnings/411a6764ba92b217c3c56f7262ecbf8c088dd3ca.png" alt="Hand holding money" width="50" height="40" border="0" /></span>
  <h3 class="tx-bold lh-1 tx-primary tx-center">Huge potential earnings</h3>
  <p>Altera volutpat ne vix. Ex vel alterum legendos efficiendi. Sit cu propriae electram, graeco honestatis ius cu, cu mel numquam voluptari.</p>
  </div>
  <div class="col-md-4 bg-white rounded-5 pd-20 ht-350">
  <span class="wd-50 ht-40 mg-30 mx-auto d-xs-block"><img src="https://q.bstatic.com/static/img/aff_sp/aff_signup/npc_icon_why_02_properties/e4f93b676193bc46846bee0ebc731c34fa348860.png" alt="Multi-story building" width="50" height="40" border="0" /></span>
  <h3 class="tx-bold lh-1 tx-primary tx-center">Over 1 million properties</h3>
  <p>Altera volutpat ne vix. Ex vel alterum legendos efficiendi. Sit cu propriae electram, graeco honestatis ius cu, cu mel numquam voluptari.</p>
  </div>
  <div class="col-md-4 bg-white rounded-5 pd-20 ht-350">
  <span class="wd-50 ht-40 mg-30 mx-auto d-xs-block"><img src="https://q.bstatic.com/static/img/aff_sp/aff_signup/npc_icon_why_03_rooms/cef4badb71715a98da61b12791862a4860b8fd0f.png" alt="World rotating" width="50" height="40" border="0" /></span>
  <h3 class="tx-bold lh-1 tx-primary tx-center">1.2 million room nights reserved daily</h3>
  <p>Altera volutpat ne vix. Ex vel alterum legendos efficiendi. Sit cu propriae electram, graeco honestatis ius cu, cu mel numquam voluptari.</p>
  </div>

  <div class="col-md-4 bg-white rounded-5 pd-20 ht-350">
  <span class="wd-50 ht-40 mg-30 mx-auto d-xs-block"><img src="https://r.bstatic.com/static/img/aff_sp/aff_signup/npc_icon_why_04_network/146121b6d4fef8f3f70f0dd51d285b3525b150a4.png" alt="Network diagram" width="50" height="40" border="0" /></span>
  <h3 class="tx-bold lh-1 tx-primary tx-center">Extensive network of 12,500+ affiliates</h3>
  <p>Altera volutpat ne vix. Ex vel alterum legendos efficiendi. Sit cu propriae electram, graeco honestatis ius cu, cu mel numquam voluptari.</p>
  </div>
  <div class="col-md-4 bg-white rounded-5 pd-20 ht-350">
  <span class="wd-50 ht-40 mg-30 mx-auto d-xs-block"><img src="https://r.bstatic.com/static/img/aff_sp/aff_signup/npc_icon_why_05_easytouse/1bbf89f56faf1ac1a4ccc7cd3640df2ac598c4f2.png" alt="Application screenshot" width="50" height="40" border="0" /></span>
  <h3 class="tx-bold lh-1 tx-primary tx-center">All-in-one, easy to use product</h3>
  <p>Altera volutpat ne vix. Ex vel alterum legendos efficiendi. Sit cu propriae electram, graeco honestatis ius cu, cu mel numquam voluptari.</p>
  </div>
  <div class="col-md-4 bg-white rounded-5 pd-20 ht-350">
  <span class="wd-50 ht-40 mg-30 mx-auto d-xs-block"><img src="https://q.bstatic.com/static/img/aff_sp/aff_signup/npc_icon_why_06_help/9a4d89bd274871a60f207db9dfab9cd21ad743bf.png" alt="Person with speech bubble" width="50" height="40" border="0" /></span>
  <h3 class="tx-bold lh-1 tx-primary tx-center">We’re here to help</h3>
  <p>Altera volutpat ne vix. Ex vel alterum legendos efficiendi. Sit cu propriae electram, graeco honestatis ius cu, cu mel numquam voluptari.</p>
  </div>
</div>
  </div>
</section>
  <section class="bg-white rounded-5 pd-20 ht-350">
    <div class="container">
  <div class="row row-sm">
  <!--h2 class="d-lg-block aff-shared__header">How does integration work?</h2-->
  <div class="col-md-4">
  <h2 class="rounded-top ht-100 wd-100p pd-t-15 bg-warning">
  <span class="wd-45 ht-55 d-sm-block mx-auto"><img src="https://r.bstatic.com/static/img/aff_sp/aff_signup/npc_icon_integration_01/ad9616b24507b2ef1a345fc86d4cc2504e91878b.png" alt="Lightbulb" width="44" height="58" border="0" /></span>
  </h2>
  <h3 class="tx-bold pd-10 tx-center tx-warning">Completely customisable</h3>
  <p>Altera volutpat ne vix. Ex vel alterum legendos efficiendi. Sit cu propriae electram, graeco honestatis ius cu, cu mel numquam voluptari.</p>
  </div>
  <div class="col-md-4">
  <h2 class="rounded-top ht-100 wd-100p pd-t-15 bg-success">
  <span class="wd-45 ht-55 d-sm-block mx-auto"><img src="https://q.bstatic.com/static/img/aff_sp/aff_signup/npc_icon_integration_02/41118834593f6cef723d0eddc5d0d20b5f0b4d63.png" alt="Thumbs up" width="44" height="58" border="0" /></span>
  </h2>
  <h3 class="tx-bold pd-10 tx-center tx-success">Choose your destination</h3>
  <p>Altera volutpat ne vix. Ex vel alterum legendos efficiendi. Sit cu propriae electram, graeco honestatis ius cu, cu mel numquam voluptari!</p>
  </div>
  <div class="col-md-4">
  <h2 class="rounded-top ht-100 wd-100p pd-t-15 bg-info">
  <span class="wd-45 ht-55 d-sm-block mx-auto"><img src="https://r.bstatic.com/static/img/aff_sp/aff_signup/npc_icon_integration_03/b7bbf084904f3da9e71b38ab4d8f1ec87ad69413.png" alt="Calculator" width="44" height="58" border="0" /></span>
  </h2>
  <h3 class="tx-bold pd-10 tx-center tx-info">Manage your earnings</h3>
  <p>Altera volutpat ne vix. Ex vel alterum legendos efficiendi. Sit cu propriae electram, graeco honestatis ius cu, cu mel numquam voluptari.</p>
  </div>
  </div>
</div>
</section>



  </v-layout>
</template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
  <script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from 'layouts/Default'

  export default {
    /**
     * The name of the page.
     */
    name: 'home-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
    },

    computed: {
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
