<template>
<div :class="{'alert-success': alert.object.body.field === 'label.success','alert-danger': alert.object.body.field === 'label.error' }" class="alert alert-bordered pd-y-20" role="alert" v-show="alert.object.status">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="d-flex align-items-center justify-content-start">
    <i :class="{'tx-success': alert.object.body.field === 'label.success', 'tx-danger': alert.object.body.field === 'label.error' }" class="icon ion-ios-close alert-icon tx-52 mg-r-20"></i>
    <div>
      <h5 :class="{'tx-danger': alert.object.body.field === 'label.error' }" class="mg-b-2">{{ alert.object.body.field }}</h5>
      <p class="mg-b-0 tx-gray">{{ alert.object.body.message }}</p>
    </div>
  </div><!-- d-flex -->
</div><!-- alert -->
</template>

<script>
  /* ============
   * Numeral Input Component
   * ============
   *
   * A basic input componenet.
   *
   */

  export default {
    /**
     * The name of the component.
     */
    name: 'messagealert',

    /**
     * The properties that the component accepts.
     */
    props: ['alert'],

    /**
     * The method properties that the component can use.
     */
    methods: {

    }
  }
</script>
