<template>
  <div class="row row-sm mg-t-20">

          <div class="col-sm-12 col-lg-12 mg-t-20 mg-sm-t-0">
            <div class="card shadow-base bd-0">
              <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
                <h6 class="card-title tx-uppercase tx-12 mg-b-0">Type of Property</h6>
                <span class="tx-12 tx-uppercase">March 2017</span>
              </div><!-- card-header -->
              <div class="card-body">



<div class="row">
<div v-for="typeOfProperty in proposal.typeOfProperty" class="col-sm-6 col-xl-6">
<div class="dotted-border-bottom col-lg-12">
<div class="pd-y-8">
<img class="summary-icon" src="//assets.nobroker.in/static/img/resale/furnish_icon.png"/>

<span> {{typeOfProperty}} </span>
</div>
</div>
</div>
</div>

              </div><!-- card-body -->
            </div><!-- card -->
          </div><!-- col-12 -->

          <div class="col-sm-12 col-lg-12 mg-t-20 mg-sm-t-0">
            <div class="card shadow-base bd-0">
              <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
                <h6 class="card-title tx-uppercase tx-12 mg-b-0">Amenities</h6>
                <span class="tx-12 tx-uppercase">March 2017</span>
              </div><!-- card-header -->
              <div class="card-body">




            <div class='amenities bordered-card card-cont details-container mw' id='amenity-card'>
            <div class='row '>



            <span class='col-md-4 amenity-entity'>
            <i class='amenity-icon icon icon-sports'></i>
            <span class='text'>Cricket</span>
            </span>
            <span class='col-md-4 amenity-entity'>
            <i class='amenity-icon icon icon-np-amphitheater'></i>
            <span class='text'>Amphitheatre</span>
            </span>
            <span class='col-md-4 amenity-entity'>
            <i class='amenity-icon icon icon-np-basketball'></i>
            <span class='text'>Basketball</span>
            </span>
            <span class='col-md-4 amenity-entity'>
            <i class='amenity-icon icon icon-np-rainwater'></i>
            <span class='text'>Rainwater Harvest</span>
            </span>
            <span class='col-md-4 amenity-entity'>
            <i class='amenity-icon icon icon-np-sewage'></i>
            <span class='text'>Sewage Treatment</span>
            </span>
            <span class='col-md-4 amenity-entity'>
            <i class='amenity-icon icon icon-np-skating'></i>
            <span class='text'>Skating</span>
            </span>
            <span class='col-md-4 amenity-entity'>
            <i class='amenity-icon icon icon-np-firefight'></i>
            <span class='text'>Fire Extinguisher</span>
            </span>
            <span class='col-md-4 amenity-entity'>
            <i class='amenity-icon icon icon-swimming-pool'></i>
            <span class='text'>Swimming Pool</span>
            </span>
            <span class='col-md-4 amenity-entity'>
            <i class='amenity-icon icon icon-gym'></i>
            <span class='text'>Gymnasium</span>
            </span>
            <span class='col-md-4 amenity-entity'>
            <i class='amenity-icon icon icon-jogging'></i>
            <span class='text'>Jogging Track</span>
            </span>
            <span class='col-md-4 amenity-entity'>
            <i class='amenity-icon icon icon-kids-play-area fa fa-bell'></i>
            <span class='text'>Children's Play Area</span>
            </span>
            <span class='col-md-4 amenity-entity'>
            <i class='amenity-icon icon icon-lift'></i>
            <span class='text'>Lift</span>
            </span>




            </div>



          </div>






              </div><!-- card-body -->
            </div><!-- card -->
          </div>




          <div class="col-sm-12 col-lg-12 mg-t-20 mg-sm-t-0">
            <div class="card shadow-base bd-0">
              <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
                <h6 class="card-title tx-uppercase tx-12 mg-b-0">Amenities</h6>
                <span class="tx-12 tx-uppercase">March 2017</span>
              </div><!-- card-header -->
              <div class="card-body">



<div class="row">
<div class="col-sm-4 col-xs-12 col-md-4 ">
<ul>
<li class="">
<div title="lift" class="dotted-border-bottom pd-l-35 pd-y-1 mg-b-5 lift">
<div class="amenities-text">Lift &nbsp; </div>
</div>
</li>
<li class="">
<div title="light" class="dotted-border-bottom pd-l-35 pd-y-1 mg-b-5 light ac">
<div class="amenities-text light">Air Conditioner &nbsp; </div>
</div>
</li>
<li class="">
<div title="pool" class="dotted-border-bottom pd-l-35 pd-y-1 mg-b-5 pool">
<div class="amenities-text">Swimming Pool &nbsp; </div>
</div>
</li>
<li class="">
<div title="Gas Pipeline" class="dotted-border-bottom pd-l-35 pd-y-1 mg-b-5 gas-pipe">
<div class="amenities-text">Gas Pipeline &nbsp; </div>
</div>
</li>
<li class="">
<div title="Sewage Treatment Plant" class="dotted-border-bottom pd-l-35 pd-y-1 mg-b-5 stp light">
<div class="amenities-text light">Sewage Treatment Plant &nbsp; </div>
</div>
</li>
<li class="">
<div title="Visitor Parking" class="dotted-border-bottom pd-l-35 pd-y-1 mg-b-5 vp light">
<div class="amenities-text light">Visitor Parking &nbsp; </div>
</div>
</li>
</ul>
</div>
<div class="col-sm-4 col-xs-12">
<ul>
<li class="">
<div title="Gym" class="dotted-border-bottom pd-l-35 pd-y-1 mg-b-5 gym">
<div class="amenities-text">Gym &nbsp; </div>
</div>
</li>
<li class="">
<div title="Club House" class="dotted-border-bottom pd-l-35 pd-y-1 mg-b-5 club">
<div class="amenities-text">Club House &nbsp; </div>
</div>
</li>
<li class="">
<div title="Children's Play Area" class="dotted-border-bottom pd-l-35 pd-y-1 mg-b-5 playarea">
<div class="amenities-text">Children's Play Area &nbsp; </div>
</div>
</li>
<li class="">
<div title="Security" class="dotted-border-bottom pd-l-35 pd-y-1 mg-b-5 security">
<div class="amenities-text">Security &nbsp; </div>
</div>
</li>
<li class="">
<div title="Park" class="dotted-border-bottom pd-l-35 pd-y-1 mg-b-5 park">
<div class="amenities-text">Park &nbsp; </div>
</div>
</li>
<li class="">
<div title="House Keeping" class="dotted-border-bottom pd-l-35 pd-y-1 mg-b-5 house-keeping light">
<div class="amenities-text light">House Keeping &nbsp; </div>
</div>
</li>
</ul>
</div>
<div class="col-sm-4 col-xs-12">
<ul>
<li class="">
<div title="Internet Services" class="dotted-border-bottom pd-l-35 pd-y-1 mg-b-5 internet">
<div class="amenities-text light">Internet Services &nbsp; </div>
</div>
</li>
<li class="">
<div title="Intercom" class="dotted-border-bottom pd-l-35 pd-y-1 mg-b-5 intercom">
<div class="amenities-text">Intercom &nbsp; </div>
</div>
</li>
<li class="">
<div title="Fire Safety" class="dotted-border-bottom pd-l-35 pd-y-1 mg-b-5 fire-safety">
<div class="amenities-text ">Fire Safety &nbsp; </div>
</div>
</li>
<li class="">
<div title="Shopping Center" class="dotted-border-bottom pd-l-35 pd-y-1 mg-b-5 shopping">
<div class="amenities-text ">Shopping Center &nbsp; </div>
</div>
</li>
<li class="">
<div title="Rain Water Harvesting" class="dotted-border-bottom pd-l-35 pd-y-1 mg-b-5 rwh light">
<div class="amenities-text">Rain Water Harvesting &nbsp; </div>
</div>
</li>
<li class="">
<div title="Power Backup" class="dotted-border-bottom pd-l-35 pd-y-1 mg-b-5 power-backup">
<div class="amenities-text ">Power Backup &nbsp; </div>
</div>
</li>
</ul>
</div>
</div>






              </div><!-- card-body -->
            </div><!-- card -->
          </div><!-- col-12 -->




        </div>
</template>
<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from 'layouts/Dashboard'
  import moment from 'moment'
  // import transformer from 'transformers/ProposalTransformer'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
      }
    },

    created: function () {
      // this.find()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      /* find: function () {
        let payload = {url: 'api/buy', data: this.$route.params.id, transformer: transformer}
        this.$store.dispatch('global/find', payload)
      }, */
      getLink: function (id, type) {
        let url = (type === 'for_sale') ? '/buy/' + id : '/rent/' + id
        return url
      },
      getTime: function (time) {
        time = moment(time).fromNow()
        return time
      },
      getDate: function (time) {
        time = moment(time).format('DD MMM YYYY')
        return time
      }
    },

    computed: {
      proposal: function () {
        return this.$store.state.global.object
      },
      getTab: function () {
        return this.$route.query.tab ? this.$route.query.tab !== undefined : 'null'
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
