<template>
<v-layout>
  <div class="hero" style="background: url('/static/images/defaultHeader.jpg');">
    <div class="wrapper" style="background-color: rgba(0, 74, 139, 0.5) ">
    <div class="container">
      <div class="row">
<div class="top-search text-left" style="background-color: rgba(0, 0, 0, 0.4);">
<div class="top-title">
                <h1>Find your buying proposal</h1>
                <div class="row">
                <div class="col-lg-12">
            				<div class="tabs tabs-style-line">
          <nav>
            <ul>
              <li class="tab-current"><a href="#section-line-1"><span>Buying proposal</span></a></li>
              <li><a href="#section-line-2"><span>Renting proposal</span></a></li>
              <li><a href="#section-line-3"><span>Selling profile</span></a></li>
              <li><a href="#section-line-4"><span>Leasing profile</span></a></li>
            </ul>
          </nav>
          <div class="content-wrap">
            <section id="section-line-1" class="content-current">
            <form method="get" role="search">
        <div class="row">

        <div class="col-lg-4 col-xs-12">
         <label for="exampleRecipientInput">Select an option</label>
      <select id="exampleRecipientInput">
        <option value="Option 1">Questions</option>
        <option value="Option 2">Admiration</option>
      </select>
        </div>

        <div class="col-lg-4 col-xs-12">
         <label for="urgencyOfBuying">Urgency of buying</label>
      <select id="urgencyOfBuying">
        <option value="">urgency of buying</option>
        <option value="Option 2">In rush</option>
        <option value="Option 3">Regular</option>
      </select>
        </div>

        <div class="col-lg-4 col-xs-12">
         <label for="typeOfProperty">Type of property</label>
      <select id="typeOfProperty">
        <option value="">Type of property</option>
        <option value="Option 2">Admiration</option>
      </select>
        </div>


        </div>
        <div class="row">
        <div class="col-lg-6 col-xs-12">
        <label for="exampleRecipientInput">Location of buying</label>
      <select id="exampleRecipientInput">
        <option value="Option 1">Questions</option>
        <option value="Option 2">Admiration</option>
      </select>
        </div>
        <div class="col-lg-3 col-xs-12">
        <label for="priceMin">Price min</label>
      <input id="priceMin" type="text" name="" placeholder="price min">
        </div>
        <div class="col-lg-3 col-xs-12">
        <label for="priceMax">Price max</label>
      <input id="priceMax" type="text" name="" placeholder="price max">
        </div>
        </div>
        <button type="submit" class="m-t-15 ui primary button">
          Submit search
        </button>
    </form></section>
            <section id="section-line-2"><p>2</p></section>
            <section id="section-line-3"><p>3</p></section>
            <section id="section-line-4"><p>4</p></section>
          </div><!-- /content -->
        </div>
          </div>
          </div>
            </div>

</div><!-- #top-search -->
      </div>
    </div>
  </div>
  </div>

  <section class="section bg-white pd-y-40 bd-b bd-gray-200">
    <div class="container">
      <h1>How It Works</h1><br />
      </div> <div class="container">
      <div class="row">
        <div class="col-lg-4 col-xs-12">
        <div class="bg-white bd pd-20 rounded-5 shadow-base">
          <h2 class="value-multiplier pd-l-100"><img src="/static/images/svg/presentation.svg" style="width:100px;" /></h2>
          <h2 class="value-heading mg-y-15">Vone concept</h2>
          <p class="tx-15">Percentage of users more likely to purchase on mobile friendly site.</p>
          <a class="tx-14 mg-t-5" href="/vone-concept/">Find out more <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-xs-12">
        <div class="bg-white pd-20 bd rounded-5 shadow-base">
          <h2 class="value-multiplier pd-l-100"><img src="/static/images/svg/advantage.svg" style="width: 100px;" /></h2>
          <h2 class="value-heading mg-y-15">Vone advantage</h2>
          <p class="tx-15">Most of the world accesses the internet on multiple devices.</p>
          <a class="tx-14 mg-t-5" href="/vone-advantage/">Find out more <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-xs-12">
        <div class="bg-white pd-20 bd rounded-5 shadow-base">
          <h2 class="value-multiplier pd-l-100"><img src="/static/images/svg/relationship.svg" style="width: 100px;" /></h2>
          <h2 class="value-heading mg-y-15">Vone relationship</h2>
          <p class="tx-15">Percentage of users that are frustrated with page load times.</p>
          <a class="tx-14 mg-t-5" href="/vone-relationship/">Explore now <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section bg-white pd-y-40"><div class="container">
      <h1>Recent listing in <span class="text-primary">Your area</span></h1><br />



</div>

<div class="container">

<div class="row">
<div class="col-lg-9 col-xs-12">
  <div class="row">
<div v-for="increment in 6" v-if="$store.state.global.loading" class="text-left col-xs-12 col-lg-6 p-b-10 p-l-15 p-r-0">
          <div class="b-a b-grey b-rad-sm poster-card">
          <a href="javascript:;">
            <div class="p-t-5 p-b-5 p-l-10 p-r-10">
              <span class="text-black fs-12">
                <span class="void badge bg-master-lightest">
                  <span class="content-placeholder-background"></span>
                </span>
                <span class="void badge bg-master-lightest">
                  <span class="content-placeholder-background"></span>
                </span>
              </span>
              <span class="pull-right void badge bg-master-lightest">
                <span class="content-placeholder-background"></span>
              </span>
              <br />
              <span class="m-t-15 bg-master-lightest content-placeholder-text full-width">
                <span class="content-placeholder-background"></span>
              </span>
              <span class="bg-master-lightest content-placeholder-text full-width">
                <span class="content-placeholder-background"></span>
              </span>
            </div>
          </a>
          <div class="poster-card-footer">
            <div class="m-t-15 pull-left bg-master-lightest content-placeholder-text sm-width">
                <span class="content-placeholder-background"></span>
            </div>
            <div class="m-t-15 pull-left m-l-15 bg-master-lightest content-placeholder-text sm-width">
                <span class="content-placeholder-background"></span>
            </div>
            <div class="m-t-15 pull-left m-l-15 bg-master-lightest content-placeholder-text sm-width">
                <span class="content-placeholder-background"></span>
            </div>
            <div class="poster-card-actions">
              <a href="javascript:;">
                <i class="fa fa fa-ellipsis-h"></i>
              </a>
              <a href="javascript:;">
                <i class="fa fa fa-ellipsis-h"></i>
              </a>
            </div>
          </div>
        </div>
            </div>

            <div v-for="increment in $store.state.global.list" class="text-left col-xs-12 col-lg-6 p-b-10 p-l-15 p-r-0">
          <div class="b-a b-grey b-rad-sm poster-card">
          <a :href="getLink(increment.id, increment.typeOfProposal)">
            <div class="p-t-5 p-b-5 p-l-10 p-r-10">
              <span class="text-black fs-12">
                <span class="badge badge-success">New</span>
                <span :class="{ 'badge-inverse': !increment.isUrgent, 'badge-danger': increment.isUrgent }" class="badge ">{{ increment.isUrgent === true ? 'urgent' : 'regular' }}</span>
              </span><span class="pull-right badge badge-warning">{{ increment.typeOfProposal }}</span><br />
              <span style="color:#000;">{{ getTime(increment.dateOfCreation) }}</span>
              <div class="text-black fs-15 semi-bold">
                <span class="m-r-10" v-for="location in increment.locations">{{ location.city.name }}, {{ location.province.name }}</span>
              </div>
              <div class="text-master fs-12 p-t-5">
                <span class="m-r-10">price range: {{ increment.priceMinimum }}$ - {{ increment.priceMaximum }}$</span>
                <span class="m-r-10">size: {{ increment.size }}</span>
                <span class="m-r-10">size: {{ increment.size }}</span>
              </div>
            </div>
          </a>
          <div class="poster-card-footer">
            <div class="poster-card-tags">
                <a class="fs-12 m-r-10" v-for="typeOfProperty in increment.typeOfProperty.split(',')" href="javascript:;">#{{ typeOfProperty }}</a>
            </div>
            <div class="poster-card-actions">
              <a href="javascript:;">
                <i class="fa fa-share-square-o"></i>
              </a>
              <a href="javascript:;">
                <i class="fa fa-bookmark-o"></i>
              </a>
            </div>
          </div>
        </div>
            </div>




          </div>
          <button class="button">See more</button>
</div>
<div class="col-lg-3 col-xs-12">

      <div class="full-height bg-success padding-20 b-rad-md text-white">
          <span class="fa fa-flag fa-3x"></span>

<h4 class="text-white">Ads</h4>
<p class="text-center">Advertising.</p>
<p class="text-center"><a href="#">Learn More</a></p>
<p> <span class="label">New</span>
      </p></div><!--end feature-->
    </div></div></div></section>


					<div class="container tx-center">
						<h1 class="tx-light">Where would you like to&nbsp;begin?</h1>
						<div class="mg-t-15 mg-md-t-30 d-lg-flex align-items-center">
							<div class="col-10-md wd-65p">
								<div class="rounded-5 bd-gray-100 pos-relative" style="background-color: #253040;">
									<div class="pd-y-50 bd-t-0 pos-relative">
										<h2 class="tx-white tx-36 tx-spacing--1 lh-10 tx-medium">
												<svg width="32px" height="32px" viewBox="0 0 32 32" class="mr-50 display-none-smo">
													<g stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
														<circle cx="16" cy="16" r="15"></circle>
														<path d="M16,9 L16,15"></path>
														<path d="M12.6664247,11.010528 C12.3392254,11.2295713 12.0347728,11.4799458 11.7573593,11.7573593 C10.6715729,12.8431458 10,14.3431458 10,16 C10,19.3137085 12.6862915,22 16,22 C19.3137085,22 22,19.3137085 22,16 C22,14.3431458 21.3284271,12.8431458 20.2426407,11.7573593 C19.9652272,11.4799458 19.6607746,11.2295713 19.3335753,11.010528"></path>
													</g>
												</svg>
												Our statistics
										</h2>
										<div class="d-block m-auto bg-light mg-t-5" style="width: 6rem; height: 1px;"></div>
										<div class="mg-t-5">
											<div class="d-flex justify-content-center align-items-center">
												<ul class="list-unstyled tx-light tx-24 tx-spacing--2 tx-left">
													<li class="checkmark-list__item checkmark-list__item--reversed ht-35 pd-l-40 lh-6 mg-t-10" style="margin-top: 0;"><strong class="tx-white">500 Renting proposal</strong> &mdash; our lowest ever</li>
													<li class="checkmark-list__item checkmark-list__item--reversed ht-35 pd-l-40 lh-6 mg-t-10"><strong class="tx-white">837 Buying proposal</strong> choice for new investors</li>
													<li class="checkmark-list__item checkmark-list__item--reversed ht-35 pd-l-40 lh-6 mg-t-10"><strong class="tx-white">5488 Properties</strong> to an advanced plan</li>
												</ul>
												<img class="mg-l-20 wd-md-auto" src="https://d10cq78zmnjvsx.cloudfront.net/images/marketing/combined-product-landing/90-day-satisfaction-period-badge-2.svg" alt="90 day satisfaction period">
											</div>
										</div>

										<!--div class="mg-t-10 lh-2 tx-white">
											<div class="tx-light tx-36">$500</div>
											<div class="tx-14">minimum investment</div>
										</div-->

										<div class="mg-t-15">
											<a class="btn btn-primary" href="javascript:;">Get started</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-10-md wd-30p">
								<div class="rounded bg-white bd-gray-100">
									<div class="pd-y-50">
										<h2 class="lh-2 tx-dark tx-light">
												&hellip;or, go straight into one<br>
												of our advanced plans.
										</h2>
										<div class="d-block m-auto bg-success mg-t-5" style="width: 6rem; height: 1px;"></div>
										<p class="mg-t-15">
											The full Fundrise experience.<br>
											Choose from one of three premium<br>
											plans that best suits your&nbsp;goals.</p>

										<div class="mg-t-15 lh-2">
											<div class="tx-36 tx-light tx-dark">$1,000</div>
											<p>minimum investment</p>
										</div>

										<div class="mg-t-15">
											<a class="btn-success btn" href="javascript:;">See advanced plans</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


</v-layout>
</template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
  <script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from 'layouts/Default'
  import moment from 'moment'

  export default {
    /**
     * The name of the page.
     */
    name: 'home-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    created: function () {
      this.findAll()
    },
    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      findAll: function () {
        let payload = {url: 'api/proposal/list', parameters: {status: 'is_active', size: 6}}
        this.$store.dispatch('global/findAll', payload)
      },
      getLink: function (id, type) {
        let url = (type === 'for_sale') ? '/buy/' + id : '/rent/' + id
        return url
      },
      getTime: function (time) {
        time = moment(time).fromNow()
        return time
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
