<template>
  <div>
  <menu-layout context="dashboard" />
    <div class="page-container ">

      <div class="page-content-wrapper ">
        <div class="content ">
          <div class="bg-white">
            <div class="container">
              <!--ol class="breadcrumb breadcrumb-alt">
                <li class="breadcrumb-item"><a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active">Form layouts</li>
              </ol-->
              <breadcrumbs />
            </div>
          </div>

          <!--div class=" container  container-fixed-lg"-->
            <slot></slot>
          <!--/div-->

        </div>

        <div class="container container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <span class="hint-text">Copyright &copy; 2017 </span>
              <span class="font-montserrat">Vone plus</span>.
              <span class="hint-text">All rights reserved. </span>
              <span class="sm-block"><router-link :to="{ name: 'termofuse' }">Terms of use</router-link> <span class="muted">|</span> <router-link :to="{ name: 'privacypolicy' }">Privacy Policy</router-link>
              </span>
            </p>
            <p class="small no-margin pull-right sm-pull-reset">
              Vone company
            </p>
            <div class="clearfix"></div>
          </div>
        </div>

      </div>

    </div>

  </div>

</template>

<script>
  /* ============
   * Dashboard Layout
   * ============
   *
   * Used for the register and login pages.
   *
   * Layouts are used to store a lot of shared code.
   * This way the app stays clean.
   */
  import MenuLayout from 'components/Menu'

  export default {
    /**
     * The name of the layout.
     */
    name: 'dashboard-layout',

    /**
     * The components the page can use.
     */
    components: {
      MenuLayout
    }
  }
</script>
