<template>
  <div>
    <menu-layout context="default" />
    <div v-if="$store.state.route.name !== 'home'" class="bg-white">
      <div class="container">
        <!--ol class="breadcrumb breadcrumb-alt">
          <li class="breadcrumb-item"><a href="#">Home</a>
          </li>
          <li class="breadcrumb-item active">Form layouts</li>
        </ol-->
        <breadcrumbs />
      </div>
    </div>
    <!-- Content will be placed here -->
    <slot></slot>
    <div class="container-wrapper">
            <div class="container d-flex justify-content-center align-items-center flex-column flex-md-row">
              <nav class="nav nav-inline tx-size-sm nav-gray">
                <router-link :to="{ name: 'home' }" class="nav-link">Home</router-link>
                <router-link :to="{ name: 'aboutus' }" class="nav-link">About us</router-link>
                <router-link :to="{ name: 'voneconcept' }" class="nav-link">Concept</router-link>
              </nav>

              <h4 class="tx-inverse tx-spacing-neg-4 tx-bold tx-poppins mg-b-0 pd-x-40 mg-y-40 mg-md-y-0">
                <i class="icon ion-cube tx-primary mg-r-5 lh-0"></i>
                <span class="tx-medium tx-gray">proov</span>
              </h4>

              <nav class="nav nav-inline tx-size-sm nav-gray">
                <router-link :to="{ name: 'voneadvantage' }" class="nav-link">Advantage</router-link>
                <router-link :to="{ name: 'vonerelationship' }" class="nav-link">Relationship</router-link>
                <router-link :to="{ name: 'socialmedia' }" class="nav-link">Social media Blog</router-link>
              </nav>
            </div><!-- container -->
          </div>
          <div class="container-wrapper bg-superlight pd-y-25">
            <div class="container d-flex justify-content-center tx-size-xs">
              <span>© 2017. Proov, Inc. All Rights Reserved.</span>
            </div><!-- container -->
          </div>
  </div>
</template>

<script>
  /* ============
   * Default Layout
   * ============
   *
   * Used for the home and account pages.
   *
   * Layouts are used to store a lot of shared code.
   * This way the app stays clean.
   */
  import MenuLayout from 'components/Menu'

  export default {
    /**
     * The name of the layout.
     */
    name: 'default-layout',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        menuCollapsed: false
      }
    },

    /**
     * The methods that the layout can use.
     */
    methods: {
      /**
       * Will log the user out.
       */
      logout: function () {
        this.$store.dispatch('auth/logout')
      },

      /**
       * Will toggle the menu.
       */
      toggleMenu: function () {
        this.menuCollapsed = !this.menuCollapsed
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      MenuLayout
    }

  }
</script>
