<template>
<div class="bg-img2">
  <div class="pos-absolute a-0 bg-opacity-inverse-5" style="background: url('/static/images/bg/new-york-city-buildings-wallpaper.jpg'); opacity: 1;">
    <div class="pd-l-20 pd-t-25">

      <router-link :to="{ name: 'home' }" class="tx-white tx-size-24 tx-spacing-neg-2 tx-bold"><h4 class="mg-b-20"><span>[</span> proov + <span>]</span></h4></router-link>
    </div>
  </div>

    <div class="overlay-block bg-white pd-40 wd-100p wd-sm-550 pos-left-auto d-flex align-items-center">
      <div class="wd-100p">
  <slot></slot>
</div>
</div><!-- overlay-block -->
</div>
</template>

<script>
  /* ============
   * Minimal Layout
   * ============
   *
   * Used for the register and login pages.
   *
   * Layouts are used to store a lot of shared code.
   * This way the app stays clean.
   */

  export default {
    /**
     * The name of the layout.
     */
    name: 'plain-layout'
  }
</script>
