<template>
 <transition name="modal">
     <transition name="modal">
 <div class="modal-mask" @click="close" v-show="show">
   <div class="modal-wrapper">
     <div class="modal-container wd-100p">
           <div class="card" @click.stop>
                      <div class="modal-content bd-0">
                        <div class="modal-body pd-0">
                          <div class="row flex-row-reverse no-gutters">
                            <div class="col-lg-6">
                              <div class="row">
                                <div v-for="property in properties.content" :key="property.id" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                              <a href="javascript:;" class="card" id="card-309">
                                                  <div class="figure">
                                                                                      <div class="featured-label">
                                                              <div class="featured-label-left"></div>
                                                              <div class="featured-label-content"><span class="fa fa-star"></span></div>
                                                              <div class="featured-label-right"></div>
                                                              <div class="clearfix"></div>
                                                          </div>
                                                                                  <div class="img" style="background-image:url(http://mariusn.com/themes/reales-wp/wp-content/uploads/2015/02/img-prop-600x400.jpg);"></div>
                                                      <div class="figCaption">
                                                                                          <div>$799,000 </div>
                                                                                          <span><span class="icon-eye"></span> 9999+</span>
                                                                                          <span><span class="icon-heart"></span> 1</span>
                                                          <span><span class="icon-bubble"></span> 1</span>
                                                      </div>
                                                      <div class="figView"><span class="icon-eye"></span></div>
                                                                                      <div class="figType">{{ property.saleType }}</div>
                                                                              </div>
                                                  <h2>{{ property.type }}</h2>
                                                  <div class="cardAddress">
                                          {{ property.location.address }}, {{ property.location.city.name }}, {{ property.location.province.name }} {{ property.location.postalCode }}, {{ property.location.country.name }} </div>
                                                  <ul class="cardFeat">
                                                                                      <li><span class="fa fa-moon-o"></span> {{ property.bedrooms }}</li>
                                                                                                                  <li><span class="icon-drop"></span> {{ property.bathrooms }}</li>
                                                                                                                  <li><span class="icon-frame"></span> {{ property.size }} sq ft</li>
                                                                              </ul>
                                                  <div class="clearfix"></div>
                                              </a>
                                          </div>
                                            </div>

                            </div><!-- col-6 -->
                            <div class="col-lg-6 rounded-left">
                              <div class="pd-40">
                                <div class="c-card u-p-medium panel bg-white">
                                <div class="r-list js-list flex-row media">
                                    <div class="card-content flex-column">
                                        <div class="card-head flex-row">
                                            <div>
                                                <h3>
                                                  <span class="lh-1">
                                                    'proposal.typeOfProposal'
                                                  </span>
                                                  <span class="tx-13 badge badge-danger">proposal.isUrgent</span>
                                                </h3>
                                                    <div class="tx-2">
                                                      <span>
                                                        typeOfProperty
                                                      </span>
                                                    </div>
                                                    <div class="pd-t-6">
                                                      <span class="couple-friendly-tag mg-r-5">
                                                        location.city.name, location.province.name
                                                      </span>
                                                    </div>
                                            </div>
                                            <div style="">
                                                <div class="mg-b-6 mg-b-1 tx-right">
                                                  getTime(proposal.dateOfCreation)
                                                </div>
                                                <div class="flex-row">
                                                    <div class="mg-b-6">
                                                      Price between: $ proposal.priceMinimum - $ proposal.priceMaximum
                                                    </div>
                                                </div>
                                                <div class="tx-13 tx-right">Id proposal: proposal.id</div>
                                            </div>
                                        </div>
                                        <div class="card-bottom flex-row row--bottom">
                                            <div>

                                            </div>
                                            <button class="btn btn-danger">
                                              <i></i> favorite
                                            </button>
                                            <button class="button r-hotel__action">
                                              <i></i> Quick Book
                                            </button>
                                        </div>
                                    </div>
                                </div>
                              </div>
                                <h4 class="mg-b-5 tx-inverse lh-2 tx-uppercase">Subscribe to our</h4>
                                <h2 class="tx-sm-56 tx-semibold tx-uppercase tx-inverse mg-b-15">Newsletter</h2>
                                <p class="mg-b-20">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                <p class="mg-b-20"><a href="" class="btn btn-outline-info bd-2 pd-y-12 pd-x-25 tx-uppercase tx-12 tx-semibold tx-spacing-1">Subscribe</a></p>
                                <p class="tx-12 mg-b-0">
                                  <span class="tx-uppercase tx-12 tx-bold d-block mg-b-5">Our Address:</span>
                                  <span>Ayala Center, Cebu Business Park, Cebu City, Cebu, Philippines 6000</span></p>
                                </div>
                              </div><!-- col-6 -->
                            </div><!-- row -->

                          </div><!-- modal-body -->
                        </div><!-- modal-content -->
         </div>
     </div>
   </div>
 </div>
</transition>
 </transition>
 </template>

<script>
/* ============
* Home page
* ============
*
* Home page of the entire web app.
*/

export default {
/**
* The name of the page.
*/
  name: 'modalrefinesearch',
  props: ['show'],
  /**
  * The data that can be used by the page.
  *
  * @returns {Object} The view-model data.
  */
  data () {
    return {
      properties: {}
    }
  },
  /**
   * The methods the page can use.
   */
  methods: {
   /**
    * Will log the user in.
    *
    * @param {Object} user The user to be logged in.
    */
    close: function () {
      this.$emit('close')
    },
    findProperties: function (e) {
      this.isLoading = true
      // let proposalType = this.$store.state.form.globalObject.typeOfProposal
      let proposalType = 'for_rent'
      this.$http.get('/api/property/list', {params: {saleType: proposalType}}).then(response => {
        // get status
        this.isLoading = false
        this.properties = response.data
      }, response => {
        // get failed
        console.log(response)
      })
    }
  },
  mounted: function () {
    this.$root.$on('find-properties', this.findProperties)
    document.addEventListener('keydown', (e) => {
      if (this.show && e.keyCode === 27) {
        this.close()
      }
    })
  }
}
</script>
