<template>
 <transition name="modal">
     <transition name="modal">
 <div class="modal-mask" @click="close" v-show="show">
   <div class="modal-wrapper">
     <div class="modal-container wd-450">
           <div class="card" @click.stop>
           <div class="card-body pd-x-20 pd-xs-40">
             <h5 class="tx-xs-24 tx-normal tx-gray-900 mg-b-15">Forgot password</h5>
             <p class="mg-b-30 tx-14">Don't remember your password? send a reset link by filling the input field, it only takes less than a minute.</p>
             
           </div><!-- card-body -->
         </div>
     </div>
   </div>
 </div>
</transition>
 </transition>
 </template>

<script>
/* ============
* Home page
* ============
*
* Home page of the entire web app.
*/

export default {
/**
* The name of the page.
*/
  name: 'modalrefinesearch',
  props: ['show'],
  /**
  * The data that can be used by the page.
  *
  * @returns {Object} The view-model data.
  */
  data () {
    return {
      message: {
        status: false,
        body: {
          field: null,
          message: null
        }
      }
    }
  },
  /**
   * The methods the page can use.
   */
  methods: {
   /**
    * Will log the user in.
    *
    * @param {Object} user The user to be logged in.
    */
    close: function () {
      this.$emit('close')
    }
  },
  mounted: function () {
    document.addEventListener('keydown', (e) => {
      if (this.show && e.keyCode === 27) {
        this.close()
      }
    })
  }
}
</script>
