<template>
 <transition name="modal">
 <div class="modal-mask" @click="close" v-show="show">
   <div class="modal-wrapper">
     <div class="modal-container wd-950">
           <div class="card" @click.stop>


             <!--<section class="pricing-section bg-11">
                         <h2 class="pricing-section__title">Tenzin</h2>
                         <div class="pricing pricing--tenzin">
                             <div class="pricing__item">
                                 <h3 class="pricing__title">Freelancer</h3>
                                 <div class="pricing__price"><span class="pricing__currency">$</span>9.90</div>
                                 <p class="pricing__sentence">Perfect for single freelancers who work by themselves</p>
                                 <ul class="pricing__feature-list">
                                     <li class="pricing__feature">Support forum</li>
                                     <li class="pricing__feature">Free hosting</li>
                                     <li class="pricing__feature">40MB of storage space</li>
                                 </ul>
                                 <button class="pricing__action">Choose plan</button>
                             </div>
                             <div class="pricing__item">
                                 <h3 class="pricing__title">Small business</h3>
                                 <div class="pricing__price"><span class="pricing__currency">$</span>29,90</div>
                                 <p class="pricing__sentence">Suitable for small businesses with up to 5 employees</p>
                                 <ul class="pricing__feature-list">
                                     <li class="pricing__feature">Unlimited calls</li>
                                     <li class="pricing__feature">Free hosting</li>
                                     <li class="pricing__feature">10 hours of support</li>
                                     <li class="pricing__feature">Social media integration</li>
                                     <li class="pricing__feature">1GB of storage space</li>
                                 </ul>
                                 <button class="pricing__action">Choose plan</button>
                             </div>
                             <div class="pricing__item">
                                 <h3 class="pricing__title">Larger business</h3>
                                 <div class="pricing__price"><span class="pricing__currency">$</span>59,90</div>
                                 <p class="pricing__sentence">Great for large businesses with more than 5 employees</p>
                                 <ul class="pricing__feature-list">
                                     <li class="pricing__feature">Unlimited calls</li>
                                     <li class="pricing__feature">Free hosting</li>
                                     <li class="pricing__feature">Unlimited hours of support</li>
                                     <li class="pricing__feature">Social media integration</li>
                                     <li class="pricing__feature">Anaylitcs integration</li>
                                     <li class="pricing__feature">Unlimited storage space</li>
                                 </ul>
                                 <button class="pricing__action">Choose plan</button>
                             </div>
                         </div>
                     </section>-->



           <div class="card-body pd-x-20 pd-xs-40">
             <h5 class="tx-xs-24 tx-normal tx-gray-900 mg-b-15">Pricing</h5>
             <div class="container">





               <main class="steps">

                       <fieldset :disabled="state.paused">

                           <section id="states">

                               <article id="intro" v-show="state.is.intro">
                                   <h2>Welcome</h2>

                                   <div class="row">
                                                    <div class="col-md-3">
                                                        <article class="c-plan">
                                                            <img class="c-plan__img" src="https://zawiastudio.com/dashboard/demo/img/price-icon.svg" alt="Pricing Icon">

                                                            <h5 class="c-plan__title">Basic</h5>

                                                            <h4 class="c-plan__price">
                                                            $19<span class="u-text-mute u-h6">/month</span></h4>

                                                            <h5 class="c-plan__note">max. 1 user</h5>

                                                            <span class="c-plan__divider"></span>

                                                            <ul>
                                                                <li class="c-plan__feature">
                                                                    <span>10</span> Projects
                                                                </li>
                                                                <li class="c-plan__feature">
                                                                    <span>3</span> Clients
                                                                </li>
                                                                <li class="c-plan__feature">
                                                                    <span>Unlimited</span> Messages
                                                                </li>
                                                            </ul>
                                                            <a v-on:click="doAction" href="javascript:;" class="c-btn c-btn--success u-mt-medium" name="next">Choose plan</a>
                                                        </article>
                                                    </div>

                                                    <div class="col-md-3">

                                                        <article class="c-plan">
                                                            <img class="c-plan__img" src="https://zawiastudio.com/dashboard/demo/img/price-icon2.svg" alt="Pricing Icon">

                                                            <h5 class="c-plan__title">Basic</h5>

                                                            <h4 class="c-plan__price">
                                                            $19<span class="u-text-mute u-h6">/month</span></h4>

                                                            <h5 class="c-plan__note">max. 1 user</h5>

                                                            <span class="c-plan__divider"></span>

                                                            <ul>
                                                                <li class="c-plan__feature">
                                                                    <strong>10</strong> Projects
                                                                </li>
                                                                <li class="c-plan__feature">
                                                                    <strong>3</strong> Clients
                                                                </li>
                                                                <li class="c-plan__feature">
                                                                    <strong>Unlimited</strong> Messages
                                                                </li>
                                                            </ul>

                                                            <a v-on:click="doAction" href="javascript:;" class="c-btn c-btn--warning u-mt-medium" name="next">Choose plan</a>
                                                        </article>

                                                    </div>

                                                    <div class="col-md-3">

                                                        <article class="c-plan">
                                                            <img class="c-plan__img" src="https://zawiastudio.com/dashboard/demo/img/price-icon3.svg" alt="Pricing Icon">

                                                            <h5 class="c-plan__title">Basic</h5>

                                                            <h4 class="c-plan__price">
                                                            $19<span class="u-text-mute u-h6">/month</span></h4>

                                                            <h5 class="c-plan__note">max. 1 user</h5>

                                                            <span class="c-plan__divider"></span>

                                                            <ul>
                                                                <li class="c-plan__feature">
                                                                    <span>10</span> Projects
                                                                </li>
                                                                <li class="c-plan__feature">
                                                                    <span>3</span> Clients
                                                                </li>
                                                                <li class="c-plan__feature">
                                                                    <span>Unlimited</span> Messages
                                                                </li>
                                                            </ul>
                                                            <a v-on:click="doAction" href="javascript:;" class="c-btn c-btn--info u-mt-medium" name="next">Choose plan</a>
                                                        </article>

                                                    </div>

                                                    <div class="col-md-3">

                                                        <article class="c-plan">
                                                            <img class="c-plan__img" src="https://zawiastudio.com/dashboard/demo/img/price-icon4.svg" alt="Pricing Icon">

                                                            <h5 class="c-plan__title">Basic</h5>

                                                            <h4 class="c-plan__price">
                                                            $19<span class="u-text-mute u-h6">/month</span></h4>

                                                            <h5 class="c-plan__note">max. 1 user</h5>

                                                            <span class="c-plan__divider"></span>

                                                            <ul>
                                                                <li class="c-plan__feature">
                                                                    <span>10</span> Projects
                                                                </li>
                                                                <li class="c-plan__feature">
                                                                    <span>3</span> Clients
                                                                </li>
                                                                <li class="c-plan__feature">
                                                                    <span>Unlimited</span> Messages
                                                                </li>
                                                            </ul>
                                                            <a v-on:click="doAction" href="javascript:;" class="c-btn c-btn--fancy u-mt-medium" name="next">Choose plan</a>
                                                        </article>

                                                    </div>
                                                </div>

                               </article>

                               <article id="form" v-show="state.is.form">

                                 <div id="paypal-button"></div>

                                 <div class="card-block">
                                 <h1>Please give us your payment details:</h1>
                                     <card class='stripe-card'
                                       :class='{ complete }'
                                       stripe='pk_test_VP6JcEFsWgxdGwT4lnLRu7lY'
                                       :options='stripeOptions'
                                       @change='complete = $event.complete'
                                     />
                                     <button class='pay-with-stripe' @click='pay' :disabled='!complete'>Pay with credit card</button>
                                 </div>



                               </article>

                               <article id="finish" v-show="state.is.finish">
                                   <h2>Thank you!</h2>
                                   <p>Your membership information has been emailed to you</p>
                               </article>

                               <article id="error" v-show="state.is.error">
                                   <h2 style="color:red">Sorry</h2>
                                   <p>There was a problem saving your details to the server</p>
                               </article>

                           </section>

                           <section id="controls">
                               <button v-on:click="doAction" :disabled="!state.actions.back" class="btn btn-sm" name="back">Back</button>
                               <button v-on:click="doAction" :disabled="!state.actions.next" class="btn btn-sm" name="next">Next</button>
                               <button v-on:click="doAction" :disabled="!state.actions.restart" class="btn btn-sm" name="restart">Restart</button>
                           </section>

                       </fieldset>

                   </main>
                        </div>
                    </div>
                </div><!-- // .row -->
            </div><!-- // .container -->
           </div><!-- card-body -->
         </div>
     </div>
   </div>
 </div>
 </transition>
 </template>

 <style>
 .stripe-card {
   width: 300px;
   border: 1px solid grey;
 }
 .stripe-card.complete {
   border-color: green;
 }

 .group {
   background: white;
   box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
   border-radius: 4px;
   margin-bottom: 20px;
 }

 label {
   position: relative;
   color: #8898AA;
   font-weight: 300;
   height: 40px;
   margin-left: 20px;
   display: flex;
   flex-direction: row;
 }

 .group label:not(:last-child) {
   border-bottom: 1px solid #F0F5FA;
 }

 label > span {
   width: 120px;
   text-align: right;
   margin-right: 30px;
 }

 .InputElement {
   background: transparent;
   font-weight: 300;
   border: 0;
   color: #31325F;
   outline: none;
   flex: 1;
   padding-right: 10px;
   padding-left: 10px;
   cursor: text;
 }

 .InputElement::-webkit-input-placeholder {
   color: #CFD7E0;
 }

 .InputElement::-moz-placeholder {
   color: #CFD7E0;
 }

 button {
   float: left;
   display: block;
   background: #666EE8;
   color: white;
   box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
   border-radius: 4px;
   border: 0;
   margin-top: 20px;
   font-size: 15px;
   font-weight: 400;
   width: 100%;
   height: 40px;
   outline: none;
 }

 button:focus {
   background: #555ABF;
 }

 button:active {
   background: #43458B;
 }

 .outcome {
   float: left;
   width: 100%;
   padding-top: 8px;
   min-height: 24px;
   text-align: center;
 }

 .success,
 .error {
   display: none;
   font-size: 13px;
 }

 .success.visible,
 .error.visible {
   display: inline;
 }

 .error {
   color: #E4584C;
 }

 .success {
   color: #666EE8;
 }

 .success .token {
   font-weight: 500;
   font-size: 13px;
 }

 </style>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
   */

  import {StateMachine, StateHelper} from 'state-machine'
  import paypal from 'paypal-checkout'
  import {style} from 'config/index'
  import { Card, createToken } from 'vue-stripe-elements-plus'

  export default {
    /**
     * The name of the page.
     */
    name: 'modal-proposition-payment',

    props: ['show'],

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          description: 'mob',
          token: '',
          packageProduct: 4,
          amount: 500
        },
        app: {
          error: false
        },
        complete: false,
        input: {
          email: '',
          password: '',
          terms: false
        },
        state: null,
        stripeOptions: {
          style,
          hidePostalCode: true
          // see https://stripe.com/docs/stripe.js#element-options for details
        }
      }
    },

    created: function () {
      // create state machine
      this.fsm = StateMachine.create({
        transitions: [
          'next    : intro > form > finish',
          'back    : intro < form           < error',
          'error   :         form >           error',
          'restart : intro        < finish'
        ],
        handlers: {
          'form': this.onForm,
          'form@next': this.onSubmit,
          'finish': this.onComplete
        }
      })
      // create and assign state helper object / data to application state
      this.state = StateHelper.object(this.fsm).data
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      close: function () {
        this.$emit('close')
        // this.model = { credential: null }
      },
      doAction: function (event) {
        this.fsm.do(event.target.name)
      },
      onForm: function (event, fsm) {
        // this.$validator.errorBag.clear()
      },
      onSubmit: function (event, fsm) {
        fsm.cancel()
        this.submit()
      },
      onComplete: function () {
        console.log('Yay! We submitted the form :)')
        this.reset()
      },
      submit: function () {
        this.fsm.pause()
        console.log('Submitting data...')
        setTimeout(function () {
          if (this.app.error) {
            console.log('There was an error submitting your data!')
            this.fsm.go('error', true)
          } else {
            console.log('Data submitted!')
            this.fsm.resume()
          }
        }.bind(this), 2000)
      },
      reset: function () {
        this.input.email = ''
        this.input.password = ''
        this.input.terms = false
      },
      submitCard: function (payload) {
        this.$http.post('/auth/payment/charge', this.model).then(response => {
          // get status
          console.log(response)
        }, response => {
          // get failed
          console.log(response)
        })
        // payload = {method: 'post', url: 'auth/payment/charge', data: this.model}
        // this.$store.dispatch('form/submit', payload)
      },
      submitPaypal: function (payload) {
        console.log(this.model)
        payload = {method: 'post', url: 'auth/payment/paypal', data: this.model}
        this.$store.dispatch('form/submit', payload)
      },
      pay () {
        // createToken returns a Promise which resolves in a result object with
        // either a token or an error key.
        // See https://stripe.com/docs/api#tokens for the token object.
        // See https://stripe.com/docs/api#errors for the error object.
        // More general https://stripe.com/docs/stripe.js#stripe-create-token.
        createToken().then(data => {
          this.model.token = data.token.id
          this.submitCard(this.model)
        }).catch(err => console.log(err))
      }
    },
    mounted: function () {
      document.addEventListener('keydown', (e) => {
        if (this.show && e.keyCode === 27) {
          this.close()
        }
      })
      paypal.Button.render({

        // Set your environment

        env: 'sandbox', // sandbox | production

        // Specify the style of the button

        style: {
          label: 'checkout',
          size: 'medium', // small | medium | large | responsive
          shape: 'rect', // pill | rect
          color: 'gold' // gold | blue | silver | black
        },

        // PayPal Client IDs - replace with your own
        // Create a PayPal app: https://developer.paypal.com/developer/applications/create

        client: {
          sandbox: 'ASSljN1X2fhtOalonExcpolVsWmMWGVBI-NiTSiQpkksE02CFoenGaBlT13DRxlJxG03g5UuKTuScwpj',
          production: '<insert production client id>'
        },

        payment: function (data, actions) {
          // Make a call to your server to set up the payment
          let CREATE_URL = (process.env.NODE_ENV === 'development') ? '/server/auth/payment/paypal' : '/auth/payment/paypal'
          return paypal.request.post(CREATE_URL).then(res => {
            return res.paymentID
          })
        },

        onAuthorize: function (data, actions) {
          // Set up a url on your server to execute the payment
          let EXECUTE_URL = (process.env.NODE_ENV === 'development') ? '/server/auth/payment/payer' : '/auth/payment/payer'
          // Make a call to your server to execute the payment
          return paypal.request.post(EXECUTE_URL, {
            paymentID: data.paymentID,
            payerID: data.payerID
          }).then(res => console.log(res)).catch(err => console.log(err))
        }

      }, '#paypal-button')
    },
    components: {
      Card
    }
  }
</script>
