<template>
	<div>
    <canvas :id="identification" :height="height" ></canvas>
	</div>
</template>

<script>
  /* ============
   * Line stack area Component
   * ============
   *
   * A basic panel component.
   *
   * Gives an idea how components work.
   */
import Chart from 'chart.js'

  export default {
    data () {
      return {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
        data: [120, 190, 215, 120, 326, 291, 230]
      }
    },
    props: ['identification', 'height'],
    mounted: function () {
      this.$nextTick(() => {
        var ctx = document.getElementById(this.identification).getContext('2d')
        var config = {
          type: 'line',
          data: {
            labels: this.labels,
            datasets: [{
              label: 'Page Views',
              data: this.data,
              backgroundColor: 'rgba(22,211,154,0.7)',
              borderColor: 'transparent',
              pointBorderColor: 'transparent',
              pointBackgroundColor: 'transparent',
              pointRadius: 2,
              pointBorderWidth: 2,
              pointHoverBorderWidth: 2
            }]
          },
          options: {
            responsive: !0,
            maintainAspectRatio: !1,
            pointDotStrokeWidth: 4,
            legend: {
              display: !1,
              labels: {
                fontColor: '#404e67',
                boxWidth: 10
              },
              position: 'bottom'
            },
            hover: {
              mode: 'label'
            },
            scales: {
              xAxes: [{
                display: !0,
                gridLines: {
                  color: 'rgba(255,255,255, 0.3)',
                  drawTicks: !0,
                  drawBorder: !1,
                  zeroLineColor: '#FFF'
                },
                ticks: {
                  display: !0
                }
              }],
              yAxes: [{
                display: !0,
                gridLines: {
                  color: 'rgba(0,0,0, 0.07)',
                  drawTicks: !1,
                  drawBorder: !1,
                  drawOnChartArea: !0
                },
                ticks: {
                  display: !0,
                  maxTicksLimit: 5
                }
              }]
            },
            title: {
              display: !1,
              text: 'Chart.js Line Chart - Legend'
            }
          }
        }
        new Chart(ctx, config) // eslint-disable-line no-new
      })
    }
  }

</script>
