<template>
	<div class='chartjs'>
    <canvas id='line-stacked-area' height='300' ></canvas>
	</div>
</template>

<script>
  /* ============
   * Line stack area Component
   * ============
   *
   * A basic panel component.
   *
   * Gives an idea how components work.
   */
import Chart from 'chart.js'

  export default {
    data () {
      return {
        labels: ['Active', 'In Development', 'Completed', 'On Hold', 'Canceled'],
        data: [3, 5, 2, 6, 10]
      }
    },
    mounted: function () {
      this.$nextTick(() => {
        var ctx = document.getElementById('line-stacked-area').getContext('2d')
        var config = {
          type: 'line',
          data: {
            labels: ['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017'],
            datasets: [{
              label: 'Interests',
              data: [0, 5, 22, 14, 28, 12, 24, 0],
              backgroundColor: 'rgba(255,117,136, 0.7)',
              borderColor: 'transparent',
              pointBorderColor: 'transparent',
              pointBackgroundColor: 'transparent',
              pointRadius: 2,
              pointBorderWidth: 2,
              pointHoverBorderWidth: 2
            }, {
              label: 'Total profils',
              data: [0, 8, 30, 15, 12, 21, 14, 0],
              backgroundColor: 'rgba(255,168,125,0.9)',
              borderColor: 'transparent',
              pointBorderColor: 'transparent',
              pointBackgroundColor: 'transparent',
              pointRadius: 2,
              pointBorderWidth: 2,
              pointHoverBorderWidth: 2
            }, {
              label: 'Profils Views',
              data: [0, 20, 10, 45, 20, 36, 21, 0],
              backgroundColor: 'rgba(22,211,154,0.7)',
              borderColor: 'transparent',
              pointBorderColor: 'transparent',
              pointBackgroundColor: 'transparent',
              pointRadius: 2,
              pointBorderWidth: 2,
              pointHoverBorderWidth: 2
            }]
          },
          options: {
            responsive: !0,
            maintainAspectRatio: !1,
            pointDotStrokeWidth: 4,
            legend: {
              display: !1,
              labels: {
                fontColor: '#404e67',
                boxWidth: 10
              },
              position: 'bottom'
            },
            hover: {
              mode: 'label'
            },
            scales: {
              xAxes: [{
                display: !0,
                gridLines: {
                  color: 'rgba(255,255,255, 0.3)',
                  drawTicks: !0,
                  drawBorder: !1,
                  zeroLineColor: '#FFF'
                },
                ticks: {
                  display: !0
                }
              }],
              yAxes: [{
                display: !0,
                gridLines: {
                  color: 'rgba(0,0,0, 0.07)',
                  drawTicks: !1,
                  drawBorder: !1,
                  drawOnChartArea: !0
                },
                ticks: {
                  display: !0,
                  maxTicksLimit: 5
                }
              }]
            },
            title: {
              display: !1,
              text: 'Chart.js Line Chart - Legend'
            }
          }
        }
        new Chart(ctx, config) // eslint-disable-line no-new
      })
    },
    methods: {
      startPie: function (canvas, type) {
        // init chart.js
        Chart(canvas, {
          type: type,
          data: {
            labels: this.labels,
            datasets: [{
              data: this.data,
              backgroundColor: [
                '#e25039',
                '#27a86e',
                '#f39c12',
                '#00c0ef',
                '#428dbc'
              ],
              hoverBackgroundColor: [
                '#FF6384',
                '#36A2EB',
                '#FFCE56'
              ]
            }]
          },
          options: {
            animation: {
              animateScale: true
            }
          }
        })
      }
    }
  }

</script>
