<template>
<div class="row row-sm mg-t-20">
          <div class="col-sm-6 col-lg-6 mg-b-20">

            <widget-statistic-small />
          </div><!-- col-4 -->
          <div class="col-sm-6 col-lg-6 mg-t-20 mg-lg-t-0 mg-b-20">
            <widget-statistic-small />
            <!--div class="bg-white rounded shadow-base overflow-hidden">
              <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                <i class="ion ion-monitor tx-80 lh-0 tx-teal op-5"></i>
                <div class="mg-l-20">
                  <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase mg-b-10">% Unique Visits</p>
                  <p class="tx-32 tx-inverse tx-lato tx-black mg-b-0 lh-1">54.45%</p>
                  <span class="tx-12 tx-roboto tx-gray-600">23% average duration</span>
                </div>
              </div>
              <div id="ch7" class="ht-60 tr-y-1"></div>
            </div-->
          </div><!-- col-4 -->
<div class="col-lg-12 mg-t-20 mg-lg-t-0">
            <!--widget-statistic-medium /-->
            <widget-statistic-medium />
            </div>
</div>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from 'layouts/Dashboard'
  import moment from 'moment'
  import transformer from 'transformers/ProposalTransformer'
  import WidgetStatisticSmall from 'components/widget/WidgetStatisticSmall'
  import WidgetStatisticMedium from 'components/widget/WidgetStatisticMedium'

  export default {
    /**
     * The name of the page.
     */
    name: 'statistics-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
      }
    },

    created: function () {
      this.find()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      find: function () {
        let payload = {url: 'api/buy', data: this.$route.params.id, transformer: transformer}
        this.$store.dispatch('global/find', payload)
      },
      getLink: function (id, type) {
        let url = (type === 'for_sale') ? '/buy/' + id : '/rent/' + id
        return url
      },
      getTime: function (time) {
        time = moment(time).fromNow()
        return time
      },
      getDate: function (time) {
        time = moment(time).format('DD MMM YYYY')
        return time
      }
    },

    computed: {
      proposal: function () {
        return this.$store.state.global.object
      },
      getTab: function () {
        return this.$route.query.tab ? this.$route.query.tab !== undefined : 'null'
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout,
      WidgetStatisticSmall,
      WidgetStatisticMedium
    }
  }
</script>
