<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>
<script>
  /* ============
   * Entry Point
   * ============
   *
   * The entry point of the application
   */
  import websocketListener from 'utils/websocket-listener'
  import { mapGetters } from 'vuex'
  export default {
    /**
     * The name of the application.
     */
    name: 'proov-app',

    computed: {
      ...mapGetters({
        myAccount: 'account/getAccount'
      })
    },

    methods: {
      subscription: function () {
        return websocketListener.register([
          {route: '/topic/greetings', callback: this.getConsole}
        ])
      },
      getConsole: function () {
        console.log('test')
      }
    },
    /**
     * Fires when the app has been mounted.
     */
    mounted () {
      // If the user is authenticated,
      // fetch the data from the API
      if (this.$store.state.auth.authenticated) {
        if (this.myAccount.role.includes('ROLE_LIMITED')) {
          console.log('test reussi')
        }
        // this.subscription()
        this.$store.dispatch('account/find')
      }
    }
  }
</script>
