<template>
    <div class="d-flex align-items-center justify-content-center">
<div class="col-lg-4 mg-t-20 mg-lg-t-0">
<div class="signin-logo tx-center tx-28 tx-bold tx-inverse">
          <span class="tx-normal">[</span> proov 
          <span class="tx-info">+</span> 
          <span class="tx-normal">]</span>

    <div v-show="message.display" class="alert alert-danger alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="alert-heading">{{message.object.field}}</h4>
  <p>{{message.object.message}}.</p>
</div>

        </div>
            <div class="card bg-info shadow-base bd-0 pd-25 ht-100p">
              <h5 class="tx-normal tx-center tx-white mg-b-15 lh-4">We are processing the token ...</h5>
              <img src="http://samherbert.net/svg-loaders/svg-loaders/rings.svg" class="img-fluid mg-b-25" />
              
            </div><!-- card -->
          </div>
</div>

</template>

<script>
  export default {
    /**
     * The name of the page.
     */
    name: 'activate-index',

    created: function () {
      this.activate(this.$route.query.token)
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will register the user.
       *
       * @param {Object} user The user to be registered.
       */
      activate: function (token) {
        setTimeout(function () {
          this.$store.dispatch('auth/activate', token)
        }.bind(this), 2000)
      }
    },

    /**
     * The computed the page going to use
     */
    computed: {
      message: function () {
        let message = this.$store.state.message
        return message
      }

    }
  }
</script>
