<template>
<v-layout>

  <div class="br-section-wrapper pd-0">
  <form @submit.prevent="submit(model)" autocomplete="off">
  <div class="br-section-header">
          <h6 class="br-section-label">New leasing</h6>
          <p class="br-section-text">A form with a label on top of each form control.</p>
  </div>

  <div class="br-section-body pd-70-force">

  <alert :alert="getMessage" />
          <div class="form-layout form-layout-1">

            <div class="row">
                                          <div class="col-md-12">
                                            <div class="form-body">
                                              <div class="row">
                                                <div class="col-md-12">
                                                  <h4 class="form-section"><i class="ft-map-pin"></i> Address Location</h4>
                                                </div>

                                              </div>


                                              <div class="row">
                                                <div class="col-md-12">
                                                  <div class="form-group">
                                                    <label>Choose your zone of selling</label>
                                                      <multiselect
                v-model="selectedCities"
                id="ajax"
                label="name"
                track-by="id"
                placeholder="Type to search"
                open-direction="bottom"
                :custom-label="nameWithProvince"
                :clear-on-select="true"
                :options="cities"
                :multiple="true"
                :searchable="true"
                :loading="isLoading"
                :internal-search="false"
                :close-on-select="true"
                :options-limit="300"
                :max-height="600"
                :show-no-results="true"
                @search-change="onChangeLocation">
                <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
              </multiselect>
                                                    <span class="help-block"> </span>

                                                  </div>
                                                </div>
                                              </div>
                                              <h4 class="form-section"><i class="ft-box"></i> Property characteristics</h4>
                                              <div class="row">
                                                <div class="col-md-4">
                                                  <div class="form-group">
                                                    <label>Category of property</label>
                                                    <select v-model="model.ageOfProperty" class="form-control input-md">
                                                      <option value="">Select a value</option>
                                                      <option value="is_new">new</option>
                                                      <option value="not_new">not new</option>
                                                    </select>
                                                    <span class="help-block"> </span>
                                                  </div>
                                                </div>
                                                <div class="col-md-4">
                                                  <div class="form-group">
                                                    <label>furnitured property only?</label>
                                                    <select v-model="model.isProfileFirstBuyer" class="form-control input-md">
                                                      <option value="true">yes</option>
                                                      <option value="false">no</option>
                                                      <option value="any">any type of property</option>
                                                    </select>
                                                    <span class="help-block"> </span>
                                                  </div>
                                                </div>
                                                <div class="col-md-4">
                                                  <div class="form-group">
                                                    <label>Urgency of proposal</label>
                                                    <select v-model="model.isProposalUrgent" class="form-control input-md">
                                                      <option value="">Select a value</option>
                                                      <option v-for="valueType in arrayUrgencyOfProposal" :value="valueType">{{ valueType }}</option>
                                                      <option value="any">any type of urgency</option>
                                                    </select>
                                                    <span class="help-block"> </span>
                                                  </div>
                                                </div>
                                                <div class="col-md-4">
                                                  <div class="form-group">
                                                    <label>Urgency of proposal</label>
                                                    <select v-model="model.isProposalUrgent" class="form-control input-md">
                                                      <option value="">Select a value</option>
                                                      <option v-for="valueType in arrayUrgencyOfProposal" :value="valueType">{{ valueType }}</option>
                                                    </select>
                                                    <span class="help-block"> </span>
                                                  </div>
                                                </div>
                                                <div class="col-md-4">
                                                  <div class="form-group">
                                                    <label>Price of property min</label>
                                                    <select v-model="model.isProposalUrgent" class="form-control input-md">
                                                      <option value="">Select a value</option>
                                                      <option v-for="valueType in arrayUrgencyOfProposal" :value="valueType">{{ valueType }}</option>
                                                    </select>
                                                    <span class="help-block"> </span>
                                                  </div>
                                                </div>
                                                <div class="col-md-4">
                                                  <div class="form-group">
                                                    <label>Price of property max</label>
                                                    <select v-model="model.isProposalUrgent" class="form-control input-md">
                                                      <option value="">Select a value</option>
                                                      <option v-for="valueType in arrayUrgencyOfProposal" :value="valueType">{{ valueType }}</option>
                                                    </select>
                                                    <span class="help-block"> </span>
                                                  </div>
                                                </div>
                                              </div>

                                              <h4 class="form-section"><i class="ft-check-square"></i> Features</h4>
                                              <div class="form-group row">
                                                <div class="col-md-12">
                                                  <label v-for="typeOfProperty in typeOfProperty" class="custom-control custom-checkbox col-md-2">
                                                    <input type="checkbox" class="custom-control-input" v-model="propertyTypes" :value="typeOfProperty">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">{{ typeOfProperty }}</span>
                                                  </label>
                                                </div>
                                                <span class="help-block"> </span>
                                              </div>

                                              <h4 class="form-section"><i class="ft-check-square"></i> Amenities</h4>
                                              <div class="form-group row">
                                                 <div class="col-md-12">
                                                    <label v-for="amenities in listOfAmenities" class="custom-control custom-checkbox col-md-3">
                                                    <input type="checkbox" class="custom-control-input" v-model="propertyTypes" :value="amenities">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">{{ amenities }}</span>
                                                    </label>
                                                 </div>
                                                 <span class="help-block"> </span>
                                              </div>


                                            </div>
                                          </div>
                                        </div>

          </div><!-- form-layout -->
          </div>

                    <div class="br-section-footer">

              <button id="property_new" class="btn btn-info">Submit Form</button>
              <button class="btn btn-secondary">Cancel</button>

          </div>



  </form>
        </div>




</v-layout>
</template>

<script>
  /* ============
   * Account Index Page
   * ============
   *
   * Page where the user can view the account information.
   */
import VLayout from 'layouts/Dashboard'
import * as constants from 'constants/index'
import Alert from 'components/message/Alert'

export default {
    data () {
      return {
        model: {
          city: null,
          ageOfProperty: '',
          isProfileFirstBuyer: '',
          isProposalUrgent: null,
          type: null,
          size: null,
          description: null
        },
        isLoading: false,
        arrayUrgencyOfProposal: constants.URGENCY_OF_PROPOSAL,
        listOfAmenities: constants.AMENITIES,
        propertyTypes: [],
        selectedCities: [],
        typeOfProperty: constants.TYPE_FOR_RENT,
        cities: []
      }
    },
    methods: {
      onSubmit: function (event, fsm) {
        this.submit()
        // fsm.cancel()
      },
      onComplete: function () {
        // this.reset()
      },
      submit: function () {
        // this.fsm.pause()
        console.log('Submitting data...')
        setTimeout(function () {
          let $form = document.querySelector('form.form')
          let formData = new FormData($form[0])
          formData.append('ageOfProperty', this.model.ageOfProperty)
          formData.append('isProfileFirstBuyer', this.model.isProfileFirstBuyer)
          formData.append('isProposalUrgent', this.model.isProposalUrgent)
          let payload = {method: 'post', url: 'api/profile/lessor/new', data: formData}
          this.$store.dispatch('form/submit', payload)
          this.fsm.resume()
        }.bind(this), 2000)
      },
      // function to load cities
      asyncFind: function (query) {
        this.isLoading = true
        this.$http.get('rest/city', {params: query}).then(response => {
          // get status
          this.isLoading = false
          this.cities = response.data
        }, response => {
          // get failed
          console.log(response)
        })
      },
      // function to display name of province and name of city
      nameWithProvince: function ({ name, province }) {
        return `${province.name}, ${name}`
      },
      // function to start searching for cities after 3 characteres
      onChangeLocation: function (searchQuery) {
        // if the type query is equal or greater than 3 characteres
        // then load cities
        if (searchQuery.length >= 3) {
          let params = { q: searchQuery }
          this.asyncFind(params)
        }
      }
    },
    computed: {
      getMessage: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.user = {firstName: null, lastName: null, credential: null, rePassword: null, password: null}
        }
        return message
      }
    },
    /**
     * The components the page can use.
     */
    components: {
      Alert,
      VLayout
    }
}
</script>
