<template>
<div class="row row-sm mg-t-20">
 <div class="col-lg-12 mg-t-20 mg-lg-t-0">

          <div class="row">
            <div class="col-md-12">
              <div class="list-group">
                <div class="list-group-item pd-y-20 rounded-top-0">
                  <div class="media">
                    <div class="d-flex mg-r-10 wd-50">
                      <i class="fa fa-file-text-o tx-info tx-40 tx"></i>
                    </div><!-- d-flex -->
                    <div class="media-body">
                      <h6 class="tx-inverse">Easy Customization</h6>
                      <p class="mg-b-0">List groups are a flexible and powerful component for displaying simple.</p>
                    </div><!-- media-body -->
                  </div><!-- media -->
                </div><!-- list-group-item -->
                <div class="list-group-item pd-y-20">
                  <div class="media">
                    <div class="d-flex mg-r-10 wd-50">
                      <i class="fa fa-folder-open-o tx-info tx-40"></i>
                    </div><!-- d-flex -->
                    <div class="media-body">
                      <h6 class="tx-inverse">Get Started Easily</h6>
                      <p class="mg-b-0">List groups are a flexible and powerful component for displaying simple.</p>
                    </div><!-- media-body -->
                  </div><!-- media -->
                </div><!-- list-group-item -->
                <div class="list-group-item pd-y-20 rounded-bottom-0">
                  <div class="media">
                    <div class="d-flex mg-r-10 wd-50">
                      <i class="fa fa-tv tx-info tx-40"></i>
                    </div><!-- d-flex -->
                    <div class="media-body">
                      <h6 class="tx-inverse">Customer Satisfaction</h6>
                      <p class="mg-b-0">List groups are a flexible and powerful component for displaying simple.</p>
                    </div><!-- media-body -->
                  </div><!-- media -->
                </div><!-- list-group-item -->
              </div><!-- list-group -->
            </div><!-- col-md-6 -->
          </div><!-- row -->

        </div>
        </div>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from 'layouts/Dashboard'
  import moment from 'moment'
  import transformer from 'transformers/ProposalTransformer'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
      }
    },

    created: function () {
      this.find()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      find: function () {
        let payload = {url: 'api/buy', data: this.$route.params.id, transformer: transformer}
        this.$store.dispatch('global/find', payload)
      },
      getLink: function (id, type) {
        let url = (type === 'for_sale') ? '/buy/' + id : '/rent/' + id
        return url
      },
      getTime: function (time) {
        time = moment(time).fromNow()
        return time
      },
      getDate: function (time) {
        time = moment(time).format('DD MMM YYYY')
        return time
      }
    },

    computed: {
      proposal: function () {
        return this.$store.state.global.object
      },
      getTab: function () {
        return this.$route.query.tab ? this.$route.query.tab !== undefined : 'null'
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
