<template>
<v-layout>
<div class="proposal_show">
  <modal-price-package :show="showPricePackage" @close="showPricePackage = false" />
      <div class="container">
      <div class="row">
      <div class="col-md-8">
        <div class="entry-header pd-t-30-force">
          <div class="d-xs-flex justify-content-between align-items-center mg-b-20">
<h1 class="tx-medium tx-30 tx-spacing-1 mg-b-0">{{proposal.typeOfProposal}} <span v-if="proposal.isUrgent === 'is_urgent'" class="tx-13 badge badge-danger">{{proposal.isUrgent}}</span> <span class="tx-13 badge badge-danger">{{proposal.isFurnished}}</span> <span v-if="proposal.isUrgent === 'is_urgent'" class="tx-13 badge badge-danger">{{proposal.isUrgent}}</span></h1>
                <span class="tx-16">{{getDate(proposal.dateOfCreation)}}</span>
              </div>
{{proposal.profile.id}}
{{$store.state.account.id}}
          <!--div class="tx-14">
            <span>: {{proposal.ageOfProperty}}</span>
            <span v-if="proposal.typeOfProposal === 'for_sale'">: {{proposal.bathrooms}}</span>
            <span v-if="proposal.typeOfProposal === 'for_sale'">: {{proposal.bedrooms}}</span>
      </div-->

<div class="project-info-container">
<div class="info-col">
<div class="info-value"><i class="icon-rupee"></i>Id proposal: {{proposal.id}}
</div>
<div class="info-description">Identification.</div>
</div>
<div class="info-col">
<div class="info-value">Price :</div>
<div class="info-description"> {{proposal.priceMinimum}} - {{proposal.priceMaximum}}</div>
</div>
<!--div class="info-col">
<div class="info-value">Looking for :</div>
<div class="info-description"> {{proposal.isFurnished}} Property</div>
</div-->
<div class="info-col">
<div class="info-value">At least {{proposal.size}} sqft</div>
<!--div class="info-value-label">(Carpet Area)</div-->
<div class="info-description">Sizes
<div class="bg-hook"><div class="bg-hooks"><span class="bg-hooks-icon"><i class="icon icon-info"></i></span></div></div>
</div>
</div>
</div>

      <div v-if="proposal.profile.id === $store.state.account.id" class="sticky-container">
<div class="clearfix navigation-container">
<nav class="inner-nav mw">
<li>
<router-link active-class="active show" :to="{ name: 'buy.show.overview' }" class="nav-link overview-link" exact>Overview</router-link>
</li>
<li>
<router-link active-class="active show" class="config-link nav-link" :to="{ name: 'buy.show.propositions' }" exact>Propositions</router-link>
</li>
<li>
<router-link active-class="active show" class="amenity-link nav-link" :to="{ name: 'buy.show.statistics' }" exact>Statistics</router-link>
</li>
<li>
<router-link active-class="active show" class="locality-link nav-link" :to="{ name: 'buy.show.settings' }" exact>Settings</router-link>
</li>

<div class="btn-container">
<div class="bordered btn shortlist-button tertiary">
<i class="icon icon-shortlist shortlisted"></i>
<span class="notshortlisted text">Add to Shortlist</span>
</div>
</div>
</nav>
</div>
</div>

<!--div class="ht-md-60 wd-200 wd-md-auto pd-y-20 pd-md-y-0 d-flex align-items-center justify-content-center">
            <ul class="nav nav-effect nav-effect-2 flex-column flex-md-row" role="tablist">
              <li class="nav-item">
                <router-link active-class="active show" :to="{ name: 'buy.show.tab.overview' }" class="nav-link" exact>Overview</router-link>
              </li>
              <li class="nav-item">
                <router-link active-class="active show" :to="{ name: 'buy.show.tab.proposition' }" class="nav-link" exact>Propositions</router-link>
              </li>
              <li class="nav-item">
                <router-link  active-class="active show" :to="{ name: 'buy.show.tab.statistics' }" class="nav-link" exact>Statistics</router-link>
              </li>
              <li class="nav-item">
                <router-link  active-class="active show" :to="{ name: 'buy.show.tab.settings' }" class="nav-link" exact>Settings</router-link>
              </li>
            </ul>
          </div-->
       </div><!-- .entry-header -->
            <router-view></router-view>

              </div> <!-- / .column-1 -->

      <div class="col-md-4 column-sidebar">

                  <div class="">


<div class="card shadow-base widget-7">
                <div class="tx-center">
                  <a href=""><img :src="proposal.profile.profileInformation.profilePhoto.url" class="wd-100 rounded-circle" alt=""></a>
                  <h4 class="tx-normal tx-inverse tx-roboto mg-t-20 mg-b-2">{{proposal.profile.profileInformation.firstName}} {{proposal.profile.profileInformation.lastName}}</h4>
                  <p class="mg-b-20">{{proposal.profile.credential}}</p>
                  <p class="mg-b-25 tx-20">
                    <a href="" class="tx-primary mg-r-5"><i class="fa fa-facebook-official"></i></a>
                    <a href="" class="tx-info mg-r-5"><i class="fa fa-twitter"></i></a>
                    <a href="" class="tx-danger"><i class="fa fa-pinterest"></i></a>
                  </p>
                  <p class="mg-b-0">
                    <a href="javascript:;" class="btn btn-info pd-x-50">Contact</a>
                  </p>
                </div>
              </div>

            <div class="card shadow-base bd-0">
              <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
                 <h3 class="widget_sidebar_title">
          Special Deals &amp; Coupons         </h3>
                <!--h6 class="card-title tx-uppercase tx-12 mg-b-0">Type of Property</h6>
                <span class="tx-12 tx-uppercase">March 2017</span-->
              </div><!-- card-header -->

            <div class="card bd-0 rounded-0 tx-center tx-size-sm">
              <div class="card-body pd-30">
                <div class="row align-items-center justify-content-center tx-center">
                  <div class="c-project__team">
                            <a class="c-project__profile c-tooltip c-tooltip--top" aria-label="Joseph Mullins" href="#">
                                <img src="https://zawiastudio.com/dashboard/demo/img/avatar1-72.jpg" alt="Adam's Face">
                            </a>

                            <a class="c-project__profile c-tooltip c-tooltip--top" aria-label="Stella Munoz" href="#">
                                <img src="https://zawiastudio.com/dashboard/demo/img/avatar2-72.jpg" alt="Adam's Face">
                            </a>

                            <a class="c-project__profile c-tooltip c-tooltip--top" aria-label="Una Higgins" href="#">
                                <img src="https://zawiastudio.com/dashboard/demo/img/avatar3-72.jpg" alt="Adam's Face">
                            </a>

                            <a class="c-project__profile c-tooltip c-tooltip--top" aria-label="Dylan Shelton" href="#">
                                <img src="https://zawiastudio.com/dashboard/demo/img/avatar4-72.jpg" alt="Adam's Face">
                            </a>

                            <a class="c-project__profile c-project__profile--btn c-tooltip c-tooltip--top" aria-label="Add a new member" href="#">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                </div><!-- row -->
                <p class="mg-b-0">Unicorn Rider, Drunkin Master</p>
              </div><!-- card-body -->
              <div class="card-footer pd-0">
                <div class="row no-gutters tx-center">
                  <div class="col-6 pd-y-20">
                    <h4 class="mg-b-2 tx-semibold tx-arimo"><a href="" class="tx-gray-dark">449k</a></h4>
                    <small class="tx-uppercase tx-semibold tx-size-xs">Followers</small>
                  </div><!-- col-6-->
                  <div class="col-6 pd-y-20 bd-l">
                    <h4 class="mg-b-2 tx-semibold tx-arimo"><a href="" class="tx-gray-dark">449k</a></h4>
                    <small class="tx-uppercase tx-semibold tx-size-xs">Following</small>
                  </div><!-- col-6-->
                </div><!-- row -->
                <div class="pd-20 bd-t">
                  <a href="javascript:;" @click="pricePackage" class="btn btn-outline-primary" title="Make a proposition">Make proposition</a>
                </div>
              </div><!-- card-footer -->
            </div><!-- card -->

            </div><!-- card -->


<div class="card shadow-base widget-7">
  <v-map />
</div>




                 <div id="listing_sidebar_map-2" class="widget  widget_listing_sidebar_map">
    <div class="listing-map-container" itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
      <!--div id="map" class="listing-map leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" tabindex="0" style="position: relative;">



</div-->





    </div>
    <div class="listing-map-content">
      <address v-for="location in proposal.location" class="listing-address">
        <div itemprop="streetAddress">
      <span class="address__street">{{location.name}}</span>
      <span class="address__street-no">&nbsp;</span>
    </div>
    <span class="address__state-short">{{location.province.name}}</span></address>
              <a href="//maps.google.com/maps?daddr=51.5022081,-0.1599428" class="listing-address-directions" target="_blank">Get directions</a>
          </div><!-- .listing-map-content -->

    </div></div>


            <div class="card-deck card-deck-sm mg-t-20 mg-x-0">
          <div class="card bd-0 bg-info">
            <div class="card-body pd-25">
              <p class="tx-11 tx-uppercase tx-mont tx-semibold tx-white-8">Design</p>
              <h5 class="lh-3 tx-normal tx-roboto"><a href="" class="tx-white-8 hover-white">How using Design Thinking will Fix Design Thinking</a></h5>
              <p class="tx-12 mg-b-0 tx-white-7">April 20, 2017</p>
            </div><!-- card-body -->
            <div class="card-footer bg-transparent bd-t-0 pd-x-25 pd-b-25">
              <a href="" class="d-block hover-white-8 tx-white">Lila C. Ramos</a>
              <span class="tx-12 tx-white-8">Technical Editor</span>
            </div><!-- card-footer -->
          </div><!-- card -->
        </div><!-- card-deck -->


    <div id="listing_sidebar_claim_listing-2" class="widget  widget_listing_sidebar_claim_listing is--independent"><h2 class="widget_sidebar_title"><div class="lwa">Is this your business?<span class="claim-verified">Verified Listing</span></div></h2><small class="listing-claim-description">Make sure your information are up to date.</small></div>

      </div><!-- / .column-2 -->
      </div>
    </div>
  </div>
</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from 'layouts/Dashboard'
  import ModalPricePackage from 'components/modal/ModalPricePackage'
  import VMap from 'components/map/Map'
  import moment from 'moment'
  import transformer from 'transformers/ProposalTransformer'

  export default {
    /**
     * The name of the page.
     */
    name: 'buy-show',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        showPricePackage: false
      }
    },

    created: function () {
      this.find()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      find: function () {
        let payload = {url: 'api/buy', data: this.$route.params.id, transformer: transformer}
        this.$store.dispatch('global/find', payload)
      },
      pricePackage: function (e) {
        this.showPricePackage = true
        e.preventDefault()
      },
      getDate: function (time) {
        time = moment(time).format('DD MMM YYYY')
        return time
      }
    },

    computed: {
      proposal: function () {
        return this.$store.state.global.object
      },
      getTab: function () {
        return this.$route.query.tab ? this.$route.query.tab !== undefined : 'null'
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VMap,
      ModalPricePackage,
      VLayout
    }
  }
</script>
