<template>
	<v-layout>
		<div class="mg-t-0 mg-b-0 pd-70 tx-center bg-black-9 pos-relative">
			<div class="ht-100p op-6 pos-absolute wd-100p tx-center t-0 l-0 background-size-cover background-center-no-repeat" style="background-image: url('https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/Death_to_stock_photography_community_premium_5.jpg')"></div>
			<div class="pos-relative">
				<h1 class="tx-white tx-64">Tenant</h1>
				<span class="tx-white">Add your business to Listable, so customers can easily find it.</span>
			</div>
		</div>
		<section class="bg-info pd-y-40">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="c-feature-description c-feature-description--right u-mrg-t-3m@lg">
							<h3 class="tx-20 tx-uppercase tx-mont tx-semibold tx-white-8 mg-t-30">Renting process</h3>
							<p class="tx-18 tx-mont tx-normal tx-white-8 mg-t-30">Ad persecuti sadipscing quo, qui ei ullum nullam.Ei his solet assentior. Movet zril adipisci sit at, id mea adhuc tollit.Id veritus propriae contentiones mea ftwamanage conversations at scale.</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="workflows-svg">
							<svg viewBox="0 0 396 285" xmlns="http://www.w3.org/2000/svg">
								<defs>
									<linearGradient x1="85.669%" y1="100%" x2="32.435%" y2="23.582%" id="a">
										<stop stop-color="#3197D6" offset="0%" />
										<stop stop-color="#6A6DC7" offset="100%" />
									</linearGradient>
								</defs>
								<g fill="none" fill-rule="evenodd">
									<path d="M16 31h54c18.005 0 18.005 18.07 18.005 18.07V123S87 141.049 106 141.049h100M358 9.01H248.049S230 8.003 230 27.003v115.133M102 276.128h109.951S230 277.133 230 258.133V153M378 141H267.995" class="path" stroke="#F1F3F5" stroke-width="4" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="10" stroke-dashoffset="90" />
									<g fill="#F1F3F5">
										<path d="M387 146c2.761 0 5-2.239 5-5s-2.239-5-5-5-5 2.239-5 5 2.239 5 5 5zm0 4c-4.97 0-9-4.03-9-9s4.03-9 9-9 9 4.03 9 9-4.03 9-9 9zM9 36c2.761 0 5-2.239 5-5s-2.239-5-5-5-5 2.239-5 5 2.239 5 5 5zm0 4c-4.97 0-9-4.03-9-9s4.03-9 9-9 9 4.03 9 9-4.03 9-9 9zM95 281c2.761 0 5-2.239 5-5s-2.239-5-5-5-5 2.239-5 5 2.239 5 5 5zm0 4c-4.97 0-9-4.03-9-9s4.03-9 9-9 9 4.03 9 9-4.03 9-9 9zM366 14c2.761 0 5-2.239 5-5s-2.239-5-5-5-5 2.239-5 5 2.239 5 5 5zm0 4c-4.97 0-9-4.03-9-9s4.03-9 9-9 9 4.03 9 9-4.03 9-9 9z" />
									</g>
									<g transform="translate(172 82)">
										<circle fill="url(#a)" cx="58" cy="58" r="58" />
										<path d="M78.588 53.875h-7.891l7.563-15.237c.657-.994.328-2.32 0-3.313C77.93 34.331 76.287 34 75.3 34H48.994c-1.644 0-2.96.994-3.288 2.65l-6.577 26.5c-.329.994 0 1.988.658 2.981.657.663 1.644.994 2.63.994h5.92l-2.631 15.9c-.33 1.325.328 2.65 1.644 3.312.657.663.986.663 1.644.663.658 0 1.644-.331 2.302-.994l29.594-26.5c.987-.993 1.316-2.318.987-3.643-.33-1.326-1.973-1.988-3.289-1.988zM64.86 56.889c.755 1.14 1.887 1.9 3.396 1.9h5.696L52.357 78.43l2.204-11.123c0-1.14 0-2.28-.754-3.04-.755-1.14-1.887-1.52-3.019-1.52H44.72l6.07-24.658h20.97l-6.9 15.38c-.377 1.141-.377 2.281 0 3.421z" fill="#FFF" />
									</g>
								</g>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="pd-y-40">
			<div class="container">
				<h3 class="tx-center mg-b-30">Create workflows to help with your everyday projects</h3>
				<div class="row tx-left">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12">
								<a class="tx-18 pd-y-15 pd-x-5 rounded tx-black d-block mg-b-20 is-active" href="javascript:;">
									<h4 class="tx-semibold mg-x-0 mg-t-0 mg-b-10">Organize Conversations</h4>
									<p class="tx-16 ">Organize conversations by the content in the email</p>
								</a>
							</div>
							<div class="col-md-12">
								<a class="tx-18 pd-y-15 pd-x-5 rounded tx-black d-block mg-b-20" href="javascript:;">
									<h4 class="tx-semibold mg-x-0 mg-t-0 mg-b-10">Prioritize</h4>
									<p class="tx-16 ">Keep track of priority topics</p>
								</a>
							</div>
							<div class="col-md-12">
								<a class="tx-18 pd-y-15 pd-x-5 rounded tx-black d-block mg-b-20" href="javascript:;">
									<h4 class="tx-semibold mg-x-0 mg-t-0 mg-b-10">Escalate Conversations</h4>
									<p class="tx-16 mg-0">Escalate based on your goal response times</p>
								</a>
							</div>
							<div class="col-md-12">
								<a class="tx-18 pd-y-15 pd-x-5 rounded tx-black d-block mg-b-20" href="javascript:;">
									<h4 class="tx-semibold mg-x-0 mg-t-0 mg-b-10">Avoid re-directing emails</h4>
									<p class="tx-16 ">Sort conversations by inbound email address</p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="c-tab-hilite__content t-bg-grey-200 screen-shadow">
							<div class="tab-content c-tab-hilite__tab-content">
								<div class="tab-pane c-tab-hilite__tab-pane fade in active" id="c-tab-hilite-1">
<span class="c-tab-hilite__icon">
  <img src="/images/features/help-desk/workflows/wf-examples--orangize.svg" alt="Organize">
</span>
									<img class="c-tab-hilite__image" width="334" src="/images/features/help-desk/workflows/workflow_example_1.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-primary pd-y-40">
			<div class="container">
				<div class="row">
					<div class="tx-center tx-white col-md-10 m-auto">
						<h2 class="mg-b-30"> Available on the Standard Plan </h2>
						<p class="tx-20 tx-white">choro aliquam cum, his suas ipsum minimum ne. Nec ei quot dicit iracundia, qui repudiare.</p>
						<div class="mg-t-10">
              <a href="javascript:;" class="btn btn-indigo"> Try Standard for Free </a>
						</div>
						<p>
							<p class='tx-white tx-16 mg-t-10'>Nec ei quot dicit iracundia? <a class='tx-white tx-underline' href='javascript:;'>Get started</a>
							</p>
						</p>
					</div>
				</div>
			</div>
		</section>
	</v-layout>
</template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
   */

  import VLayout from 'layouts/Default'

  export default {
    /**
     * The name of the page.
     */
    name: 'rent.index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
    },

    computed: {
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
